<!DOCTYPE html>
<html lang="ja">
    {{> dashboard-header}}
<body>
    {{> dashboard-nav}}
<!-- Template to List Users -->
<div class="container mt-5">
    <h2 class="mb-4">{{title}}</h2>
    <div class="d-flex justify-content-between">
        <div class="d-flex align-items-center mb-3">
            <a href="/admin/users" class="btn btn-outline-dark me-2">{{translations.admin_user.recent_users}}</a>
            <a href="/admin/users/registered" class="btn btn-outline-dark me-2">{{translations.admin_user.registered_users}}</a>
            <!-- Button to open modal -->
            <span id="openCsvModal" class="btn btn-primary">{{translations.admin_user.export_csv}}</span>
        </div>
        <div>
            <span class="badge bg-dark"><i class="bi bi-people me-2"></i>{{users.length}}</span>
            <span class="badge bg-danger"><i class="bi bi-gender-female me-2"></i>{{femaleCount}}人 ({{femalePercentage}}%)</span>
            <span class="badge bg-primary"><i class="bi bi-gender-male me-2"></i>{{maleCount}}人 ({{malePercentage}}%)</span>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="csvModal" tabindex="-1" aria-labelledby="csvModalLabel" aria-hidden="true">
    <div class="modal-dialog mx-0">
        <div class="modal-content mx-auto">
        <div class="modal-header">
            <h5 class="modal-title" id="csvModalLabel">{{translations.admin_user.column_csv}}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="d-flex flex-wrap justify-content-center">
                <button type="button" class="btn btn-outline-primary m-2 field-btn" data-field="createdAt">{{translations.admin_user.date}}</button>
                <button type="button" class="btn btn-outline-primary m-2 field-btn" data-field="email">{{translations.admin_user.email}}</button>
                <button type="button" class="btn btn-outline-primary m-2 field-btn" data-field="nickname">{{translations.admin_user.name}}</button>
                <button type="button" class="btn btn-outline-primary m-2 field-btn" data-field="gender">{{translations.admin_user.gender}}</button>
                <button type="button" class="btn btn-outline-primary m-2 field-btn" data-field="subscriptionStatus">{{translations.admin_user.subscription}}</button>
            </div>
            <input type="hidden" id="selectedFields" name="fields">
        </div>
        <div class="modal-footer">
            <button id="submitCsv" type="button" class="btn btn-success">{{translations.admin_user.download_csv}}</button>
        </div>
        </div>
    </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>{{translations.admin_user.date}}</th>
                    <th>{{translations.admin_user.email}}</th>
                    <th>{{translations.admin_user.name}}</th>
                    <th>{{translations.admin_user.gender}}</th>
                    <th>{{translations.admin_user.subscription}}</th>
                    <th>{{translations.admin_user.actions}}</th>
                </tr>
            </thead>
            <tbody>
                {{#each users}}
                <tr data-user-id="{{this._id}}">
                    <td>{{increment @index}}</td>
                    <td class="jp-d">{{this.createdAt}}</td>
                    <td>{{this.email}}</td>
                    <td>{{this.nickname}}</td>
                    <td>{{this.gender}}</td>
                    <td class="subscriptionStatus">{{this.subscriptionStatus}}</td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle shadow-0" type="button" id="dropdownMenuButton{{this._id}}" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-three-dots-vertical"></i>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton{{this._id}}">
                                <li>
                                    <button class="dropdown-item subscriptionToggle" data-user-id="{{this._id}}">
                                        <i class="bi bi-pencil-square me-2"></i> {{../translations.admin_user.toggle_subscription}}
                                    </button>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/admin/chat/{{this._id}}">
                                        <i class="bi bi-chat-dots me-2"></i> {{../translations.admin_user.chat}}
                                    </a>
                                </li>
                                <li>
                                    <button class="dropdown-item delete-user" data-user-id="{{this._id}}">
                                        <i class="bi bi-trash me-2"></i> {{../translations.admin_user.delete}}
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
    {{> dashboard-footer}}
</body>
    <script>
    $(document).ready(function(){
        $("#openCsvModal").click(function(){
            $("#csvModal").modal('show');
        });
        
        $('.field-btn').click(function(){
            $(this).toggleClass('selected');
            if($(this).hasClass('selected')){
            $(this).removeClass('btn-outline-primary').addClass('btn-primary');
            } else {
            $(this).removeClass('btn-primary').addClass('btn-outline-primary');
            }
            var fields = [];
            $('.field-btn.selected').each(function(){
            fields.push($(this).data('field'));
            });
            $('#selectedFields').val(fields.join(','));
        });

        $("#submitCsv").click(function(){
            var fields = $('#selectedFields').val();
            var query = fields.length ? '?fields=' + fields : '';
            window.location.href = '/admin/users/csv' + query;
        });
    });

        $(document).ready(function() {
            function convertToJapaneseDate(dateString) {
                var options = { 
                    year: 'numeric', 
                    month: 'long', 
                    day: 'numeric', 
                    weekday: 'long',
                    hour: '2-digit',
                    minute: '2-digit',
                    second: '2-digit',
                    hour12: false // Use 24-hour format
                };
                var date = new Date(dateString);
                return date.toLocaleDateString('ja-JP', options);
            }
            $('.jp-d').each(function() {
                var originalDate = $(this).text();
                var japaneseDate = convertToJapaneseDate(originalDate);
                $(this).text(japaneseDate);
            });
            $('.ip-agent').each(function() {
                var original = $(this).text();
                var newText = original.split('-')[0]
                $(this).text(newText);
            });
            $('.subscriptionToggle').on('click', function() {
                var userId = $(this).data('user-id');
                $.ajax({
                    type: 'PUT',
                    url: '/admin/users/' + userId + '/subscription',
                    success: function(response) {
                        console.log('Subscription toggled successfully!');
                        const subscriptionStatus = response.subscriptionStatus;
                        // Update the subscription status in the table
                        $(`tr[data-user-id="${userId}"] .subscriptionStatus`).text(subscriptionStatus);
                    },
                    error: function(xhr, status, error) {
                        console.log('Error toggling subscription:', error);
                        Swal.fire('Error!', 'Failed to toggle subscription.', 'error');
                    }
                });
            });
            $('.delete-user').on('click', function() {
                var userId = $(this).data('user-id');
                Swal.fire({
                    title: 'Are you sure?',
                    text: 'You are about to delete a user. This action is irreversible.',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Yes, delete user',
                    cancelButtonText: 'Cancel'
                }).then((result) => {
                    if (result.value) {
                    $.ajax({
                        type: 'DELETE',
                        url: '/admin/users/' + userId,
                        success: function() {
                        console.log('User deleted successfully!');
                        $(`tr[data-user-id="${userId}"]`).hide()
                        // You can also add code to remove the user from the table here
                        //Swal.fire('Deleted!', 'User has been deleted.','success');
                        },
                        error: function(xhr, status, error) {
                        console.log('Error deleting user:', error);
                        Swal.fire('Error!', 'Failed to delete user.', 'error');
                        }
                    });
                    }
                });
            });
        });
    </script>
</html>
