{{#if user}}
    {{#if user.isTemporary}}
        <li class="nav-item dropdown">
            <a class="btn btn-secondary custom-gradient-bg shadow-0" style="border-radius: 50px;" href="#" onclick="openLoginForm()">
                {{translations.login}}
            </a>
        </li>
        <li class="nav-item mx-2">
            <!-- Language Dropdown -->
            <div class="dropdown">
                <button data-user-lang="{{user.lang}}" class="btn btn-light dropdown-toggle" type="button" id="languageDropdownMenu" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-globe2"></i>
                </button>
                <ul class="dropdown-menu position-absolute dropdown-menu-end" aria-labelledby="languageDropdownMenu">
                    <li><a class="dropdown-item language-select" href="#" data-lang="ja">日本語</a></li>
                    <li><a class="dropdown-item language-select" href="#" data-lang="en">English</a></li>
                    <li><a class="dropdown-item language-select" href="#" data-lang="fr">Français</a></li>
                </ul>
            </div>
        </li>
                
    {{else}}
    <li class="nav-item dropdown onchat">
        <a data-mdb-dropdown-init class="d-none nav-link dropdown-toggle hidden-arrow d-inline align-items-center me-2 position-relative" href="#"
            id="notificationIcon" role="button" aria-expanded="false" data-userid="{{user._id}}">
            <div class="btn bg-white rounded-circle border-0 p-1" style="width: 35px; height: 35px;">
                <i class="bi bi-bell"></i>
            </div>
        </a>
        <ul class="d-none notifications-menu dropdown-menu dropdown-menu-end dropdown-menu-sm-end mx-3 border-0 shadow-0 bg-transparent"
            aria-labelledby="notificationIcon"
            style="max-height: 400px; overflow-y: auto;">
        </ul>

    </li>
    <li class="nav-item dropdown onchat">
        <a data-mdb-dropdown-init class="nav-link dropdown-toggle hidden-arrow d-inline align-items-center" href="#"
            id="navbarDropdownMenuLink" role="button" aria-expanded="false">
            <div class="btn rounded-circle p-0">
                <img src="{{#if user.profileUrl}}{{user.profileUrl}}{{else}}/img/avatar.png{{/if}}" 
                class="rounded-circle avatar" height="35px" alt="Avatar"
                loading="lazy" />
            </div>
        </a>
            <ul class="avatar-menu dropdown-menu dropdown-menu-end mx-3" aria-labelledby="navbarDropdownMenuLink">
                <li class="d-none">
                    <a class="dropdown-item text-white bg-secondary d-flex" href="/my-plan">
                        <i class="fas fa-layer-group me-3"></i> 
                        <span>{{translations.avatar.myPlan}}<span class="user-current-plan"></span></span>
                    </a>
                </li>
                <li>
                    <a class="dropdown-item text-secondary" href="/user/{{user._id}}">
                        <i class="fas fa-user-circle me-3"></i>{{translations.avatar.profile}}
                    </a>
                </li>
                <li>
                    <a class="dropdown-item text-secondary" href="#" onclick="redirectToChatPage()">
                        <i class="bi bi-chat me-3"></i>{{translations.chatList}}
                    </a>
                </li>
                <li class="d-none">
                    <a class="dropdown-item text-secondary" href="/chat/list/{{user._id}}">
                        <i class="fas fa-user-cog me-3"></i>{{translations.avatar.characters}}
                    </a>
                </li>
                <li>
                    <a class="dropdown-item text-secondary" href="#" onclick="loadCharacterCreationPage()">
                        <i class="fas fa-plus me-3"></i>{{translations.avatar.createCharacter}}
                    </a>
                </li>
                <li class="{{#if isAdmin }}{{else}}d-none{{/if}}">
                    <a class="dropdown-item text-secondary" href="/admin/users">
                        <i class="fas fa-users me-3"></i>{{translations.admin.users}}
                    </a>
                </li>
                <li class="{{#if isAdmin }}{{else}}d-none{{/if}}">
                    <a class="dropdown-item text-secondary" href="/admin/prompts">
                        <i class="fas fa-edit me-3"></i>{{translations.admin.prompts}}
                    </a>
                </li>
                <li class="{{#if isAdmin }}{{else}}d-none{{/if}}">
                    <a class="dropdown-item text-secondary" href="/admin/models">
                        <i class="fas fa-user-tie me-3"></i>{{translations.admin.models}}
                    </a>
                </li>
                <li class="{{#if isAdmin }}{{else}}d-none{{/if}}">
                    <a class="dropdown-item text-secondary" href="/admin/notifications">
                        <i class="fas fa-bell me-3"></i>{{translations.admin.notifications}}
                    </a>
                </li>
                <li>
                    <a class="dropdown-item text-secondary" href="#" onclick="loadSettingsPage()">
                        <i class="fas fa-cog me-3"></i>{{translations.avatar.settings}}
                    </a>
                </li>
                <hr>
                <li>
                    <a class="dropdown-item text-danger logout" href="#">
                        <i class="fas fa-sign-out-alt me-3"></i>{{translations.avatar.logout}}
                    </a>
                </li>
            </ul>
    </li>

    {{/if}}
{{else}}
        <li class="nav-item dropdown">
        <a class="btn btn-secondary custom-gradient-bg shadow-0 " style="border-radius: 50px;" href="/authenticate">
            {{translations.login}}
        </a>
    </li>
{{/if}}

<style>
    .avatar-menu .dropdown-item{
        padding: 7px 15px;
    }
    .avatar-menu li {
        padding: 5px 10px;
    }
    .animated.fadeInDown .swal2-image{
        margin:0;
    }
    .animated.fadeInDown .swal2-close{
        border:0;
    }
    .center-image {
        display: block; 
        margin: auto !important;
    }
</style>

<script>
  // Define the comingSoon function
  function displayComingSoon() {
    Swal.fire({
        title: '素晴らしいニュースが待っています！',
        text: '皆様のために、素晴らしいプレミアムプランをまもなくご提供します。ユーザー体験がさらに向上する新しい機能を楽しみにしていてください。',
        imageUrl: '/img/logo.webp',  // Path to your custom image
        imageWidth: 100,  // Width of the image (you can adjust this value)
        imageHeight: 100,  // Height of the image (you can adjust this value)
        imageAlt: 'Lamix',  // Alt text for the image
        confirmButtonText: 'わかりました！',
        confirmButtonColor: '#3085d6',
        showClass: {
            popup: 'swal2-bottom-slide-in'
        },
        hideClass: {
            popup: 'swal2-bottom-slide-out'
        },
        customClass: {
            popup: 'animated fadeInDown',
            image: 'center-image'
        }
    });
  }
</script>