<!-- Share Modal -->
<div class="modal fade" id="shareModal" tabindex="-1" aria-labelledby="openShareModal" aria-hidden="true">
    <div class="modal-dialog mx-0">
        <div class="modal-content mx-auto">
            <div class="modal-header">
                <h5 class="modal-title" id="shareModalLabel">Share</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body d-flex flex-column align-items-center">
                <button id="twitterShareButton" class="btn btn-outline-primary mb-2 col-lg-8 col-12">
                    <i class="bi bi-twitter me-2"></i>Twitter
                </button>
                <button id="facebookShareButton" class="btn btn-outline-primary mb-2  col-lg-8 col-12">
                    <i class="bi bi-facebook me-2"></i>Facebook
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Authenticate Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog mx-0">
        <div class="modal-content mx-auto ">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body bg-dark p-0 m-0" id="login-container"></div>
        </div>
    </div>
</div>
<!-- Settings Modal -->
<div class="modal fade " id="settingsModal" tabindex="-1" aria-labelledby="settingsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable mx-0">
        <div class="modal-content mx-auto">
            <div class="modal-header">
                <h5 class="modal-title" id="settingsModalLabel">{{translations.avatar.settings}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body position-relative">
                <div id="settings-container"></div>
            </div>
        </div>
    </div>
</div>
<!-- Character Creation Modal -->
<div class="modal fade" id="characterCreationModal" tabindex="-1" aria-labelledby="characterCreationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable mx-0">
        <div class="modal-content mx-auto">
            <div class="modal-header">
                <h5 class="modal-title" id="characterCreationModalLabel">{{translations.newCharacter.characterCreationForm}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body position-relative">
                <div id="character-creation-container"></div>
            </div>
        </div>
    </div>
</div>
<!-- Character Modal -->
<div class="modal fade" id="characterModal" tabindex="-1" aria-labelledby="characterModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable mx-0">
        <div class="modal-content mx-auto">
            <div class="modal-header">
                <h5 class="modal-title" id="characterModalLabel">{{translations.character.title}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body position-relative">
                <div id="character-modal-container"></div>
            </div>
        </div>
    </div>
</div>
<!-- Plan Upgrade Modal #plan-container-->
<div class="modal fade" id="planUpgradeModal" tabindex="-1" aria-labelledby="planUpgradeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable mx-0">
        <div class="modal-content mx-auto">
            <div class="modal-header">
                <h5 class="modal-title" id="planUpgradeModalLabel">{{translations.plan_page.subscription}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body m-0 p-0 position-relative">
                <div id="plan-container"></div>
            </div>
        </div>
    </div>
</div>
{{#if user.isTemporary}}
{{else}}
    {{#if (eq user.subscriptionStatus 'active')}}
    {{else}}
    <div class="sticky-bottom pt-0 pb-3 text-center onchat-off" style="bottom:0;left:0;right:0;">
        <button onclick="loadPlanPage()" class="btn d-flex justify-content-center align-items-center rounded-pill fw-bold custom-gradient-bg gap-2 px-2 py-1.5 text-sm text-white bg-white mx-auto" style="border: 1px solid #000;">
            <div>
            {{translations.premium}}
            <span class="text-rose-400 text-sm  text-danger">{{translations.discount}}</span>
            </div>
        </button>
    </div>
    {{/if}}
    <!-- Navigation , Home , search, create, explore, profile-->
<div class="sticky-bottom py-2 onchat-off" style="bottom:0; left:0; right:0; background-color: rgb(248, 249, 250);">
  <div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center w-100">
      <a class="text-dark flex-fill text-center" href="#" onclick="showDiscovery()">
        <i class="bi bi-house fs-4"></i>
      </a>
      <a class="text-dark flex-fill text-center" href="/search" target="_blank">
        <i class="bi bi-search fs-4"></i>
      </a>
      <a class="text-dark flex-fill text-center" href="#" onclick="loadCharacterCreationPage()">
        <i class="bi bi-plus-square fs-4"></i>
      </a>
      <a class="text-dark flex-fill text-center" href="/character" target="_blank">
        <i class="bi bi-globe fs-4"></i>
      </a>
      <a class="text-dark flex-fill text-center" href="/user/{{user._id}}" target="_blank">
        <div class="btn rounded-circle p-0">
          <img src="{{#if user.profileUrl}}{{user.profileUrl}}{{else}}/img/avatar.png{{/if}}" class="rounded-circle avatar" height="35" width="35" alt="Avatar" loading="lazy" />
        </div>
      </a>
    </div>
  </div>
</div>


{{/if}}
<footer class="l-footer p-footer bg-dark text-light text-center onchat-off">
  <div class="bg-dark py-5">
    <div class="row mb-4 mx-0">
      <div class="col-12">
        <div class="social-section">
          <p class="text-light mb-2">{{translations.contactUs}}</p>
          <div class="d-flex justify-content-center">
            <a href="https://x.com/3goH4EQPR994998" target="_blank" class="btn btn-light rounded-circle mx-2 twitter-link">
              <i class="bi bi-twitter"></i>
            </a>
            <a href="https://www.instagram.com/animemuseai/" target="_blank" class="btn btn-light rounded-circle mx-2">
              <i class="bi bi-instagram"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row mx-0">
      <div class="col-12">
        <nav class="navbar navbar-expand-lg navbar-dark shadow-0">
          <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarContent">
              <ul class="navbar-nav d-flex flex-wrap border">
                <li class="nav-item m-1 d-none">
                  <a class="nav-link text-light" href="/about" target="_blank">{{translations.aboutService}}</a>
                </li>
                <li class="nav-item m-1 d-none">
                  <span class="text-light mx-2">|</span>
                </li>
                <li class="nav-item m-1">
                  <a class="nav-link text-light" href="https://blog.chatlamix.com/usage-policy/" target="_blank">{{translations.termsOfUse}}</a>
                </li>
                <li class="nav-item m-1">
                  <span class="text-light mx-2">|</span>
                </li>
                <li class="nav-item m-1">
                  <a class="nav-link text-light" href="https://blog.chatlamix.com/privacy-policy/" target="_blank">{{translations.privacyPolicy}}</a>
                </li>
                <li class="nav-item m-1">
                  <span class="text-light mx-2">|</span>
                </li>
                <li class="nav-item m-1">
                  <a class="nav-link text-light" href="https://blog.chatlamix.com/%e3%83%96%e3%83%ad%e3%82%b0/" target="_blank">{{translations.blog}}</a>
                </li>
                <li class="nav-item m-1">
                  <span class="text-light mx-2">|</span>
                </li>
                <li class="nav-item m-1">
                  <a class="nav-link text-light" href="/character" target="_blank">{{translations.characters}}</a>
                </li>
                <li class="nav-item m-1">
                  <span class="text-light mx-2">|</span>
                </li>
                <li class="nav-item m-1">
                  <a class="nav-link text-light" href="/search" target="_blank">{{translations.search}}</a>
                </li>
                <li class="nav-item m-1">
                  <span class="text-light mx-2">|</span>
                </li>
                <li class="nav-item m-1">
                  <a class="nav-link text-light" href="/tags" target="_blank">{{translations.tags}}</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</footer>
<script>
    window.API_URL = "{{apiurl}}";
    window.MODE = "{{mode}}";
    window.user = {{{json user}}};
    window.userId = window.user._id;
    window.isAdmin = {{isAdmin}};
    window.imageId = null;
    window.translations = {{{json translations}}};
    window.lang = window.translations.lang;
</script>
<script src="//code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ja.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="https://js.stripe.com/v3/"></script>
<script src="/js/moment-with-locales.js"></script>
<script src="/js/dashboard.js"></script>
<script src="/js/stability.js"></script>
<script src="/js/notifications.js"></script>
<script src="/js/websocket.js"></script>
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.3.2/mdb.umd.min.js"
></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script>
    
    document.addEventListener('DOMContentLoaded', function() {
    const observer = new IntersectionObserver((entries) => {
        entries.forEach(entry => {
            if (entry.isIntersecting) {
                entry.target.classList.remove('hidden'); // Remove the hidden class
                entry.target.classList.add('animate__animated');

                const sanitizedAnimate = entry.target.dataset.animate.replace(/[^a-zA-Z0-9-_]/g, '');
                entry.target.classList.add(sanitizedAnimate); // Apply sanitized animation class

                if (entry.target.dataset.delay && entry.target.dataset.delay !== '') {
                    const sanitizedDelay = entry.target.dataset.delay.replace(/[^a-zA-Z0-9-_]/g, '');
                    entry.target.classList.add(sanitizedDelay); // Apply sanitized delay
                }

                observer.unobserve(entry.target); // Stop observing after animation
            }
        });
    }, {
        threshold: 0.1 // Adjust the threshold as needed
    });

    document.querySelectorAll('[data-animate]').forEach(element => {
        element.classList.add('hidden'); // Add the hidden class initially
        observer.observe(element);
    });
});

window.loadTranslations = async function (lang) {
    const localTranslations = localStorage.getItem('translations');

    const response = await $.ajax({
        url: '/api/user/translations',
        method: 'POST',
        contentType: 'application/json',
        data: JSON.stringify({ lang })
    });

    if (response.success) {
        window.translations = response.translations;
        window.lang = lang;
    }

}

window.fetchAndAppendModels = function() {
    const chatDiscovery = document.getElementById('chat-discovery');
    const subscriptionStatus = user.subscriptionStatus == 'active'
    let apiUrl = '/api/models'
    $.get(apiUrl, function(response) {
        if (response.success) {
        response.models.forEach(model => {
            
            const premiumIndicator = model.premium 
                ? `<div class="position-absolute top-0 start-0">
                    <span class="badge custom-gradient-bg">
                        <i class="bi bi-gem"></i>
                    </span>
                </div>`
                : '';
            const modelElement = `
            <div class="position-relative">
                ${premiumIndicator}
                <img src="${model.image}" alt="${model.style}" 
                    class="${subscriptionStatus || !model.premium ? '' : 'is-premium'} style-option rounded me-2" 
                    data-id="${model.modelId}" 
                    data-style="${model.style}" 
                    data-model="${model.model}" 
                    data-version="${model.version}"
                    data-count="${model.chatCount}"
                    data-premium="${model.premium}"
                >
            </div>
            `;
            if(!subscriptionStatus){
                if(subscriptionStatus || !model.premium){
                    $(document).find('#imageStyleSelection').prepend(modelElement);
                    $(document).find('#imageStyleSelectionCharacterCreation').prepend(modelElement);
                }else{
                    $(document).find('#imageStyleSelection').append(modelElement);
                    $(document).find('#imageStyleSelectionCharacterCreation').append(modelElement);
                }
            }else{
                $(document).find('#imageStyleSelection').append(modelElement);
                $(document).find('#imageStyleSelectionCharacterCreation').append(modelElement);
            }
        });
            if($(document).find('#imageStyleTabs').length > 0){
                showNavTabs();
            }else {
                $(document).find('.style-option').eq(0).click();
            }
        } else {
        window.showNotification('Failed to fetch models', 'error');
        }
    });
};
let navInit = false;
function showNavTabs(){
    const styleSelection = document.getElementById('imageStyleSelection');
    const tabNav = document.getElementById('imageStyleTabs');
    const chatDiscovery = document.getElementById('chat-discovery');
    const subscriptionStatus = user.subscriptionStatus == 'active'

    if (styleSelection && tabNav) {
        const styleOptions = styleSelection.querySelectorAll('.style-option');

        styleOptions.forEach((option, index) => {
            const style = option.getAttribute('data-style');
            const modelId = option.getAttribute('data-id');
            const model = option.getAttribute('data-model');
            const version = option.getAttribute('data-version');
            const premium = option.getAttribute('data-premium');
            const imgSrc = option.getAttribute('src');
            const altText = option.getAttribute('alt');
            const chatCount = parseInt(option.getAttribute('data-count'), 10) || 0;

            // Skip rendering if `#chat-discovery` exists and count is 0
            if ( !modelId || (chatDiscovery && (chatCount == 0) ) ) return;

            const isActive = index === 0 ? 'active' : '';

            // Add count tag if `#chat-discovery` exists
            const countTag = chatDiscovery
                ? `<span 
                class="badge btn-light text-dark position-absolute top-0 end-0" 
                style="opacity:0.8;">
                ${chatCount}</span>`
                : '';
            // Add premium indicator (gem icon with custom gradient background)
            const premiumIndicator = premium === 'true'
                ? `<div class="position-absolute top-0 start-0">
                    <span class="badge custom-gradient-bg">
                        <i class="bi bi-gem"></i>
                    </span>
                </div>`
                : '';

            const tabItem = `
            <li class="nav-item position-relative" role="presentation" 
                ${chatCount == 0 ? `onclick="window.location='/chat/edit/?modelId=${modelId}'"` : ''}>
                <button class="nav-link ${isActive} rounded" 
                        id="${modelId}-tab" 
                        data-style="${style}" 
                        data-id="${modelId}" 
                        data-model="${model}" 
                        data-version="${version}" 
                        data-premium="${premium}"
                        type="button" role="tab"
                        style="background: url('${imgSrc}') no-repeat center center; background-size: cover;height: 70px;width: 70px;">
                    <span class="d-none">${altText}</span>
                    ${premiumIndicator}
                </button>
                ${countTag}
            </li>
            `;
            tabNav.innerHTML += tabItem;
        });

        if(chatDiscovery){
            tabNav.innerHTML += `
            <li class="nav-item position-relative bg-light rounded" role="presentation" onclick="loadCharacterCreationPage()">
                <button class="nav-link add-more" type="button" role="tab">
                    <i class="bi bi-plus-lg thumb-option d-flex justify-content-center align-items-center" style="font-size: 31px;"></i>
                </button>
            </li>
            `
        }


        $('#imageStyleSelection').remove();
    }

    // Handle tab clicks
    $(document).on('click','#imageStyleTabs button', function () {
        if($(this).hasClass('add-more')){
            return
        }
        $('#chat-gallery .chat-card-container').fadeOut()
        $('#imageStyleTabs button').removeClass('active');
        $(this).addClass('active');

        const modelId = $(this).data('id');
        const premium = $(this).data('premium');
        const model =  $(this).data('model');
        const style =  $(this).data('style');

        if(modelId){
            localStorage.setItem('chat-nav',`${modelId}`)
            let option = {imageStyle:style, imageModel:model, modelId, premium, userId: user._id, modal: true}
            if(chatDiscovery ){ option.userId = false }
            displayPeopleChat(1, option, 
            (ids) => {
            }, true);
        }
    });

    const chatNav_modelId = localStorage.getItem('chat-nav');
    if(navInit){
        return
    }
    if (chatNav_modelId && $(document).find(`#imageStyleTabs`).find(`#${chatNav_modelId}-tab`).length) {
        $(document).find(`#imageStyleTabs`).find(`#${chatNav_modelId}-tab`).click();
        navInit = true;
    } else {
        // Find the first tab with a modelId and click it
        $(document).find(`#imageStyleTabs button[data-id]`).first().click();
        navInit = true;
    }
}
window.updatePlanStatus = function(user){
  $.get('/user/plan/'+user._id,function(data){
      let message = `<span class="ms-1">&#x1F381;</span>`;
      if(!data.plan){
        $('.user-current-plan').each(function(){
          $(this).html(message).show()
        })
        return
      }
      const billingCycle = data.plan.billingCycle
      const currentPlanId = data.plan.currentPlanId

      $.get('/plan/list',function(data){
          const plans = data.plans
          const plan = plans.find((plan) => plan[`${billingCycle}_id`] === currentPlanId);
          if(!plan){
            message = `<span class="ms-1">&#x1F381;</span>`;
          }else{
            switch (plan.id) {
              case 'free':
                message = `<span class="ms-1">&#x1F381;</span>`;
                break;
              case 'premium':
                message = `<span class="ms-1"> &#x1F48E;</span>`;
                break;
              case 'special':
                message = ` <span class="ms-1">&#x1F525;</span>`;
                break;
              default:
                message = `<span class="ms-1">&#x1F381;</span>`;
            }
          }
          $('.user-current-plan').each(function(){
            $(this).html(message).show()
          })
      })
  })
}
 // Parse the URL and get query parameters
const urlParams = new URLSearchParams(window.location.search);

// Check if 'cancel-payment' parameter is true
if (urlParams.get('cancel-payment') === 'true') {
    // Display SweetAlert2 in Japanese
    Swal.fire({
        title: translations.payment_cancelled,
        text: translations.payment_not_completed,
        icon: 'info',
        showCloseButton: true
    });
    var currentUrl = window.location.href;
    var urlParts = currentUrl.split('?');
    urlParts[urlParts.length - 1] = '';
    var newUrl = urlParts.join('');
    if($('#chat-widget-container').length == 0){
        window.history.replaceState({ path: newUrl }, '', newUrl);
    }
}
// Reset all localStorage values that start with 'peopleChatCache_'
window.resetPeopleChatCache = function() {
    for (let key in localStorage) {
        if (key.startsWith('peopleChatCache_')) {
            localStorage.removeItem(key);
        }
    }
}
window.showDiscovery = function() {
    if (!window.location.pathname.includes('/chat/')) {
        window.location.href = '/chat/';
    }
    $('.onchat-on').hide()
    $('.onchat-on').addClass('d-none').css({
        'opacity': 0,
        'pointer-events': 'none',
        'visibility': 'hidden'
    });    
    $('.onchat-off').show()
    $('.onchat-off').removeClass('d-none').css({
        'opacity': '',
        'pointer-events': '',
        'visibility': ''
    }); 
    $('#promptContainer').slideUp('fast');
    resetChatUrl();
    window.postMessage('resizeIframe', '*');
}

window.showNotification = function(message, icon) {
    Swal.fire({
        position: 'top',
        icon: icon,
        title: message,
        showConfirmButton: false,
        timer: 3000,
        toast: true,
        customClass: {
            title: 'swal2-custom-title',
            popup: 'swal2-custom-popup'
        },
        showClass: {
            popup: 'animate__animated animate__slideInDown'
        },
        hideClass: {
            popup: 'animate__animated animate__slideOutUp'
        }
    });
}

window.fetchUser = async function() {
    try {
        const response = await fetch(`${API_URL}/api/user`, { method: 'GET' });
        if (!response.ok) throw new Error('Network response was not ok');
        const data = await response.json();
        return data.user;
    } catch (error) {
        console.error('Error fetching user:', error);
        return null;
    }
};
window.fetchMode = async function() {
    try {
        const response = await fetch('/api/mode', { method: 'GET' });
        if (!response.ok) throw new Error('Network response was not ok');
        const data = await response.json();
        return data.mode;
    } catch (error) {
        console.error('Error fetching mode:', error);
        return null
    }
};

$(document).ready(function(){
    fetchAndAppendModels();
    // User info popup
        
    function generateRandomNickname() {
        const adjectives = ["すばやい", "静かな", "強力な", "勇敢な", "明るい", "高貴な"];
        const nouns = ["ライオン", "トラ", "ファルコン", "フェニックス", "オオカミ", "イーグル"];
        return adjectives[Math.floor(Math.random() * adjectives.length)] + nouns[Math.floor(Math.random() * nouns.length)];
    }
    
    function UserInfoForm(){
        return `
            <div class="text-center mb-3">
                <h3 class="mt-3">${translations.userinfo.thankYou}</h3>
                <p style="font-size:14px;color:#aaa;">${translations.userinfo.provideInfo}</p>
            </div>
            <div class="form-group mb-3 text-start">
                <label for="nickname" class="form-label">
                    <span class="small" style="font-size:12px">${translations.userinfo.nickname}</span>
                    <span class="small text-muted" style="font-size:10px">${translations.userinfo.nicknameHint}</span>
                </label>
                <input id="nickname" type="text" class="form-control form-control-sm" placeholder="${translations.userinfo.nicknamePlaceholder}">
            </div>
            <div class="form-group mb-3 text-start">
                <label for="gender" class="form-label" style="font-size:12px">${translations.userinfo.gender}</label>
                <select class="form-select" id="gender" name="gender">
                    <option value="female" selected>${translations.userinfo.female}</option>
                    <option value="male">${translations.userinfo.male}</option>
                </select>
            </div>
            <div class="form-group mb-3 text-start">
                <label for="birthdate" class="form-label" style="font-size:12px">${translations.userinfo.birthdate}</label>
                <input id="birthdate" type="text" class="form-control" placeholder="${translations.userinfo.birthdatePlaceholder}" autocomplete="off">
            </div>
            <div class="form-check text-start mb-3">
                <input class="form-check-input" type="checkbox" value="" id="ageVerification">
                <label class="form-check-label" for="ageVerification">
                    ${translations.userinfo.ageVerification}
                </label>
            </div>
        `
    }
    
    function handleUserInfo(value,callback){
        const { nickname, birthYear, birthMonth, birthDay, gender, ageVerification } = value;
        const formData = new FormData();
        formData.append('nickname', nickname);
        formData.append('birthYear', birthYear);
        formData.append('birthMonth', birthMonth);
        formData.append('birthDay', birthDay);
        formData.append('gender', gender);
        formData.append('ageVerification', ageVerification);

        $.ajax({
            url: '/user/update-info',
            type: 'POST',
            processData: false,
            contentType: false,
            data: formData,
            success: function(response) {
                if(typeof callback == 'function'){callback(response)}
            },
            error: function() {
                showNotification('情報の更新中に問題が発生しました。','error')
                if(typeof callback == 'function'){callback()}
            }
        });
    }
    if(window.user.email && !window.user.ageVerification) {
        showPopupUserInfo();
    }
    function showPopupUserInfo(callback) {
        Swal.fire({
            html: UserInfoForm(),
            focusConfirm: false,
            confirmButtonText: window.translations.setting.saveUserInfo || '送信',
            allowOutsideClick: false,
            showCancelButton: false,
            customClass: {
                confirmButton: 'bg-secondary px-5',
                popup: 'bg-white border-top-custom-gradient rounded shadow',
                confirmButton : 'btn btn-md custom-gradient-bg shadow-0 border-0'
            },
            showClass: {
                popup: 'animate__animated animate__fadeIn'
            },
            hideClass: {
                popup: 'animate__animated animate__fadeOut'
            },
            didOpen: () => {
                flatpickr("#birthdate", {
                    locale: "ja",
                    dateFormat: "Y年m月d日",
                    maxDate: new Date(),
                    defaultDate: new Date(new Date().setFullYear(new Date().getFullYear() - 18)),
                });
                if (callback) callback();
            },
            preConfirm: () => {
                const nickname = $('#nickname').val();
                const birthdate = $('#birthdate').val();
                const gender = $('#gender').val();
                const ageVerification = $('#ageVerification').is(':checked');
    
                if (!nickname || !birthdate || !gender)  {
                    Swal.showValidationMessage('すべてのフィールドを入力してください');
                    return false;
                }
    
                if (!ageVerification) {
                    Swal.showValidationMessage('18歳以上であることを確認してください');
                    return false;
                }
    
                const dateParts = birthdate.match(/(\d{4})年(\d{1,2})月(\d{1,2})日/);
                if (!dateParts) {
                    Swal.showValidationMessage('有効な生年月日を選択してください');
                    return false;
                }
                const birthYear = dateParts[1];
                const birthMonth = dateParts[2];
                const birthDay = dateParts[3];
    
                const today = new Date();
                const birthDate = new Date(birthYear, birthMonth - 1, birthDay);
                let age = today.getFullYear() - birthDate.getFullYear();
                const m = today.getMonth() - birthDate.getMonth();
                if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) {
                    age--;
                }
    
                if (age < 18) {
                    Swal.showValidationMessage('18歳以上である必要があります');
                    return false;
                }
    
                handleUserInfo({ nickname, birthYear, birthMonth, birthDay, gender, ageVerification }, function(response){
                    window.user = response.user;
                });
            }
        }).then((result) => {
            
        });
    }

})
</script>
    
