<script src="//code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ja.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="https://js.stripe.com/v3/"></script>
<script src="/js/moment-with-locales.js"></script>
<script src="/js/dashboard.js"></script>
<script src="/js/notifications.js"></script>
<script src="/js/websocket.js"></script>
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.3.2/mdb.umd.min.js"
></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
    const observer = new IntersectionObserver((entries) => {
        entries.forEach(entry => {
            if (entry.isIntersecting) {
                entry.target.classList.remove('hidden'); // Remove the hidden class
                entry.target.classList.add('animate__animated');

                const sanitizedAnimate = entry.target.dataset.animate.replace(/[^a-zA-Z0-9-_]/g, '');
                entry.target.classList.add(sanitizedAnimate); // Apply sanitized animation class

                if (entry.target.dataset.delay && entry.target.dataset.delay !== '') {
                    const sanitizedDelay = entry.target.dataset.delay.replace(/[^a-zA-Z0-9-_]/g, '');
                    entry.target.classList.add(sanitizedDelay); // Apply sanitized delay
                }

                observer.unobserve(entry.target); // Stop observing after animation
            }
        });
    }, {
        threshold: 0.1 // Adjust the threshold as needed
    });

    document.querySelectorAll('[data-animate]').forEach(element => {
        element.classList.add('hidden'); // Add the hidden class initially
        observer.observe(element);
    });
});

window.loadTranslations = async function (lang) {
    const localTranslations = localStorage.getItem('translations');

    const response = await $.ajax({
        url: '/api/user/translations',
        method: 'POST',
        contentType: 'application/json',
        data: JSON.stringify({ lang })
    });

    if (response.success) {
        window.translations = response.translations;
        window.lang = lang;
    }

}

window.fetchAndAppendModels = function() {
    const chatDiscovery = document.getElementById('chat-discovery');
    const subscriptionStatus = user.subscriptionStatus == 'active'
    let apiUrl = '/api/models'
    $.get(apiUrl, function(response) {
        if (response.success) {
        response.models.forEach(model => {

            const modelElement = `
            <img src="${model.image}" alt="${model.style}" 
                class="${subscriptionStatus || !model.premium ? '' : 'is-premium'} style-option rounded me-2" 
                data-id="${model.modelId}" 
                data-style="${model.style}" 
                data-model="${model.model}" 
                data-version="${model.version}"
                data-count="${model.chatCount}"
                >
            `;

            if(!subscriptionStatus){
                if(subscriptionStatus || !model.premium){
                    $(document).find('#imageStyleSelection').prepend(modelElement);
                    $(document).find('#imageStyleSelectionCharacterCreation').prepend(modelElement);
                }else{
                    $(document).find('#imageStyleSelection').append(modelElement);
                    $(document).find('#imageStyleSelectionCharacterCreation').append(modelElement);
                }
            }else{
                $(document).find('#imageStyleSelection').append(modelElement);
                $(document).find('#imageStyleSelectionCharacterCreation').append(modelElement);
            }
        });
            if($(document).find('#imageStyleTabs').length > 0){
                showNavTabs();
            }else if($(document).find('#search-form').length == 0){
                $(document).find('.style-option').eq(0).click()
            }
        } else {
        window.showNotification('Failed to fetch models', 'error');
        }
    });
};

function showNavTabs(){
    const styleSelection = document.getElementById('imageStyleSelection');
    const tabNav = document.getElementById('imageStyleTabs');
    const chatDiscovery = document.getElementById('chat-discovery');
    const subscriptionStatus = user.subscriptionStatus == 'active'

    if (styleSelection && tabNav) {
        const styleOptions = styleSelection.querySelectorAll('.style-option');

        styleOptions.forEach((option, index) => {
            const style = option.getAttribute('data-style');
            const modelId = option.getAttribute('data-id');
            const model = option.getAttribute('data-model');
            const version = option.getAttribute('data-version');
            const imgSrc = option.getAttribute('src');
            const altText = option.getAttribute('alt');
            const chatCount = parseInt(option.getAttribute('data-count'), 10) || 0;

            // Skip rendering if `#chat-discovery` exists and count is 0
            if ( !modelId || (chatDiscovery && (chatCount == 0) ) ) return;

            const isActive = index === 0 ? 'active' : '';

            // Add count tag if `#chat-discovery` exists
            const countTag = chatDiscovery
                ? `<span class="badge bg-primary position-absolute top-0 end-0">${chatCount}</span>`
                : '';

            const tabItem = `
                <li class="nav-item position-relative" role="presentation" 
                    ${chatCount == 0 ? `onclick="window.location='/chat/edit/?modelId=${modelId}'"` : ''}>
                    <button class="nav-link ${isActive}" id="${modelId}-tab" data-style="${style}" data-id="${modelId}" data-model="${model}" data-version="${version}" type="button" role="tab">
                        <img src="${imgSrc}" alt="${altText}" class="tab-thumb thumb-option rounded me-2">
                        <span class="d-none">${altText}</span>
                    </button>
                    ${countTag}
                </li>
            `;
            tabNav.innerHTML += tabItem;
        });
        if(chatDiscovery){
            tabNav.innerHTML += `
            <li class="nav-item position-relative bg-light rounded" role="presentation" onclick="window.location='/chat/edit/'">
                <button class="nav-link" type="button" role="tab">
                    <i class="bi bi-plus-lg thumb-option d-flex justify-content-center align-items-center" style="font-size: 31px;"></i>
                </button>
            </li>
            `
        }


        $('#imageStyleSelection').remove();
    }

    // Handle tab clicks
    $(document).find('#imageStyleTabs button').on('click', function () {
        $('#chat-gallery .chat-card-container').fadeOut()
        $('#imageStyleTabs button').removeClass('active');
        $(this).addClass('active');

        var modelId = $(this).data('id');
        const model =  $(this).data('model');
        const style =  $(this).data('style');

        if(modelId){
            localStorage.setItem('chat-nav',`${modelId}`)
            let option = {imageStyle:style, imageModel:model, userId: user._id, modal: true}
            if(chatDiscovery ){ option.userId = false }
            displayPeopleChat(1, option);
        }
    });

    const chatNav_modelId = localStorage.getItem('chat-nav');

    if (chatNav_modelId && $(document).find(`#imageStyleTabs`).find(`#${chatNav_modelId}-tab`).length) {
        $(document).find(`#imageStyleTabs`).find(`#${chatNav_modelId}-tab`).click();
    } else {
        // Find the first tab with a modelId and click it
        $(document).find(`#imageStyleTabs button[data-id]`).first().click();
    }
}
window.updatePlanStatus = function(user){
  $.get('/user/plan/'+user._id,function(data){
      let message = `<span class="ms-1">&#x1F381;</span>`;
      if(!data.plan){
        $('.user-current-plan').each(function(){
          $(this).html(message).show()
        })
        return
      }
      const billingCycle = data.plan.billingCycle
      const currentPlanId = data.plan.currentPlanId

      $.get('/plan/list',function(data){
          const plans = data.plans
          const plan = plans.find((plan) => plan[`${billingCycle}_id`] === currentPlanId);
          if(!plan){
            message = `<span class="ms-1">&#x1F381;</span>`;
          }else{
            switch (plan.id) {
              case 'free':
                message = `<span class="ms-1">&#x1F381;</span>`;
                break;
              case 'premium':
                message = `<span class="ms-1"> &#x1F48E;</span>`;
                break;
              case 'special':
                message = ` <span class="ms-1">&#x1F525;</span>`;
                break;
              default:
                message = `<span class="ms-1">&#x1F381;</span>`;
            }
          }
          $('.user-current-plan').each(function(){
            $(this).html(message).show()
          })
      })
  })
}
 // Parse the URL and get query parameters
const urlParams = new URLSearchParams(window.location.search);

// Check if 'cancel-payment' parameter is true
if (urlParams.get('cancel-payment') === 'true') {
    // Display SweetAlert2 in Japanese
    Swal.fire({
        title: translations.payment_cancelled,
        text: translations.payment_not_completed,
        icon: 'info',
        showCloseButton: true
    });
    var currentUrl = window.location.href;
    var urlParts = currentUrl.split('?');
    urlParts[urlParts.length - 1] = '';
    var newUrl = urlParts.join('');
    if($('#chat-widget-container').length == 0){
        window.history.replaceState({ path: newUrl }, '', newUrl);
    }
}
window.showNotification = function(message, icon) {
    Swal.fire({
        position: 'top',
        icon: icon,
        title: message,
        showConfirmButton: false,
        timer: 3000,
        toast: true,
        customClass: {
            title: 'swal2-custom-title',
            popup: 'swal2-custom-popup'
        },
        showClass: {
            popup: 'animate__animated animate__slideInDown'
        },
        hideClass: {
            popup: 'animate__animated animate__slideOutUp'
        }
    });
}

window.fetchUser = async function() {
    try {
        const response = await fetch(`${API_URL}/api/user`, { method: 'GET' });
        if (!response.ok) throw new Error('Network response was not ok');
        const data = await response.json();
        return data.user;
    } catch (error) {
        console.error('Error fetching user:', error);
        return null;
    }
};
window.fetchMode = async function() {
    try {
        const response = await fetch('/api/mode', { method: 'GET' });
        if (!response.ok) throw new Error('Network response was not ok');
        const data = await response.json();
        return data.mode;
    } catch (error) {
        console.error('Error fetching mode:', error);
        return null
    }
};

$(document).ready(function(){

    fetchAndAppendModels();
// User info popup
        
    function generateRandomNickname() {
        const adjectives = ["すばやい", "静かな", "強力な", "勇敢な", "明るい", "高貴な"];
        const nouns = ["ライオン", "トラ", "ファルコン", "フェニックス", "オオカミ", "イーグル"];
        return adjectives[Math.floor(Math.random() * adjectives.length)] + nouns[Math.floor(Math.random() * nouns.length)];
    }
    
    function UserInfoForm(){
        return `
            <div class="text-center mb-3">
                <h3 class="mt-3">ご登録ありがとうございます！</h3>
                <p style="font-size:14px;color:#aaa;">よりパーソナライズされたチャット体験のために、以下の情報をご提供ください。</p>
            </div>
            <div class="form-group mb-3 text-start">
                <label for="nickname" class="form-label">
                    <span class="small" style="font-size:12px">ニックネーム</span>
                    <span class="small text-muted" style="font-size:10px">キャラクターに呼んでほしい名前</span>
                </label>
                <input id="nickname" type="text" class="form-control form-control-sm" placeholder="ニックネームを入力">
            </div>
            <div class="form-group mb-3 text-start">
                <label for="gender" class="form-label" style="font-size:12px">性別</label>
                <select class="form-select" id="gender" name="gender">
                    <option value="female" selected>女性</option>
                    <option value="male">男性</option>
                </select>
            </div>
            <div class="form-group mb-3 text-start">
                <label for="birthdate" class="form-label" style="font-size:12px">生年月日</label>
                <input id="birthdate" type="text" class="form-control" placeholder="生年月日を選択" autocomplete="off">
            </div>
            <div class="form-check text-start mb-3">
                <input class="form-check-input" type="checkbox" value="" id="ageVerification">
                <label class="form-check-label" for="ageVerification">
                    私は18歳以上です
                </label>
            </div>
        `
    }
    
    function handleUserInfo(value,callback){
        const { nickname, birthYear, birthMonth, birthDay, gender } = value;
        const formData = new FormData();
        formData.append('nickname', nickname);
        formData.append('birthYear', birthYear);
        formData.append('birthMonth', birthMonth);
        formData.append('birthDay', birthDay);
        formData.append('gender', gender);
    
        $.ajax({
            url: '/user/update-info',
            type: 'POST',
            processData: false,
            contentType: false,
            data: formData,
            success: function(response) {
                if(typeof callback == 'function'){callback()}
            },
            error: function() {
                showNotification('情報の更新中に問題が発生しました。','error')
                if(typeof callback == 'function'){callback()}
            }
        });
    }
    
    function showPopupUserInfo(callback) {
        Swal.fire({
            html: UserInfoForm(),
            focusConfirm: false,
            confirmButtonText: window.translations.setting.saveUserInfo || '送信',
            allowOutsideClick: false,
            showCancelButton: false,
            customClass: {
                confirmButton: 'bg-secondary px-5',
                popup: 'bg-white border-top-custom-gradient rounded shadow',
                confirmButton : 'btn btn-md custom-gradient-bg shadow-0 border-0'
            },
            showClass: {
                popup: 'animate__animated animate__fadeIn'
            },
            hideClass: {
                popup: 'animate__animated animate__fadeOut'
            },
            didOpen: () => {
                flatpickr("#birthdate", {
                    locale: "ja",
                    dateFormat: "Y年m月d日",
                    maxDate: new Date(),
                    defaultDate: new Date(new Date().setFullYear(new Date().getFullYear() - 18)),
                });
                if (callback) callback();
            },
            preConfirm: () => {
                const nickname = $('#nickname').val();
                const birthdate = $('#birthdate').val();
                const gender = $('#gender').val();
                const ageVerified = $('#ageVerification').is(':checked');
    
                if (!nickname || !birthdate || !gender)  {
                    Swal.showValidationMessage('すべてのフィールドを入力してください');
                    return false;
                }
    
                if (!ageVerified) {
                    Swal.showValidationMessage('18歳以上であることを確認してください');
                    return false;
                }
    
                const dateParts = birthdate.match(/(\d{4})年(\d{1,2})月(\d{1,2})日/);
                if (!dateParts) {
                    Swal.showValidationMessage('有効な生年月日を選択してください');
                    return false;
                }
                const birthYear = dateParts[1];
                const birthMonth = dateParts[2];
                const birthDay = dateParts[3];
    
                const today = new Date();
                const birthDate = new Date(birthYear, birthMonth - 1, birthDay);
                let age = today.getFullYear() - birthDate.getFullYear();
                const m = today.getMonth() - birthDate.getMonth();
                if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) {
                    age--;
                }
    
                if (age < 18) {
                    Swal.showValidationMessage('18歳以上である必要があります');
                    return false;
                }
    
                return { nickname, birthYear, birthMonth, birthDay, gender };
            }
        }).then((result) => {
            if (result.isConfirmed) {
                handleUserInfo();
            }
            
        });
    }

})
</script>
<div class="sticky-bottom py-0 text-center onchat-off" style="bottom:0;left:0;right:0;">
      <a href="/character" class="{{default isAdmin 'd-inline-block'}} m-2 btn px-4 py-2 border border-dark shadow btn-light" style="border-radius:40px;">
          <i class="fas fa-compass me-2"></i>{{translations.library}}
      </a>
      <a href="#" onclick="loadCharacterCreationPage()"  class="m-2 btn border border-dark shadow btn-secondary px-5 py-2" style="border-radius:40px;background:linear-gradient(90.9deg, rgb(222, 202, 255) 2.74%, #6E20F4 102.92%);">
          <i class="fas fa-plus me-2"></i>{{translations.createCharacter}}
      </a>
  </div>
  <footer class="l-footer p-footer bg-dark text-light text-center onchat-off">
  <div class="bg-dark py-5">
    <div class="row mb-4 mx-0">
      <div class="col-12">
        <div class="social-section" style="background-color: #343a40; padding: 20px; border-radius: 5px;">
          <p class="text-light mb-2">{{translations.contactUs}}</p>
          <div class="d-flex justify-content-center">
            <a href="https://x.com/Lamix253843" target="_blank" class="btn btn-light rounded-circle mx-2 twitter-link">
              <i class="bi bi-twitter"></i>
            </a>
            <a href="https://www.instagram.com/aichat_lamix/" target="_blank" class="btn btn-light rounded-circle mx-2">
              <i class="bi bi-instagram"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row mx-0">
      <div class="col-12">
        <nav class="navbar navbar-expand-lg navbar-dark shadow-0">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarContent">
      <ul class="navbar-nav d-flex flex-wrap border">
        <li class="nav-item m-1 d-none">
          <a class="nav-link text-light" href="/about" target="_blank">{{translations.aboutService}}</a>
        </li>
        <li class="nav-item m-1 d-none">
          <span class="text-light mx-2">|</span>
        </li>
        <li class="nav-item m-1">
          <a class="nav-link text-light" href="https:/blog.chatlamix.com/usage-policy/" target="_blank">{{translations.termsOfUse}}</a>
        </li>
        <li class="nav-item m-1">
          <span class="text-light mx-2">|</span>
        </li>
        <li class="nav-item m-1">
          <a class="nav-link text-light" href="https://blog.chatlamix.com/privacy-policy/" target="_blank">{{translations.privacyPolicy}}</a>
        </li>
        <li class="nav-item m-1">
          <span class="text-light mx-2">|</span>
        </li>
        <li class="nav-item m-1">
          <a class="nav-link text-light" href="https://blog.chatlamix.com/%e3%83%96%e3%83%ad%e3%82%b0/" target="_blank">{{translations.blog}}</a>
        </li>
        <li class="nav-item m-1">
          <span class="text-light mx-2">|</span>
        </li>
        <li class="nav-item m-1">
          <a class="nav-link text-light" href="/character" target="_blank">{{translations.characters}}</a>
        </li>
        <li class="nav-item m-1">
          <span class="text-light mx-2">|</span>
        </li>
        <li class="nav-item m-1">
          <a class="nav-link text-light" href="/search" target="_blank">{{translations.search}}</a>
        </li>
        <li class="nav-item m-1">
          <span class="text-light mx-2">|</span>
        </li>
        <li class="nav-item m-1">
          <a class="nav-link text-light" href="/tags" target="_blank">{{translations.tags}}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

      </div>
    </div>
  </div>
</footer>
