{{#if user.isTemporary}}
        <a class="btn btn-secondary custom-gradient-bg shadow-0 m-2 px-4 py-2" style="border-radius: 50px;" href="/authenticate">
            <i class="fas fa-sign-in-alt me-2"></i> ログイン
        </a>
    {{else}}
        <a data-mdb-dropdown-init class="nav-link dropdown-toggle hidden-arrow d-inline align-items-center" href="#"
            id="navbarDropdownMenuLink" role="button" aria-expanded="false">
            <img src="{{#if user.profileUrl}}{{user.profileUrl}}{{else}}/img/avatar.png{{/if}}" 
            class="rounded-circle avatar" height="32" alt="Avatar"
            loading="lazy" />
        </a>
        <ul class="avatar-menu dropdown-menu dropdown-menu-end mx-3" aria-labelledby="navbarDropdownMenuLink">
                <li>
                    <a class="dropdown-item text-white bg-secondary d-flex" href="/my-plan">
                        <i class="fas fa-layer-group me-3"></i> 
                        <span>私のプラン<span class="user-current-plan"></span></span>
                        
                    </a>
                </li>
                <li><a class="dropdown-item text-secondary" href="/user/{{user._id}}"><i class="fas fa-user-circle me-3"></i>プロフィール</a></li>
                <li><a class="dropdown-item text-secondary" href="/chat/list/{{user._id}}"><i class="fas fa-user-cog me-3 d-none"></i>キャラクター</a></li>
                <li><a class="dropdown-item text-secondary" href="/chat/edit/"><i class="fas fa-plus me-3"></i> キャラクター作成</a></li>
                <li><a class="dropdown-item text-secondary" href="/settings"><i class="fas fa-cog me-3"></i>設定</a></li>
                <hr>
                <li><a class="dropdown-item text-danger logout" href="#"><i class="fas fa-sign-out-alt me-3"></i> ログアウト</a></li>
        </ul>
{{/if}}
<style>
    .avatar-menu .dropdown-item{
        padding: 7px 15px;
    }
    .avatar-menu li {
        padding: 5px 10px;
    }
    .animated.fadeInDown .swal2-image{
        margin:0;
    }
    .animated.fadeInDown .swal2-close{
        border:0;
    }
    .center-image {
        display: block; 
        margin: auto !important;
    }
</style>

<script>
  // Define the comingSoon function
  function displayComingSoon() {
    Swal.fire({
        title: '素晴らしいニュースが待っています！',
        text: '皆様のために、素晴らしいプレミアムプランをまもなくご提供します。ユーザー体験がさらに向上する新しい機能を楽しみにしていてください。',
        imageUrl: '/img/logo.webp',  // Path to your custom image
        imageWidth: 100,  // Width of the image (you can adjust this value)
        imageHeight: 100,  // Height of the image (you can adjust this value)
        imageAlt: 'Lamix',  // Alt text for the image
        confirmButtonText: 'わかりました！',
        confirmButtonColor: '#3085d6',
        showClass: {
            popup: 'swal2-bottom-slide-in'
        },
        hideClass: {
            popup: 'swal2-bottom-slide-out'
        },
        customClass: {
            popup: 'animated fadeInDown',
            image: 'center-image'
        }
    });
  }
</script>