<script>
    chatCreationId = '{{chatId}}';
    window.isTemporaryChat = {{isTemporaryChat}};
</script>

    <!-- 1. キャラクター画像 -->
    <div id="step1" class="step">

            <!-- Character Creation Form -->
            <div id="characterCreationForm" class="container mt-3">
                
                <div class="row">
                    <!-- Left Column: Prompts and Button -->
                    <div class="col-lg-6 mb-4">
                        <div class="row mb-4">
                            <!-- Image Style Selection -->
                            <div class="row bg-light border py-2 mb-3 mx-0">
                                <h4 class="mb-4 text-start">{{translations.newCharacter.imageStyleSelectionTitle}}</h4>
                                <p class="text-start">
                                    {{translations.newCharacter.imageStyleSelectionDescription}}
                                </p>
                                <label class="form-label">{{translations.newCharacter.image_model}}</label>
                                <div id="imageStyleSelectionCharacterCreation" class="d-flex flex-row flex-nowrap overflow-auto mb-4"></div>
                                <input type="hidden" id="modelId" name="modelId" required>
                                <input type="hidden" id="imageStyle" name="imageStyle" required>
                                <input type="hidden" id="imageModel" name="imageModel" required>
                                <input type="hidden" id="imageVersion" name="imageVersion" required>
                            </div>

                            <div class="row justify-content-between character-generator bg-light border py-2 mb-3 mx-0">

                                <h4 class="mb-4 text-start">{{translations.newCharacter.characterPhysicalDescriptionTitle}}</h4>
                                <p class="text-start">
                                    {{translations.newCharacter.characterPhysicalDescriptionDescription}}
                                </p>

                                <!-- Gender -->
                                <div class="col-auto mb-3">
                                    <label for="gender" class="form-label"><i class="bi bi-asterisk text-danger me-2"></i>{{translations.newCharacter.genderLabel}}:</label>
                                    <select class="form-select" id="gender" name="gender">
                                        <option value="female">{{translations.newCharacter.female}}</option>
                                        <option value="male">{{translations.newCharacter.male}}</option>
                                        <option value="nonBinary">{{translations.newCharacter.nonBinary}}</option>
                                    </select>
                                </div>

                                <!-- Character Prompt Input -->
                                <div class="mb-2">
                                    <label for="characterPrompt" class="form-label"><i class="bi bi-asterisk text-danger me-2"></i>{{translations.newCharacter.character_prompt}}</label>
                                    <!-- List of tags -->
                                    <div class="mb-2">
                                        <label for="tags" class="form-label d-none">{{translations.newCharacter.tagsLabel}}:</label>
                                        <div class="scroll-container">
                                            {{#each tags}}
                                                <span type="button" class="badge bg-light text-secondary me-1 add-tag fw-light border">{{this}}</span>
                                            {{/each}}
                                        </div>
                                    </div>
                                    <textarea
                                        class="form-control"
                                        id="characterPrompt"
                                        name="characterPrompt"
                                        rows="4"
                                        maxlength="500"
                                        placeholder="{{translations.newCharacter.character_appearance_description}}"
                                    ></textarea>

                                    <!-- Character Personnality Input -->
                                    <div class="form-check mb-1 ms-1 mt-1">
                                        <input type="checkbox" class="form-check-input" id="enableEnhancedPrompt" name="enableEnhancedPrompt" checked>
                                        <label class="form-check-label" for="enableEnhancedPrompt">{{translations.newCharacter.enable_enhanced_prompt}}</label>
                                    </div>
                                </div>


                                <div class="mb-3">
                                    <textarea
                                        class="form-control"
                                        id="enhancedPrompt"
                                        name="enhancedPrompt"
                                        rows="3"
                                        readonly
                                    ></textarea>
                                </div>

                                <!-- Field to upload an image with an area -->
                                <div class="my-3">
                                    <label for="imageUpload" class="form-label">{{translations.imageForm.uploadAreaLabel}}</label>
                                    <div class="upload-area" id="uploadArea">
                                        <input type="file" class="form-control" id="imageUpload" name="imageUpload" accept="image/*" onchange="previewImage(event)" disabled>
                                    </div>
                                    <img id="imagePreview" src="#" alt="Image Preview" style="display: none; max-width: 100%; margin-top: 10px;">
                                    <a href="#" onclick="loadPlanPage()" class="is-premium  card p-2  custom-gradient-bg  mt-3 ">{{translations.unlock_more_customization_fields}}</a>
                                </div>
                                              
                            </div>

                            <div class="row justify-content-between bg-light border py-2 mb-3 mx-0 character-personnality-">

                                <!-- 3. CHaracter Personnalityy -->
                                <h4 class="mb-4 text-start">{{translations.newCharacter.characterPersonalityTitle}}</h4>
                                <p class="text-start">
                                    {{translations.newCharacter.characterPersonalityDescription}}
                                </p>

                                <!-- Name -->
                                <div class="row mx-0 px-0">
                                    <div class="col-12 col-sm-6 mb-3">
                                        <label for="chatName" class="form-label">{{translations.newCharacter.nameLabel}}:</label>
                                        <input type="text" class="form-control" id="chatName" name="chatName" placeholder="{{translations.newCharacter.namePlaceholder}}">
                                    </div>
                                </div>
                                    
                                <div id="chatPurpose-container" class="mb-3">
                                    <div class="d-flex justify-content-between">
                                        <label for="chatPurpose" class="form-label">{{translations.newCharacter.characterDetailsLabel}}</label>
                                    </div>
                                    <textarea class="form-control mb-2" id="chatPurpose" name="content" rows="3" placeholder="{{translations.newCharacter.characterDetailsPlaceholder}}"></textarea>
                                </div>
                            </div>
                                                    
                            <!-- 4. Single Action Button -->
                            <div class="row mx-0">
                                <button type="button" id="generateButton" class="btn custom-gradient-bg btn-lg text-white d-flex align-items-center justify-content-center">
                                    <i class="bi bi-magic me-2"></i>{{translations.newCharacter.generate_with_AI}}
                                </button>
                                <span class="w-100 text-center text-muted genexp" style="font-size: 12px;display:none;">{{translations.newCharacter.image_generation_message}}</span>
                            </div>

                        </div>
                    </div>

                    <!-- Right Column: Generated Image -->
                    <div class="col-lg-6 mb-4 d-flex flex-column align-items-center">
                        <!-- 3. Generated Image Display -->
                        <label class="form-label d-block mb-2 text-center">{{translations.newCharacter.generatedImageLabel}}</label>
                        <div id="imageContainer" class="row mb-4 w-100">
                            <img
                                id="generatedImage"
                                src="/img/default-character.png"
                                alt="{{translations.newCharacter.generatedImageAlt}}"
                                class="img-fluid rounded"
                                style="width: 100%; object-fit: contain;"
                            >
                        </div>
                        <div id="imageUploaderContainer" class="w-100" style="cursor: pointer;">
                            <!-- You can add an image uploader here if needed -->
                        </div>
                        <div class="row w-100 chatRedirection" style="display:none;">
                            <span type="button" id="redirectToChat" class="btn custom-gradient-bg  mt-3">{{translations.newCharacter.start_chat_and_image_generation}}</span>
                            <p class="text-center text-muted mt-2">{{translations.newCharacter.start_chat_and_image_generation_description}}</p>
                        </div>
                      
                    </div>
                </div> 
        </div>
    </div>
</body>
</html>
