<!DOCTYPE html>
<html lang="ja">
   {{> dashboard-header}}
<body>
    {{> dashboard-nav}}

    <style>


    .animated.fadeInDown .swal2-image{
        margin:0;
    }
    .animated.fadeInDown .swal2-close{
        border:0;
    }
    /* Custom animation for sliding in from the bottom */
    .swal2-bottom-slide-in {
        animation: bottom-slide-in 0.5s;
    }

    .swal2-bottom-slide-out {
        animation: bottom-slide-out 0.5s;
    }

    @keyframes bottom-slide-in {
        0% {
            transform: translateY(100%);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }

    @keyframes bottom-slide-out {
        0% {
            transform: translateY(0);
            opacity: 1;
        }
        100% {
            transform: translateY(100%);
            opacity: 0;
        }
    }
    .custom-gradient-bg {
        background: linear-gradient(90.9deg, #D2B8FF 2.74%, #8240FF 102.92%);
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        transition: color 0.3s ease-in-out;
    }

    .custom-gradient-bg::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 300%;
        height: 300%;
        background: radial-gradient(circle, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 80%);
        transform: translate(-50%, -50%) scale(0);
        transition: transform 0.5s ease-in-out;
        z-index: 0;
    }

    .custom-gradient-bg:hover::before {
        transform: translate(-50%, -50%) scale(1);
    }

    .custom-gradient-bg:hover {
        color: #fff;
    }
    #chatImage{
        width: 100px;
        height: 100px; 
        object-fit:cover;
        object-position:top;
    }
    #chatImage.on{
        width: auto !important;
        height: 270px !important;
    }
    .btn-gradient-radius {
        display: inline-block;
        padding: 7px 20px;
        border-radius: 25px;
        text-decoration: none;
        color: #FFF;
        background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
        transition: .4s;
        font-size: 21px;
    }
    label{
        font-size: 14px;
        color: #aaaaaa;
    }
    #sendMessage,
    #chatInput .load {
        border-left: 0 !important;
        border-radius: 0px 30px 30px 0px !important;
        box-shadow: none;
    }
    #userMessage {
        border-radius: 30px 0px 0px 30px !important;
        background-color: #f8f9fa;
    }
    #userMessage:focus {
        outline: none;
        box-shadow: none; /* If there is a box shadow applied on focus */
    }
    .button-group{
        top:0;
        right: 15px;
    }
    .scroll-container {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
    }
    .scroll-container > * {
      flex: 0 0 auto;
      width: auto;
    }
    .card-text.template{
        font-size: 12px;
    }
    /*Custom css*/
    label{
        font-size: 12px;
        color: #8d8b8b;
    }
    .avatar-xl img {
        width: 110px;
    }
    .rounded-circle {
        border-radius: 50%;
    }
    .rounded-circle.on {
        border-radius: 15px !important;
    }
    img {
        vertical-align: middle;
        border-style: none;
    }
    .text-muted {
        color: #aeb0b4 !important;
    }
    .text-muted {
        font-weight: 300;
    }
    .form-control {
        display: block;
        width: 100%;
        height: calc(1.5em + 0.75rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.5;
        color: #4d5154;
        background-color: #ffffff;
        background-clip: padding-box;
        border: 1px solid #eef0f3;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    #markdownContainer {
        margin-bottom: 20px;
        padding: 20px;
        border: 1px solid #eef0f3;
        border-radius: 4px;
    }
    .auto-gen{
        font-size: 10px;
        border-radius: 50px;
    }
    </style>

<div class="container my-4 px-0">
        <div id="imageSection" class="text-center mb-4">
            <div class="mx-auto p-auto text-center d-flex align-items-center justify-content-center position-relative">
                <img id="chatImage" src="/img/logo.webp" alt="chat Thumbnail" class="rounded-circle" style="cursor: pointer;">
                <i class="fas fa-edit position-absolute" style="bottom: 5px; font-size: 1em; color: white; background-color: rgba(0, 0, 0, 0.5); border-radius: 50%; padding: 5px;cursor: pointer;"></i>
            </div>
        </div>

    <form id="chatForm" class="mb-5 pb-5 mx-0">

        <div class="mb-3 mx-3" id="thumbnailInputContainer" style="display: none;">
            <label for="chatThumbnail" class="form-label">チャットのサムネイルをアップロード</label>
            <input type="file" id="chatThumbnail" name="thumbnail" accept="image/*" style="display: none;">
        </div>
        <div class="mb-3 mx-3 d-none">
            <label for="chatImageUrl" class="form-label">chatImage</label>
            <input type="text" class="form-control" id="chatImageUrl" name="chatImageUrl" placeholder="URLを入力してください" value="" hidden>
        </div>

        <div class="mb-3 mx-3 row justify-content-between">
            <div class="col-auto ps-0">
                <label for="visibility" class="form-label"><i class="fas fa-eye"></i> 公開設定:</label>
                <select class="form-select w-auto" id="visibility" name="visibility">
                    <option value="public" selected><i class="fas fa-globe"></i> 公開</option>
                    <option value="private"><i class="fas fa-lock"></i> 非公開</option>
                </select>
            </div>
            <div class="col-auto">
                <label for="language" class="form-label"><i class="fas fa-language"></i> 言語:</label>
                <select class="form-select w-auto" id="language" name="language">
                    <option value="japanese" selected><i class="fas fa-flag"></i> 日本語</option>
                </select>
            </div>
            <div class="col-auto pe-0">
                <label for="gender" class="form-label"><i class="fas fa-user"></i> 性別:</label>
                <select class="form-select w-auto" id="gender" name="gender">
                    <option value="female" selected><i class="fas fa-female"></i> 女性</option>
                    <option value="male"><i class="fas fa-male"></i> 男性</option>
                </select>
            </div>
        </div>

        <div id="chatPurpose-container" class="mb-3 mx-3">
            <div class="d-flex justify-content-start align-items-end mb-1">
                <label for="chatPurpose" class="d-none form-label">キャラクターの詳細</label>
                <button type="button" id="resetForm" class="btn btn-sm btn-light border-0 shadow-0"><i class="fas fa-eraser"></i></button>
                <button type="button" id="ai-assist" class="btn btn-sm custom-gradient-bg shadow-0">
                    <i class="fa fa-spinner fa-spin fa-fw fa-hidden me-2" style="display: none;"></i>
                    <i class="fa fa-magic me-2"></i>
                    AI生成
                </button>
            </div>
            <textarea class="form-control" id="chatPurpose" name="content" rows="3" 
            placeholder="キャラクターの詳細：中村美咲（27歳）は明るく社交的なOLで、責任感が強く、チームをサポートする姿勢が評価されている。趣味は旅行とカフェ巡りで、休日には友達と過ごすことが多い。話し方は礼儀正しく丁寧でありながら柔らかく、安心感を与える。"></textarea>
        </div>

        <div class="mb-3 mx-3">
            <div class="d-flex justify-content-between align-items-end">
                <label for="chatName" class="d-none form-label">名前</label>
            </div>
            <input type="text" class="form-control" id="chatName" name="name" placeholder="名前" contenteditable="false" required style="display:none;">
        </div>

        <div class="mb-3 mx-3">
            <label for="chatDescription" class="d-none form-label">簡単な説明</label>
            <textarea class="form-control" id="chatDescription"  style="display:none;" name="content" rows="3" placeholder="簡単な説明" ifplaceholder="チャットボットの詳細な説明をここに記入してください。どのような機能を持たせたいのか、どのようなユーザーに向けたものなのか、具体的なシナリオや対話の流れなど、できるだけ詳しく記載してください。ユーザーがどのようにチャットボットとやり取りするかの例も含めてください。" required></textarea>
        </div>

        <div class="mb-3 mx-3">
            <div class="d-flex-none d-none justify-content-between align-items-end">
                <label for="chatRule" class="d-none form-label" >話し方</label>
            </div>
            <textarea class="d-none form-control" id="chatRule" name="content" rows="5" placeholder="話し方" ifplaceholder="チャットボットの動作についての指示をここに記入してください。ユーザーに対する返答のトーン、応答のスタイル、特定の状況に対する反応、使用する言葉遣いなど、チャットボットがどのように振る舞うべきかをできるだけ詳しく記載してください。"></textarea>
            <div id="markdownContainer" class="border-0 p-0 text-start" contenteditable="false" style="display: none;"></div>
        </div>
        <button type="button" id="addMoreGallery" class="btn btn-light is-premium d-none"><i class="fas fa-plus-circle"></i></button>
        <div id="galleries">
            <div class="imageGalleryWrapper mb-3 mx-3 is-premium d-none">
                <div class="d-flex justify-content-between align-items-end">
                    <label for="imageGallery-0-name" class="d-none form-label">アルバム名</label>
                </div>
                <div class="d-flex">
                    <input type="text" class="form-control" id="imageGallery-0-name" name="imageGallery_0_name" placeholder="アルバム名" contenteditable="false">
                    <input type="number" class="form-control" id="imageGallery-0-price" name="imageGallery_0_price" placeholder="アルバム価格" min="100" max="100000">
                </div>
                <textarea row="3" class="form-control" id="imageGallery-0-description" name="imageGallery_0_description" placeholder="アルバム説明" contenteditable="false"></textarea>
                <div id="imageGallery-0"></div>
            </div>
        </div>
        <div class="sticky-bottom px-3 pb-3">
            <button type="submit" id="sendForm" class="btn custom-gradient-bg btn-large w-100" style="border-radius:50px;display:none;">
                    <i class="fa fa-spinner fa-spin fa-fw fa-hidden d-none me-2"></i>
                    <span>チャット</span>
            </button>
        </div>
    </form>
</div>
 {{> dashboard-footer}}
<link type="text/css" rel="stylesheet" href="/css/image-uploader.css">
<script type="text/javascript" src="/js/image-uploader.js"></script>
<script>
    $(document).ready(function() {
        $('.dropdown-toggle').each(function(e) {
            new mdb.Dropdown($(this)[0]);
        });
        var count = 0
        let chatId = '{{chatId}}';
        const isTemporaryChat = '{{isTemporaryChat}}'
        const user = {{{json user}}}
        const subscriptionStatus = user.subscriptionStatus == 'active'
        let isAutoGen = false
        if(subscriptionStatus){
            $('.is-premium').each(function(){$(this).toggleClass('d-none')})
        }
        $('input, textarea').val('');
        $('#resetForm').on('click',function(){
            $('input, textarea').val('');
            $('input, textarea').prop('disabled', false);
            $('#chatName').hide()
            $('#chatDescription').hide()
            $('#chatPurpose').show()
            $('#chatPurpose-markdownContainer').hide()
            $('#markdownContainer').hide()
            $('#chatPurpose-markdownContainer').html('')
            $('#markdownContainer').html('')
            $('#sendForm').hide()
            $('#sendForm span').html('チャット')
        })

    const urlParams = new URLSearchParams(window.location.search);
    const chatImageUrl = urlParams.get('chatImage');
    if (chatImageUrl) {
        setTimeout(function(){
            $('#chatImageUrl').val(chatImageUrl).change();
        },500)
        $('#chatImage').attr('src', chatImageUrl).show().addClass('on');
    }

    function checkFieldsAndShowForm() {
        if ($('#chatName').val().trim() !== '' && 
            $('#chatDescription').val().trim() !== '' && 
            $('#chatPurpose').val().trim() !== '') {
            $('#sendForm').show();
        } else {
            $('#sendForm').hide();
        }
    }
    $('#chatName, #chatDescription, #chatPurpose').on('input', checkFieldsAndShowForm);

        if (isTemporaryChat == 'false') {
            fetchchatData(chatId);
        }else{
            $('#imageGallery-0').imageUploader({
                maxSize: 2 * 1024 * 1024,
                maxFiles: 50
            });
        }
        $('textarea').each(function() {
            resizeTextarea(this);
            $(this).on('input change', function() {
                resizeTextarea(this);
            });
        });

        function fetchUser(callback) {
            $.ajax({
                url: API_URL+'/api/user',
                method: 'GET',
                success: function(response) {
                    if (callback && typeof callback === 'function') {
                        callback(null, response.user);
                    }
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    console.error('Error fetching user:', textStatus, errorThrown);
                    if (callback && typeof callback === 'function') {
                        callback(new Error(textStatus + ': ' + errorThrown), null);
                    }
                }
            });
        }
        $('#visibility').val('public')
        $('#visibility').change(function() {
            
            const user = {{{json user}}}
            const userId = user._id
            if(!user){
                fetchUser(function(error, user){
                    user = localStorage.setItem('user',JSON.stringify(user))
                    if(user.subscriptionStatus == 'active'){
                        return
                    }else{
                        if ($(this).val() === 'private') {
                            showUpgradePopup('chat-private');
                            $(this).val('public');
                        }
                    }
                })
            }
            if(user.subscriptionStatus == 'active'){
                return
            }else{
                if ($(this).val() === 'private') {
                    showUpgradePopup('chat-private');
                    $(this).val('public');
                }
            }
        });

        function resizeTextarea(element){
            if($(element).val().trim()!=''){
                element.style.height = 'auto';
                element.style.height = (element.scrollHeight) + 'px';  
            }else{
                element.style.height = 'auto'; 
            }
        }

        $('#chatImage').parent().click(function() {
            $('#chatThumbnail').click();
        });

        $('#chatThumbnail').change(function(event) {
            const reader = new FileReader();
            reader.onload = function(e) {
                $('#chatImage').attr('src', e.target.result).show().addClass('on');
            }
            reader.readAsDataURL(event.target.files[0]);
        });
        
        function addNewGallery(init = false) {
            let galleryIndex = $('.imageGalleryWrapper').length;
            let newGalleryWrapper = $('.imageGalleryWrapper').eq(0).clone();

            newGalleryWrapper.find('[for^="imageGallery-"]').each(function() {
                const currentFor = $(this).attr('for');
                const newFor = currentFor.replace(/\d+/, galleryIndex);
                $(this).attr('for', newFor);
            });

            newGalleryWrapper.find('[id^="imageGallery-"]').each(function() {
                const currentId = $(this).attr('id');
                const newId = currentId.replace(/\d+/, galleryIndex);
                $(this).attr('id', newId);
            });

            newGalleryWrapper.find('[name^="imageGallery_"]').each(function() {
                const currentName = $(this).attr('name');
                const newName = currentName.replace(/\d+/, galleryIndex);
                $(this).attr('name', newName);
            });

            newGalleryWrapper.find('input[type="text"], input[type="number"]').val('');
            newGalleryWrapper.find(`#imageGallery-${galleryIndex}`).empty();

            $('#galleries').prepend(newGalleryWrapper);

            if(init){
                $(`#imageGallery-${galleryIndex}`).imageUploader({
                    maxSize: 2 * 1024 * 1024,
                    maxFiles: 50
                });
            }

        }

        $('#addMoreGallery').on('click', function(){addNewGallery(true);});



        function fetchchatData(chatId) {
            $.ajax({
                url: `/api/chat-data/${chatId}`,
                type: 'GET',
                dataType: 'json',
                success: function(chatData) {
                    
                    if(chatData.isAutoGen == 'true'){
                        $('input, textarea').prop('disabled', true);
                        $('#chatPurpose').hide();
                        $('#chatPurpose-markdownContainer').show()
                    }
                    if(chatData.purpose){
                        var htmlContent = marked.parse(chatData.purpose);
                        $('#chatPurpose-container').show()
                        //$('#chatPurpose-markdownContainer').html(htmlContent)
                        $('#chatPurpose').val(chatData.purpose)
                        setTimeout(function(){
                            resizeTextarea($('#chatPurpose')[0])
                        },500)
                    }
                    if(chatData.name){
                        $('#chatName').val(chatData.name);
                        $('#chatName').parent().show()
                        $('#sendForm span').html(`${chatData.name}とチャットする`)
                    }
                    if(chatData.visibility){
                        
                        const user = {{{json user}}}
                        const userId = user._id
                        if(user.subscriptionStatus == 'active'){
                            $('#visibility').val(chatData.visibility)
                        }
                    }
                    if(chatData.language){
                        $('#language').val(chatData.language)
                    }
                    if(chatData.gender){
                        $('#gender').val(chatData.gender)
                    }
                    if(chatData.category){
                        $('#chatCategory').val(chatData.category);
                    }
                    
                    var chatDescriptionTextare = $('#chatDescription')
                    if(chatData.description){
                        chatDescriptionTextare.val(chatData.description);
                        setTimeout(function(){
                            resizeTextarea(chatDescriptionTextare[0]);
                        },500)
                        chatDescriptionTextare.parent().show()
                    }
                    
                    var chatRuleTextarea = $('#chatRule');
                    if(chatData.rule){
                        chatRuleTextarea.val(chatData.rule);
                        $('#markdownContainer').show()
                        $('#markdownContainer').html(marked.parse(chatData.rule));
                    }

                    if (chatData.thumbnailUrl && chatData.thumbnailUrl != undefined) {
                        $('#chatImageUrl').val(chatData.thumbnailUrl);
                        $('#chatImage').attr('src', chatData.thumbnailUrl).show().addClass('on');
                    }
                    if (chatData.chatImageUrl && chatData.chatImageUrl != undefined) {
                        $('#chatImageUrl').val(chatData.chatImageUrl);
                        $('#chatImage').attr('src', chatData.chatImageUrl).show().addClass('on');
                    }


                        if (chatData.galleries && chatData.galleries.length > 0) {

                            chatData.galleries.forEach((gallery, galleryIndex) => {

                                if (gallery.images && gallery.images.length > 0) {
                                    let preloaded = gallery.images.map((imageUrl, idx) => {
                                        return {
                                            id: idx + 1, 
                                            src: imageUrl  
                                        };
                                    });
                                    
                                    if($(`#imageGallery-${galleryIndex}`).length == 0){
                                        addNewGallery()
                                    }

                                    $(`#imageGallery-${galleryIndex}-name`).val(gallery.name);
                                    $(`#imageGallery-${galleryIndex}-price`).val(gallery.price);
                                    $(`#imageGallery-${galleryIndex}-description`).val(gallery.description);
                                    $(`#imageGallery-${galleryIndex}`).imageUploader({
                                        preloaded: preloaded,
                                        imagesInputName: 'photos',
                                        preloadedInputName: 'old',
                                        maxSize: 2 * 1024 * 1024,
                                        maxFiles: 50
                                    });
                                } else {
                                    $(`#imageGallery-${galleryIndex}`).imageUploader({
                                        maxSize: 2 * 1024 * 1024,
                                        maxFiles: 50
                                    });
                                }

                            });
                        }
                    checkFieldsAndShowForm()
                    $('#chatForm').removeClass('d-none')
                    //$('#genStructure').removeClass('btn-outline-secondary').addClass('btn-secondary')
                },
                error: function(xhr, status, error) {
                   console.log(`New tempry chat`)
                }
            });
        }

        function getFilesFromGallery(galleryId) {
            let files = [];
            $(galleryId).find('.image-uploader input[type="file"]').each(function() {
                $.each(this.files, function(_, file) {
                    files.push(file);
                });
            });
            if(files.length == 0){
                $(galleryId).find('.uploaded-image img').each(function() {
                    files.push($(this).attr('src'));
                });
            }
            return files;
        }
        // Form Submission
        $('#chatForm').on('submit', function(e) {
            e.preventDefault();
            $('#sendForm .fa-spinner').toggleClass('d-none');

            const formData = new FormData();
            formData.append('name', $('#chatName').val());
            formData.append('purpose', $('#chatPurpose').val());
            formData.append('language', $('#language').val());
            formData.append('gender', $('#gender').val());
            formData.append('description', $('#chatDescription').val());
            formData.append('rule', $('#chatRule').val());
            formData.append('visibility', $('#visibility').val());
            formData.append('isAutoGen', isAutoGen);

            const file = $('#chatThumbnail')[0].files[0];
            if (file) {
                formData.append('thumbnail', file);
            } else {
                const chatImageUrl = $('#chatImageUrl').val();
                if (chatImageUrl) {
                    formData.append('chatImageUrl', chatImageUrl);
                }
            }

            if (chatId) {
                formData.append('chatId', chatId);
            }
            // Loop through all galleries and append their data
            $('#galleries .imageGalleryWrapper').each(function(index) {
                const galleryIndex = index; // Use the loop index to handle multiple galleries
                formData.append(`imageGallery_${galleryIndex}_name`, $(`#imageGallery-${galleryIndex}-name`).val());
                formData.append(`imageGallery_${galleryIndex}_price`, $(`#imageGallery-${galleryIndex}-price`).val());
                formData.append(`imageGallery_${galleryIndex}_description`, $(`#imageGallery-${galleryIndex}-description`).val());

                const galleryFiles = getFilesFromGallery(`#imageGallery-${galleryIndex}`);
                galleryFiles.forEach(file => formData.append(`imageGallery_${galleryIndex}_Images[]`, file)); // Append gallery files
            });

            $.ajax({
                url: '/api/add-chat',
                type: 'POST',
                processData: false,
                contentType: false,
                data: formData,
                success: function(response) {
                    console.log('Success:', response);
                    $('#sendForm .fa-spinner').toggleClass('d-none');
                    const { chatId } = response;
                    window.location = '/chat/' + chatId;
                },
                error: function(error) {
                    console.log('Error:', error);
                    $('#sendForm .fa-spinner').toggleClass('d-none');
                    Swal.fire(
                        'エラー!',
                        'チャットの追加に失敗しました: ' + error.responseJSON.error,
                        'error'
                    );
                }
            });
        });




        $('#ai-assist').on('click', function() {

            checkImageDescription(function(response){
                if(!response){
                    generateImageDescriptionBackend()
                }
            }) 
            
            $('#ai-assist .fa-spinner').show();
            $('#ai-assist .fa-magic').hide();

            if ($('#chatPurpose').val().trim() == '') {
                Swal.fire({
                    title: '警告',
                    text: 'キャラクターの説明は必須項目です。入力してください。',
                    icon: 'warning',
                    confirmButtonText: 'OK'
                });
                $('#ai-assist .fa-spinner').hide();
                $('#ai-assist .fa-magic').show();
                return;
            }

            $('#chatName').prop('disabled', true);
            $('#chatPurpose').prop('disabled', false);
            $('#chatDescription').prop('disabled', true);
            $('#chatDescription').prop('disabled', true);
            $('#chatName').val('')
            $('#chatDescription').val('')

            generateCompletion(function() {
                $('#sendForm').show();
                $('.sendForm-text').show();
                $('#ai-assist .fa-spinner').hide();
                $('#ai-assist .fa-magic').show();
            });
        });

        function generateCompletion(callback) {

            const apiUrl = '/api/openai-chat-creation';

            let prompt = $('#chatPurpose').val().trim();
            let language =$('#language').val()
            prompt = prompt + 'YOU MUST respond in '+language
              
            if(prompt.length == 0){
                return
            } 

            $.ajax({
                url: apiUrl,
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ prompt}),
                success: function(response) {
                    console.log(response)
                    const  { name, short_desc, long_desc } = response
                    $('#markdownContainer').show()
                    $('#chatDescription').show()
                    $('#chatName').show()

                    $('#chatDescription').val(short_desc)

                    $('#markdownContainer').html(marked.parse(long_desc));
                    $('#chatRule').val(long_desc)

                    $('#chatName').val(name)
                    updateButtonText()

                    if (typeof callback === 'function') {
                        callback();
                    }
                },
                error: function(error) {
                    console.error('Error:', error);
                    $('#ai-assist .fa-spinner').hide();
                    $('#ai-assist .fa-magic').show();
                }
            });
        }

        function checkImageDescription(callback) {
            const imageUrl = $('#chatImageUrl').val();

            if (!imageUrl) {
                console.log('Image URL is required.');
                return;
            }

            $.ajax({
                url: '/api/check-image-description',
                method: 'GET',
                data: { imageUrl: imageUrl },
                success: function(response) {
                    if (callback) {
                        callback(response);
                    }
                },
                error: function(xhr) {
                    if (callback) {
                        callback(null);
                    }
                }
            });
        }
        function generateImageDescriptionBackend(callback) {
            const imageUrl = $('#chatImageUrl').val();
            const language = $('#language').val();

            const system = createSystemPayloadImage(language);

            const apiUrl = '/api/openai-image-description';

            $.ajax({
                url: apiUrl,
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ system, imageUrl }),
                success: function(response) {
                    console.log(response);
                    if (callback) {
                        callback(response);
                    }
                },
                error: function(xhr) {
                    alert('Error:', xhr.responseText)
                    console.log('Error:', xhr.responseText);
                    if (callback) {
                        callback(null);
                    }
                }
            });
        }
        function createSystemPayloadImage(language) {
            return [
                {
                    "type": "text",
                    "text": 
                    `
                    You generate a highly detailed character face description from the image provided, 
                    Your response containe the character on age, skin color, hair, eyes, body type, gender, facial features. Respond in a single, descriptive line of plain text using keywords. \n
                    Here is an example : young girl, yellow eyes, long hair, white hair, white skin, voluptuous body, cute face, smiling.`
                }
            ];
        }

        // Helper function to create the message payload
        function createMessagePayload(base64Image) {
            return [
                {
                    "type": "image_url",
                    "image_url": {
                        "url": `data:image/png;base64,${base64Image}`
                    }
                }
            ];
        }


        function updateButtonText() {
            let chatName = $('#chatName').val().trim();
            $('#sendForm span').html(`${chatName}とチャットする`);
        }
        
       
});
</script>
</body>
</html>
