<section>
  <div class="p-0 m-0">
    <div class="row g-0 p-0 m-0">
      <!-- Left image (hidden on small screens) -->
      <div class="d-none d-lg-flex col-lg-6" style="height: 85vh; background-image:url('/img/login3.png'); background-size: cover; background-position: center;"></div>
      <!-- Right side form (full width on small screens) -->
      <div class="col-12 col-lg-6 d-flex align-items-start justify-content-center">
        <div class="card bg-dark text-white border-0" style="border-radius: 1rem; width: 100%; max-width: 450px;">
          <div class="card-body text-center">
            <div class=" mt-md-4">
                <style>
                    .nav-tabs .nav-link.active {
                        background: linear-gradient(90.9deg, #D2B8FF 2.74%, #8240FF 102.92%) !important; /* Change to desired background color */
                        border-color: #8240FF !important;   /* Optional: Adjust border color */
                    }
                </style>
                <ul class="nav nav-tabs mb-3" id="authTab" role="tablist" style="border-bottom: 1px solid #fff;">
                    <li class="nav-item w-50" role="presentation">
                    <a class="nav-link fs-5 {{#unless register}}active{{/unless}}" id="login-tab" data-bs-toggle="tab" href="#login" role="tab" aria-controls="login" aria-selected="true" style="color: #fff; background-color: transparent;">{{translations.authMail.login}}</a>
                    </li>
                    <li class="nav-item w-50" role="presentation">
                    <a class="nav-link fs-5 {{#if register}}active{{/if}}" id="register-tab" data-bs-toggle="tab" href="#register" role="tab" aria-controls="register" aria-selected="false" style="color: #fff; background-color: transparent;">{{translations.authMail.register}}</a>
                    </li>
                </ul>
              <h3 class="text-muted mb-3 header" style="color: #fff; font-size: 16px;">{{#if register}}{{translations.authMail.registerDescription}}{{else}}{{translations.authMail.loginDescription}}{{/if}}</h3>

              <div class="tab-content" id="authTabContent">
                <div class="tab-pane fade {{#unless register}}show active{{/unless}}" id="login" role="tabpanel" aria-labelledby="login-tab">
                  <form id="login-form">
                    <div data-mdb-input-init class="form-outline form-white mb-4">
                      <input type="email" id="login-email" name="email" class="form-control form-control-lg" required style="border: 2px solid rgba(218, 220, 224, 0.39); color: #fff; height: 60px; background-color: transparent;" />
                      <label class="form-label" for="login-email">{{translations.authMail.email}}</label>
                    </div>
                    <div data-mdb-input-init class="form-outline form-white mb-4">
                      <input type="password" id="login-password" name="password" class="form-control form-control-lg" required style="border: 2px solid rgba(218, 220, 224, 0.39); color: #fff; height: 60px; background-color: transparent;" />
                      <label class="form-label" for="login-password">{{translations.authMail.password}}</label>
                    </div>
                    <button type="submit" style="border-radius: 50px; border: 1px solid #fff; background-color: transparent; color: #fff;" class="btn btn-light custom-gradient-bg btn-lg px-5 w-100">{{translations.authMail.login}}</button>
                  </form>
                </div>
                <div class="tab-pane fade {{#if register}}show active{{/if}}" id="register" role="tabpanel" aria-labelledby="register-tab">
                  <form id="register-form">
                    <div data-mdb-input-init class="form-outline form-white mb-4">
                      <label for="nickname" class="form-label">
                        <span class="small" style="font-size:12px">{{translations.authMail.nickName.title}}</span>
                        <span class="small text-muted" style="font-size:10px">{{translations.authMail.nickName.subTitle}}</span>
                      </label>
                      <input id="nickname" name="nickname" type="text" class="form-control form-control-lg" placeholder="{{translations.authMail.nickName.placeholder}}" required style="border: 2px solid rgba(218, 220, 224, 0.39); color: #fff; height: 60px; background-color: transparent;">
                    </div>
                    <div data-mdb-input-init class="form-outline form-white mb-4">
                      <input type="email" id="register-email" name="email" class="form-control form-control-lg" required style="border: 2px solid rgba(218, 220, 224, 0.39); color: #fff; height: 60px; background-color: transparent;" />
                      <label class="form-label" for="register-email">{{translations.authMail.email}}</label>
                    </div>
                    <div data-mdb-input-init class="form-outline form-white mb-4">
                      <input type="password" id="register-password" name="password" class="form-control form-control-lg" required style="border: 2px solid rgba(218, 220, 224, 0.39); color: #fff; height: 60px; background-color: transparent;" />
                      <label class="form-label" for="register-password">{{translations.authMail.password}}</label>
                    </div>
                    <div class="col-auto mb-3 text-start">
                        <select class="form-select w-100" id="gender" name="gender" required style="border: 1px solid #fff; color: #fff; background-color: transparent;">
                            <option value="" disabled hidden>{{translations.setting.gender}}</option>
                            <option value="female">{{translations.setting.female}}</option>
                            <option value="male">{{translations.setting.male}}</option>
                        </select>
                    </div>
                    <div class="mb-3 px-0" style="position: initial;">
                      <div class="form-check d-flex align-items-center justify-content-start">
                        <input class="form-check-input me-2" type="checkbox" value="" id="ageVerification" required style="border: 1px solid #fff; color: #fff; background-color: transparent;">
                        <label style="position: initial;" class="d-flex align-items-center justify-content-start toggle-btn w-100 text-white" for="ageVerification">
                          {{translations.over_18}}
                        </label>
                      </div>
                    </div>
                    <button type="submit" style="border-radius: 50px; border: 1px solid #fff; background-color: transparent; color: #fff;" class="btn btn-light custom-gradient-bg btn-lg px-5 w-100">{{translations.authMail.register}}</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>

$(document).ready(function() {
  const translations =  {{{json translations}}}

    $('#register-link').on('click', function() {
        $('#register-tab').tab('show');
        $('.authenticate').text(translations.authMail.register);
    });

    $('#login-tab').on('click', function() {
        $('.authenticate').text(translations.authMail.login);
        $('.header').html(translations.authMail.loginDescription)
    });
    $('#register-tab').on('click', function() {
        $('.authenticate').text(translations.authMail.register);
        $('.header').html(translations.authMail.registerDescription)
    });

    $('input').on('focus', function() {
        $(this).siblings('label').fadeOut();
    });

    $('input').on('blur', function() {
        if ($(this).val() === '') {
        $(this).siblings('label').fadeIn();
        }
    });

    $('#register-form').on('submit', function(event) {
        event.preventDefault();
        const nickname = $('#nickname').val()
        const email = $('#register-email').val();
        const password = $('#register-password').val();
        const gender = $('#gender').val()
        const ageVerification = $('#ageVerification').is(':checked');
    
        $.ajax({
            url: '/user/register',
            method: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({ nickname, email, password, gender, ageVerification }),
            success: function(response) {
                window.location.href = response.redirect;
            },
            error: function(xhr) {
                const res = xhr.responseJSON;
                Swal.fire({
                icon: 'error',
                title: 'エラー',
                text: res.error || '登録に失敗しました',
                });
            }
        });
    });

  $('#login-form').on('submit', function(event) {
        event.preventDefault();
        const email = $('#login-email').val();
        const password = $('#login-password').val();

        $.ajax({
        url: '/user/login',
        method: 'POST',
        contentType: 'application/json',
        data: JSON.stringify({ email, password }),
        success: function(response) {
          window.location.href = response.redirect;
        },
        error: function(xhr) {
            const res = xhr.responseJSON;
            Swal.fire({
            icon: 'error',
            title: 'エラー',
            text: res.error || 'ログインに失敗しました',
            });
        }
        });
    });
});
</script>
</body>
</html>