<!DOCTYPE html>
<html lang="ja">
       {{> dashboard-header}}
<body>
    {{> dashboard-nav}}
<style>
  #swiperModal .swiper-slide img {
    width: 100%;
    height: 80vh !important;
    object-fit: contain;
  }
  .chat-images-horizontal {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  padding: 10px 0;
}

.horizontal-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.chat-item {
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
}

</style>
<div class="container mt-4">
  {{#if chat}}
    <!-- SEO Section -->
    <div class="row mx-0 {{#if user.isTemporary}}{{else}}d-none{{/if}}">
        <h1>{{translations.character_and_ai_chat}} {{chat.name}}</h1>
        <hr>
    </div>
  {{/if}}
  <div class="row mx-0">
    <!-- Chat Image Section -->
    {{#if image}}
    <div class="col-lg-8 mb-4">
      <div class="card border-0 shadow-0">
        {{#if isBlur}}
          <div type="button" class="text-center" onclick={{#if user.isTemporary}}'showRegistrationForm()'{{else}}'unlockImage('{{image._id}}',"gallery",this)'{{/if}}>
            <img data-src="{{image.imageUrl}}" class="card-img-top img-blur rounded shadow m-auto" alt="{{image.prompt}}" style="max-height:80vh;width:auto;object-fit:contain;">
          </div>
        {{else}}
        <div class="w-100">
            <img id="mainImage" data-src="{{image.imageUrl}}" class="card-img-top rounded shadow m-auto" alt="{{image.prompt}}" style="max-height:80vh;width:auto;object-fit:contain;display:none;">

            <div id="swiperModal" data-chat-id="{{chat._id}}" class="swiper-container" style="width:100%;height:100%;overflow-x:hidden;position: relative;">
              <div class="swiper-wrapper text-center"></div>
              <div class="swiper-button-next swiper-button-white" style="color: #606060;"></div>
              <div class="swiper-button-prev swiper-button-white" style="color: #606060;"></div>
            </div>
        </div>
        {{/if}}
        <div class="card-body border rounded mt-3">
          <h5 class="card-title"></h5>
          <h6>{{translations.prompt}} :</h6>
          <p class="card-prompt text-muted" style="font-size: 14px;">{{image.prompt}}</p>
          <p class="bg-light p-2" style="font-size:12px;">{{translations.prompt_description}}</p>
          <a href="/chat/edit/" class="btn btn-outline-secondary">{{translations.create_new_character}}</a>
          <p class="card-text">{{image.comment}}</p>
          <p class="text-muted"><span class="jp-date">{{image.createdAt}}</span></p>
          <div class="d-flex justify-content-between align-items-center">
            <button class="btn btn-light shadow-0 image-fav {{#if  (includesObjectId image.likedBy user._id) }}liked{{/if}}" data-id="{{image._id}}">
              <i class="bi bi-heart-fill me-2"></i>{{translations.like}}<span class="ct d-none">{{default image.likes 0}}</span>
            </button>
            <!--- A button to share on sns --->
            <button class="btn btn-light shadow-0 share">
              <i class="bi bi-share me-2"></i>{{translations.share}}
            </button>
            <a href="/chat/{{chat._id}}" class="btn custom-gradient-bg"> <i class="bi bi-chat-dots me-2"></i> {{translations.startChatting}}</a>
          </div>
        </div>
      </div>
    </div>
    {{/if}}
    {{#if chat}}
    <!-- Chat Profile Section -->
    <div class="col mb-4">
      <div class="card border shadow-0">
        <div class="card-body text-center">
          <div class="chat-profile mt-4">
            <div class="row mx-0 mb-3">
              <div id="chatProfileSection" class="text-center">
                <div class="mx-auto p-auto text-center d-flex align-items-center justify-content-center position-relative mb-2">
                  <a href="/chat/{{chat._id}}" class="text-secondary" style="text-decoration:none;">  
                    <img src="{{default chat.chatImageUrl '/img/avatar.png'}}" alt="Chat Thumbnail" class="rounded-circle" 
                    style="width: 100px; height: 100px; object-fit: cover; object-position: top;">
                  </a>
                </div>
                <a href="/chat/{{chat._id}}" class="text-secondary" style="text-decoration:none;">
                  <h2>{{chat.name}}</h2>
                </a>
                  <p>{{chat.description}}</p>
                  <!-- SEO Section -->
                  <div class="row mx-0 text-start {{#if user.isTemporary}}{{else}}d-none{{/if}}">
                      <span>{{translations.about_the_character}} {{chat.name}}</span>
                      <hr>
                      <p class="description">{{chat.description}}</p>
                      <p>{{chat.rule}}</p>
                  </div>

                <a href="/chat/{{chat._id}}" class="btn custom-gradient-bg"> <i class="bi bi-chat-dots me-2"></i>  {{translations.startChatting}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h3 class="text-start">{{translations.user_in_chat}}</h3>
  <span class="text-muted">{{translations.user_in_chat_description}}</span>

  <div class="container mt-4">
    <div id="chat-users-gallery" class="d-flex overflow-auto p-2" style="white-space: nowrap;"></div>
    <div id="chat-users-pagination-controls" class="mt-3"></div>
  </div>

  {{/if}}

  <!-- Other Images Section -->
  {{#if chatId}}
  <div class="container mb-5 px-0">
    <div class="row mx-0">
      <div class="col-12 mt-4 px-0">
        <h4>{{translations.other_images}}</h4>
        <span class="text-muted">{{translations.other_images_description}}</span>
        <hr>
        <div class="container-none">
          <div class="row mx-0" id="chat-images-gallery"></div>
          <div class="d-flex justify-content-center mt-4" id="chat-images-pagination-controls"></div>
        </div>
      </div>
    </div>
  </div>
</div>
{{else}}
 <h1 class="my-4 text-center">{{translations.ai_gravure_special_photos}}</h1>
  <p>{{translations.ai_gravure_description}}</p>
   
  <div class="container mt-4 mb-5">
    <div id="all-chats-container">
      <!-- Chats with images will be appended here -->
    </div>

    <div class="row mx-0" id="all-chats-images-gallery"></div>
    <div class="d-flex justify-content-center mt-4" id="all-chats-images-pagination-controls"></div>
    <button id="back-to-top" style="display: none;">トップに戻る</button>
  </div>
{{/if}}
<style>
  footer{display: inline !important;}
  .sticky-bottom{display: inline-block !important;width: 100%;}
</style>
<script>
    const imageId =`{{image._id}}`
</script>
 {{> dashboard-footer}}

<script>
  window.updateImageTitle = function(imageId,title){
    console.log('updateImageTitle',title);
    $('.card-title').text(title[lang].replace(/['"]+/g, ''));
  }
</script>
<script>
  $(document).ready(function () {
    const chatId =`{{chatId}}`
    if(chatId.trim() !== ''){

      let title = {{{json image.title}}};
      if(title && title[lang]){
        $('.card-title').text(title[lang].replace(/['"]+/g, ''));
      }

      const chat = {{{json chat}}};
      const description = chat.description
      if(!description || description.trim() === ''){
        const chatDataToString = function(data) {
            return `
              <strong>${translations.characterDescription.traits}:</strong> ${data.traits.join(', ')}<br>
              <strong>${translations.characterDescription.preferences}:</strong> ${data.preferences.join(', ')}<br>
              <strong>${translations.characterDescription.expression_style}:</strong><br>
              - <strong>${translations.characterDescription.tone}:</strong> ${data.expression_style.tone}<br>
              - <strong>${translations.characterDescription.vocabulary}:</strong> ${data.expression_style.vocabulary}<br>
              - <strong>${translations.characterDescription.unique_feature}:</strong> ${data.expression_style.unique_feature}<br>
              <strong>${translations.characterDescription.story}:</strong> ${data.story}
            `;
        }
        $('.description').html(chatDataToString(chat.base_personality));
      }
      loadChatImages(chatId, 1);
      loadChatUsers(chatId);
    }else{
      //loadAllChatImages(1);
    }
    // Function to share image and title on SNS
    if($('#mainImage').length){
      const imageUrl = $('#mainImage').data('src');
      $('.share').on('click', function(){
        shareSns($('.card-title').text(), imageUrl);
      });
    }
    function shareSns(title, imageUrl) {
      const url = `https://twitter.com/intent/tweet?text=${encodeURIComponent(title)}&url=${encodeURIComponent(imageUrl)}`;
      window.open(url, '_blank');
    }
  });
  </script>
</body>
</html>
