<!DOCTYPE html>
<html lang="ja">
       {{> dashboard-header}}
<body>
    {{> dashboard-nav}}
    <style>
        /* user-dashboard-info-box */
        .story-list .thumb {
            margin-right: 20px;
        }
        .story-list .thumb img {
            width: 80px;
            height: 80px;
            -o-object-fit: cover;
            object-fit: cover;
            overflow: hidden;
            border-radius: 50%;
        }
        .story-list .item {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            padding: 30px 0;
        }
    </style>
<div class="container mt-4">
    <h2>チャットボット一覧</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">チャットボット一名</th>
                <th scope="col">JSON</th>
                <th scope="col">アクティブ</th>
            </tr>
        </thead>
        <tbody>
            {{#each stories}}
                <tr class="story-list" data-id="{{this._id}}">
                    <td class="item">
                        <div class="thumb">
                            <img class="img-fluid" src="{{#if this.thumbnailUrl}}{{this.thumbnailUrl}}{{else}}/img/logo.webp{{/if}}" alt="">
                        </div>
                        <div class="story-list-details">
                            <div class="story-list-info">
                            <div class="story-list-title mb-1">
                                <h5 class="mb-0"><a href="/chat/{{this._id}}" target="_blank">{{this.name}}</a></h5>
                            </div>
                            <div class="story-list-option" style="max-width: 40vw;">
                                <p>{{this.description}}</p>
                            </div>
                            </div>
                        </div>
                    </td>
                    <td><button class="copyButton btn btn-dark" data-storyid="{{this._id}}">コピー</button></td>
                    <td style="height: 100%;">
                        <div class="d-flex align-items-center" style="height: 100%;">
                            <ul class="list-unstyled mb-0 d-flex justify-content-center align-items-center">
                                <li class="form-check form-switch mx-1">
                                    <input class="form-check-input story-switch" type="checkbox" data-storyid="{{this._id}}" {{#if this.isActive}}checked{{/if}}>
                                </li>
                                <li><a href="/chat/{{this._id}}" class="text-primary mx-1" data-toggle="tooltip" title=""><i class="fas fa-eye"></i></i></a></li>
                                <li><a href="/story/edit/{{this._id}}" class="text-info mx-1" data-toggle="tooltip" title="" data-original-title="Edit"><i class="far fa-edit"></i></a></li>
                                <li><span data-storyid="{{this._id}}" class="text-danger delete-story mx-1" style="cusrsor:pointer" data-toggle="tooltip" title="" data-original-title="Delete"><i class="fas fa-trash"></i></a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            {{/each}}
            
        </tbody>
    </table>
</div>

<script>
$(document).ready(function() {
    $('.copyButton').click(function() {
        var storyId = $(this).data('storyid');
        
        $.ajax({
            url: '/api/story/' + storyId,
            method: 'GET',
            success: function(story) {
                var tempInput = $('<input>');
                $('body').append(tempInput);
                tempInput.val(JSON.stringify(story.content)).select();
                var successful = document.execCommand('copy');
                tempInput.remove();

                if (successful) {
                    Swal.fire('Success', 'コンテンツがクリップボードにコピーされました。', 'success');
                } else {
                    Swal.fire('Error', 'コンテンツのコピーに失敗しました。', 'error');
                }
            },
            error: function() {
                Swal.fire('Error', 'コンテンツの取得に失敗しました。', 'error');
            }
        });
    });
    $('.delete-story').on('click', function() {
        const storyId = $(this).data('storyid');

        Swal.fire({
            title: '本当に削除しますか？',
            text: "この操作は元に戻せません！",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'はい、削除します！',
            cancelButtonText: 'キャンセル'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: `/api/delete-story/${storyId}`,
                    type: 'DELETE',
                    success: function(response) {
                        Swal.fire(
                            '削除されました！',
                            'ストーリーが削除されました。',
                            'success'
                        ).then(() => {
                            $(`.story-list[data-id="${storyId}"]`).fadeOut()
                        });
                    },
                    error: function(xhr, status, error) {
                        Swal.fire(
                            'エラー',
                            'ストーリーの削除に失敗しました。',
                            'error'
                        );
                    }
                });
            }
        });
    });
    $('.story-switch').on('change', function() {
        $('.story-switch').not(this).prop('checked', false);
        let storyId = $(this).data('storyid');
        if ($(this).is(':checked')) {
            $.post('/api/set-story', { storyId: storyId })
                .done(function(response) {
                    Swal.fire({
                        title: '成功',
                        text: 'ストーリーがアクティブになりました。',
                        icon: 'success',
                        confirmButtonText: 'OK'
                    });
                })
                .fail(function(error) {
                    Swal.fire({
                        title: 'エラー',
                        text: 'ストーリーをアクティブにできませんでした。',
                        icon: 'error',
                        confirmButtonText: 'OK'
                    });
                });
        }
    });
});
</script>

</body>
</html>
