<!DOCTYPE html>
<html lang="ja">
       {{> dashboard-header}}
<body>
    {{> dashboard-nav}}

<style>
    /* user-dashboard-info-box */
    .chat-list .thumb {
        margin-right: 20px;
    }
    .chat-list .thumb img {
        width: 80px;
        height: 80px;
        -o-object-fit: cover;
        object-fit: cover;
        overflow: hidden;
        border-radius: 50%;
    }
    .chat-list.item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 20px 5px;
        transition: background-color 0.3s ease;
    }
    .chat-list.item:hover {
        background-color: #f8f9fa;
    }
    .chat-list .chat-list-details {
        display: flex;
        flex-direction: column;
    }
    .chat-list .chat-list-actions {
        display: flex;
        align-items: center;
    }
    hr.separator {
        border: none;
        height: 1px;
        background-color: #b1b1b1;
        margin: 0;
    }
    .action-button{
        border:1px solid #ccc;
    }
    .action-button:hover{
        border:1px solid #fff;
        background-color: #fff;;
    }
    .truncate-text {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3; /* Number of lines to show */
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .online-text {
        width: 200px; /* Adjust the width as needed */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .thumb{
        width: 10vw;
    }
    @media (max-width: 600px) {
    /* Styles for small screens */
        .thumb{
            width: 25vw;
        }
    }
</style>

<div class="container mt-4">
    <h2>チャットボット一覧</h2>
    <div class="chat-list-container py-5">
        <div class="chat-list item d-flex align-items-center" style="cursor: pointer;" onclick="window.location.href='/chat/edit/'">
            <div class="thumb align-items-center text-center justify-content-center d-flex flex-column" >
                <i class="fas fa-plus-circle fa-3x"></i>
            </div>
            <div class="chat-list-details">
                <div class="chat-list-info">
                    <div class="chat-list-title mb-1">
                        <h6 class="mb-0">新しいチャットボットを追加</h6>
                    </div>
                    <div class="chat-list-option" style="max-width: 40vw;">
                        <span style="font-size: 14px;color: #6c6c6c;" class="truncate-text py-1">クリックして新しいチャットボットを作成します。</span>
                    </div>
                </div>
            </div>
        </div>
        <hr class="separator">

        {{#each chats}}
            <div class="chat-list item d-flex align-items-center justify-content-between" style="cursor: pointer;" data-id="{{this._id}}" onclick="window.location.href='/chat/{{this._id}}'">
                <div class="d-flex align-items-center">
                    <div class="thumb align-items-center text-center justify-content-center d-flex flex-column" >
                        <img class="img-fluid" src="{{#if this.thumbnailUrl}}{{this.thumbnailUrl}}{{else}}/img/logo.webp{{/if}}" alt="">
                        <div class="chat-list-actions my-3 d-sm-none">
                            <div class="d-flex align-items-center">
                                <ul class="list-unstyled mb-0 d-flex justify-content-center align-items-center">
                                    <li><a href="/chat/edit/{{this._id}}" class="text-info mx-1 btn action-button" data-toggle="tooltip" title="" data-original-title="Edit"><i class="far fa-edit"></i></a></li>
                                    <li><span data-chatid="{{this._id}}" class="text-danger delete-chat mx-1 btn action-button" style="cursor:pointer" data-toggle="tooltip" title="" data-original-title="Delete"><i class="fas fa-trash"></i></span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="chat-list-details">
                        <div class="chat-list-info">
                            <div class="chat-list-title mb-1">
                                <h6 class="mb-0 online-text"><a href="/chat/{{this._id}}" target="_blank">{{this.name}}</a></h6>
                            </div>
                            <div class="chat-list-option" style="max-width: 40vw;">
                                <span style="font-size: 14px;color: #6c6c6c;" class="truncate-text py-1">{{this.description}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="chat-list-actions d-none d-sm-block">
                    <button class="copyButton btn btn-dark mx-2 d-none" data-chatid="{{this._id}}">コピー</button>
                    <div class="d-flex align-items-center">
                        <ul class="list-unstyled mb-0 d-flex justify-content-center align-items-center">
                            <li class="form-check form-switch mx-1 d-none">
                                <input class="form-check-input chat-switch" type="checkbox" data-chatid="{{this._id}}" {{#if this.isActive}}checked{{/if}}>
                            </li>
                            <li><button class="text-dark mx-1 btn action-button share-button" data-id="{{this._id}}" data-toggle="tooltip" title="Share" data-original-title="Share"><i class="fas fa-share"></i></button></li>
                            <li><a href="/chat/edit/{{this._id}}" class="text-info mx-1 btn action-button" data-toggle="tooltip" title="" data-original-title="Edit"><i class="far fa-edit"></i></a></li>
                            <li><span data-chatid="{{this._id}}" class="text-danger delete-chat mx-1 btn action-button" style="cursor:pointer" data-toggle="tooltip" title="" data-original-title="Delete"><i class="fas fa-trash"></i></span></li>
                        </ul>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>
 {{> dashboard-footer}}
<script>
$(document).ready(function() {
    $('.share-button').click(function(e) {
        e.preventDefault();
        e.stopPropagation();
        
        var dataId = $(this).attr('data-id');
        var codeToCopy = `<div id="lamix-chat-widget" data-id="${dataId}"></div>
        <script src="https://lamix.hatoltd.com/js/chat-widget.js"></` + `script>`;

        // Create a temporary textarea element to copy the text
        var $temp = $('<textarea>');
        $('body').append($temp);
        $temp.val(codeToCopy).select();
        document.execCommand('copy');
        $temp.remove();

        // Show SweetAlert2 notification
        Swal.fire({
            title: 'コピー完了',
            text: 'コードがクリップボードにコピーされました。',
            icon: 'success',
            confirmButtonText: 'OK'
        });
    });

    $('.copyButton').click(function(e) {
        e.preventDefault()
        e.stopPropagation();
        var chatId = $(this).data('chatid');
        
        $.ajax({
            url: '/api/chat/' + chatId,
            method: 'GET',
            success: function(chat) {
                var tempInput = $('<input>');
                $('body').append(tempInput);
                tempInput.val(JSON.stringify(chat.content)).select();
                var successful = document.execCommand('copy');
                tempInput.remove();

                if (successful) {
                    Swal.fire('Success', 'コンテンツがクリップボードにコピーされました。', 'success');
                } else {
                    Swal.fire('Error', 'コンテンツのコピーに失敗しました。', 'error');
                }
            },
            error: function() {
                Swal.fire('Error', 'コンテンツの取得に失敗しました。', 'error');
            }
        });
    });
    $('.delete-chat').on('click', function(e) {
        e.preventDefault()
        e.stopPropagation();
        const chatId = $(this).data('chatid');

        Swal.fire({
            title: '本当に削除しますか？',
            text: "この操作は元に戻せません！",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'はい、削除します！',
            cancelButtonText: 'キャンセル'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: `/api/delete-chat/${chatId}`,
                    type: 'DELETE',
                    success: function(response) {
                        Swal.fire(
                            '削除されました！',
                            'チャットが削除されました。',
                            'success'
                        ).then(() => {
                            $(`.chat-list[data-id="${chatId}"]`).fadeOut().remove()
                        });
                    },
                    error: function(xhr, status, error) {
                        Swal.fire(
                            'エラー',
                            'チャットの削除に失敗しました。',
                            'error'
                        );
                    }
                });
            }
        });
    });
      $('.chat-switch').on('click', function(e) {
        e.stopPropagation();
        
        // Your button-specific code here
        console.log("Button clicked, event propagation stopped");
    });
    $('.chat-switch').on('change', function() {
        $('.chat-switch').not(this).prop('checked', false);
        let chatId = $(this).data('chatid');
        if ($(this).is(':checked')) {
            $.post('/api/set-chat', { chatId: chatId })
                .done(function(response) {
                    Swal.fire({
                        title: '成功',
                        text: 'チャットがアクティブになりました。',
                        icon: 'success',
                        confirmButtonText: 'OK'
                    });
                })
                .fail(function(error) {
                    Swal.fire({
                        title: 'エラー',
                        text: 'チャットをアクティブにできませんでした。',
                        icon: 'error',
                        confirmButtonText: 'OK'
                    });
                });
        }
    });
});
</script>

</body>
</html>
