<!DOCTYPE html>
<html lang="{{user.lang}}">
    {{> dashboard-header}}
<body>
    <div id="swup-none">
        <div class="sidebar-history hidden shadow">
            <div class="d-flex justify-content-between">
                <h5 class="my-2 mx-3">チャット履歴</h5>
                <button type="button" class="btn btn-light history-chat">
                    <i class="fas fa-angle-left"></i>
                </button>
            </div>
            <div id="chat-history"></div>
        </div>
        <div class="sidebar hidden bg-light shadow-0 d-flex flex-column">
            <div class="tools d-flex align-items-start flex-column sticky-top bg-light py-2">
                <div class="d-none w-100 m-2">
                    <button class="menu-chat-sm d-sm-none btn bg-white shadow-0"><i class="bi bi-list"></i></button>
                    <button class="new-chat d-sm-none btn btn-light"><i class="bi bi-pencil-square"></i></button>
                </div>
                <div>
                    <a href="#" onclick="loadCharacterCreationPage()" class="{{default isAdmin 'd-inline-block'}} m-2 btn px-4 py-2 border shadow-0 btn-outline-secondary text-start" style="border-radius:40px;">
                        <i class="fas fa-plus me-2"></i>{{translations.createCharacter}}
                    </a>
                    <a href="/character" class="{{default isAdmin 'd-inline-block'}} m-2 btn px-4 py-2 border shadow-0 btn-outline-secondary" style="border-radius:40px;">
                    <i class="fas fa-compass me-2"></i>{{translations.library}}
                    </a>
                    <span onclick="showDiscovery()" class="d-none m-2 btn px-4 py-2 border shadow-0 btn-outline-secondary" style="border-radius: 40px;">
                        <i class="fas fa-compass me-2"></i>{{translations.library}}
                    </span>
                </div>
                <span class="text-dark ps-4 fw-bold" style="font-size: 12px;">{{translations.chatList}} <span id="user-chat-count" >{{chats.length}}</span></span>
            </div>
            <div id="chat-list" class="mt-1 pb-3 position-relative" style="flex-grow: 1;overflow-y: scroll;overflow-x: hidden;border-top:1px solid #cccccc6b;">
                <!-- Spinner -->
                <div id="chat-list-spinner" class="spinner-border text-secondary" role="status" style="position: absolute; top: 45%; left: 45%; display: none;">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
        <div id="overlay" class="d-sm-none bg-dark" style="position: fixed; inset: 0; z-index: 1033; display: none; opacity: 0.4; overflow: hidden;"></div>
        <div class="content collapsed">
            <nav class="navbar navbar-expand-lg navbar-white bg-transparent fixed-top shadow-0">
                <div class="container-fluid">
                    <div class="d-flex align-items-center justify-content-center m-auto">
                        <div style="position: absolute;left: 20px;top: 10px;">
                            <button class="menu-chat-sm d-sm-none btn btn-light"><i class="bi bi-list"></i></button>
                            <button id="menu-chat" class="d-none d-sm-inline-block btn btn-light"><i class="bi bi-list"></i></button>

                            <button class="new-chat d-sm-none btn btn-light"><i class="bi bi-pencil-square"></i></button>
                            <button id="new-chat" class="new-chat d-none d-sm-inline-block btn btn-light"><i class="bi bi-pencil-square"></i></button>
                        </div>
                        <div class="d-flex flex-row" style="cursor:pointer" onclick="showDiscovery()">
                            <img src="/img/logo.webp" alt="" class="mx-3" width="40px">
                            <span class="d-none">LAMIXボット</span>
                        </div>  
                        <div>
                            <div class="navbar-collapse" id="navbarNav" style="position: absolute;right: 20px;top: 10px;">
                                <ul class="navbar-nav ms-auto flex-row mb-lg-0">
                                    {{> dashboard-avatar}}
                                </ul>
                            </div>
                        </div>   
                    </div>
                </div>
            </nav>
            <section id="chat-discovery" class="onchat-off mt-5 pt-3" style="display: block;">

                <!-- Promo Section -->
                <section class="is-free-user animate__animated m-3 p-3 bg-light d-none" style="display: none; overflow-x: hidden;" data-animate="animate__fadeInLeft" data-delay="0.3s">
                    <div class="container text-center">
                        <h2 class="pricing-title fw-bold animate__animated animate__fadeInLeft" data-animate="animate__fadeInLeft" style="animation-delay: 0.3s;">
                            <span class="u-font-manrope u-color-grad" style="font-size: 100%;">{{translations.promo.title}}</span>
                        </h2>
                        <h3 class="fw-bold mb-1 px-3 animate__animated animate__fadeInLeft" data-animate="animate__fadeInLeft" style="animation-delay: 0.5s;">
                            {{translations.promo.subtitle}}
                        </h3>
                        <h3 class="fw-bold mb-1 px-3 u-font-manrope u-color-grad my-5 animate__animated animate__fadeInRight" data-animate="animate__fadeInRight" style="font-size: 2em; animation-delay: 0.7s;">
                            {{translations.promo.price}}
                        </h3>
                    </div>
                    <div class="is-free-user sticky-bottom py-2 mx-auto text-center animate__animated" style="display:none; bottom:0; left:0; right:0;" data-animate="animate__fadeInLeft" style="animation-delay: 0.9s;">
                        <a href="/my-plan" class="m-2 btn border shadow-0 btn-secondary px-5 py-2 m-auto animate__animated" data-animate="animate__zoomIn" style="border-radius:40px; background: linear-gradient(90.9deg, rgba(110, 32, 244, 0.5) 2.74%, #6E20F4 102.92%);">
                            <i class="fas fa-plus me-2"></i>{{translations.promo.details}}
                        </a>
                    </div>
                </section>

                <!-- Carousel Advices -->
                <div id="adviceCarousel" class="carousel slide pb-5 mb-3" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <!-- Carousel Item 1 -->
                        <div class="carousel-item active">
                            <div class="container text-center" >
                                <h4 class="fw-bold u-color-grad" >{{translations.advice.advice_title_1}}</h4>
                                <p class="text-muted">{{translations.advice.advice_text_1}}</p>
                            </div>
                        </div>
                        <!-- Carousel Item 2 -->
                        <div class="carousel-item">
                            <div class="container text-center">
                                <h4 class="fw-bold u-color-grad">{{translations.advice.advice_title_2}}</h4>
                                <p class="text-muted">{{translations.advice.advice_text_2}}</p>
                            </div>
                        </div>
                        <!-- Carousel Item 3 -->
                        <div class="carousel-item">
                            <div class="container text-center">
                                <h4 class="fw-bold u-color-grad">{{translations.advice.advice_title_3}}</h4>
                                <p class="text-muted">{{translations.advice.advice_text_3}}</p>
                            </div>
                        </div>
                        <!-- Carousel Item 4 -->
                        <div class="carousel-item">
                            <div class="container text-center">
                                <h4 class="fw-bold u-color-grad">{{translations.advice.advice_title_4}}</h4>
                                <p class="text-muted">{{translations.advice.advice_text_4}}</p>
                            </div>
                        </div>
                        <!-- Carousel Item 5 -->
                        <div class="carousel-item">
                            <div class="container text-center">
                                <h4 class="fw-bold u-color-grad">{{translations.advice.advice_title_5}}</h4>
                                <p class="text-muted">{{translations.advice.advice_text_5}}</p>
                            </div>
                        </div>
                        <!-- Carousel Item 6 -->
                        <div class="carousel-item">
                            <div class="container text-center">
                                <h4 class="fw-bold u-color-grad">{{translations.advice.advice_title_6}}</h4>
                                <p class="text-muted">{{translations.advice.advice_text_6}}</p>
                            </div>
                        </div>
                    </div>
                    <!-- Controls -->
                    <button class="carousel-control-prev" type="button" data-bs-target="#adviceCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon text-transparent" aria-hidden="true"></span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#adviceCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon text-transparent" aria-hidden="true"></span>
                    </button>
                </div>

                <!-- Image Style Selection -->
                <div id="imageStyleSelection" class="d-none"></div>
                <div class="col-auto">
                    <ul class="nav nav-tabs justify-content-start" style="overflow-x: scroll; overflow-y: hidden; flex-wrap: nowrap;" id="imageStyleTabs" role="tablist">
                        <!-- Tabs will be dynamically generated here -->
                    </ul>
                </div>


                <!-- Content Section -->
                <section>
                    <div id="chat-gallery" class="row mx-0"></div>
                    <div id="chat-pagination-controls" class="d-flex justify-content-center my-3"></div>
                </section>

            </section>
            <div class="container chat-contain px-0 onchat-on">
                <div id="chat-container" class="card shadow-0 border-0 rounded-0" style="background-position: top center;background-repeat: no-repeat;">
                    <div class="card-body text-center p-0 container" style="min-height:250px;overflow-y:hidden;display: flex;flex-direction: column;">
                        <div id="chat-recommend" class="px-4 text-white rounded d-flex align-items-center justify-content-start scroll-horizontal" style="margin-top: 70px !important;margin-bottom:10px;min-height: 70px;">
                            <div class="characters" style="display: flex;flex-direction: row;overflow-x: scroll;"></div>
                        </div>
                        <div class="px-2" style="flex-grow:1;height: 100%;overflow: scroll;">
                            <div id="chatContainer" data-id="" class="pt-2 fade-content" style="padding-bottom: 150px !important;"></div>
                            <div id="chatInput" class="input-group rounded-0 rounded-bottom" style="position: absolute;bottom: 0;left: 0;right: 0;padding: 0px 15px 5px 15px;">
                                <div class="d-flex justify-content-between align-items-center w-100">
                                    <div>
                                        <button type="button" class="btn btn-md bg-light shadow-0 border-0 mb-2 mx-1" id="audio-play">
                                            <i class="fa" id="audio-icon"></i>
                                        </button>
                                        <button type="button" class="btn btn-md bg-dark text-white shadow-0 border-0 mb-2 mx-1" id="galleries-open" style="display: none;opacity:0.8;">
                                            <i class="fas fa-th-large"></i>
                                        </button>
                                    </div>
                                    <div class="d-flex pe-2">
                                        <button class="d-none btn btn-dark border-light shadow-0 mx-1 my-1 img-gen-button" id="stability-gen-button-none" style="display:none;background-image:url('/img/sd.jpg')"><i class="fa fa-spinner fa-spin fa-fw fa-hidden" style="display: none;"></i><i class="far fa-image"></i></button>
                                        <button class="d-none btn btn-dark border-light shadow-0 mx-1 my-1 img-gen-button" id="novita-gen-button-none" style="display:none;background-image:url('/img/novita.jpg')"><i class="fa fa-spinner fa-spin fa-fw fa-hidden" style="display: none;"></i><i class="far fa-image"></i></button>
                                        <button type="button" class="d-none btn btn-md custom-gradient-bg danger shadow-0 border-0 mb-2 mx-1 auto-gen" id="novita-gen-button" style="display: none;">
                                            <div class="d-flex">
                                                <i class="fa fa-spinner fa-spin fa-fw fa-hidden" style="display: none;"></i>
                                                <i class="fa fa-image me-2"></i>
                                                成人向け画像
                                            </div>
                                        </button>
                                        <button type="button" class="d-none btn btn-md custom-gradient-bg shadow-0 border-0 mb-2 mx-1 auto-gen-none" id="huggingface-gen-button" style="display: none;">
                                            <div class="d-flex">
                                                <i class="fa fa-spinner fa-spin fa-fw fa-hidden" style="display: none;"></i>
                                                <i class="fa fa-image me-2"></i>
                                                AI画像
                                            </div>
                                        </button>
                                        <div id="progress-container" style="position: absolute; width: 44px; height: 100px;bottom: 50px;right: 10px;display:none;">
                                        </div>
                                    </div>
                                </div>
                                <div id="input-container" class="d-flex w-100">
                                    <button id="gen-ideas" class="d-none btn btn-light px-4 border-0">💡</button>
                                    <button id="showPrompts" class="btn custom-gradient-bg px-4 border-0" data-bs-toggle="tooltip" data-bs-placement="top" title="{{translations.generateImage}}" style="display:none;"> 
                                        <i class="bi bi-image"></i>
                                    </button>
                                    <textarea id="userMessage" class="form-control py-3 border-0" style="max-height: 100px;" placeholder="チャットしよう"></textarea>
                                    <button id="sendMessage" class="btn btn-light px-4 border-0"><i class="fas fa-paper-plane"></i></button>
                                </div>

                                <div id="promptContainer" class="shadow" style="position: absolute; bottom: 0px; width: 100%; max-height: 45vh; background: rgb(255, 255, 255); overflow-y: auto;left: 0;right: 0;z-index: 10;display:none;">
                                    <div class="position-sticky sticky-top shadow d-flex justify-content-end align-items-center bg-white form-check text-start mb-2 py-2 ps-3">
                                        <button id="close-promptContainer" class="btn shadow-0"><i class="bi bi-x"></i></button>
                                    </div>
                                    <div id="promptList" class="row mx-0 pb-2">
                                        <h4 class="text-center w-100">{{translations.selectPose}}</h4>
                                        <p class="text-center text-muted w-100">{{translations.selectPose_description}}</p><!-- Prompts will be dynamically generated here -->
                                        {{#each promptData}}
                                            <div class="prompt-card col-6 col-sm-3 border-0 shadow-0 mb-1" 
                                                data-id="{{_id}}" 
                                                data-nsfw="{{eq nsfw 'on'}}" 
                                                style="cursor:pointer;">
                                                <!-- Placeholder image that will be replaced when loaded -->
                                                <img 
                                                    src="/img/image-placeholder-1.gif"
                                                    data-src="{{image}}" 
                                                    class="lazy-image rounded w-100" 
                                                    alt="Prompt Image" 
                                                    style="height:200px; object-fit:contain;">
                                                <p class="d-none" style="font-size:12px; margin:0; text-align:center;">{{title}}</p>
                                            </div>
                                        {{/each}}

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </div>
 {{> dashboard-footer}}
<script src="/js/chat.js"></script>
<script src="/js/stability.js"></script>
<script>
$(document).ready(function() {

    const user = {{{json user}}}
    
    function adjustHeight() {
        const newHeight = $(window).height() * 0.97;
        $('.chat-contain .card-body').height(newHeight);
    }
    $(document).ready(adjustHeight);
    $(window).resize(adjustHeight);

    function resizeIframe() {
        var iframe = $('#user-profile-page');
        if(iframe.length == 0 ){return}
        const newHeight = iframe[0].contentWindow.document.body.scrollHeight
        if( newHeight > 0) { iframe.height(newHeight); }
    }  
    window.addEventListener('message', function(event) {
        if (event.data === 'resizeIframe') {
            resizeIframe();
        }
    });

    window.addEventListener('message', function(event) {
        if (event.data.event === 'openChat') {
            redirectToChat(event.data.chatId)
        }
    });

    window.addEventListener('message', function(event) {
        if (event.data.event === 'updatePersona') {
             updatePersona(event.data.personaId,event.data.isAdding)
        }
    });
    
    window.addEventListener('message', function(event) {
        if (event.data.event === 'updateCoins') {
             updateCoins()
        }
    });

    // Initialize user preference from cookie
    if (Cookies.get('sidebarState') === 'expanded') {
        $('.sidebar').removeClass('hidden');
        $('.content').removeClass('collapsed');
        $('nav.navbar').addClass('move');
        $('#overlay').show()
    }

    $('#menu-chat').on('click', function(){

        $('.sidebar-history').addClass('hidden');
        const sidebar = $('.sidebar');
        const content = $('.content');
        const navbar = $('nav.navbar');
        const stickyBottom = $('.sticky-bottom')
        if (sidebar.hasClass('hidden')) {
            sidebar.removeClass('hidden');
            content.removeClass('collapsed');
            navbar.addClass('move');
            stickyBottom.addClass('move');
            $('#overlay').show()
        } else {
            sidebar.addClass('hidden');
            content.addClass('collapsed');
            navbar.removeClass('move');
            stickyBottom.removeClass('move');
            $('#overlay').hide()
        }
        
        // Update the cookie based on the new state
        if ($('.sidebar').hasClass('hidden')) {
            Cookies.set('sidebarState', 'collapsed', { expires: 7 }); // Cookie expires in 7 days
        } else {
            Cookies.set('sidebarState', 'expanded', { expires: 7 });
        }
    });

    $(document).on('click','.history-chat', function(){
        const chatId = $(this).data('id')
        const userId = sessionStorage.getItem('userId');
        if(chatId && userId){ 
            getUserChatHistory(chatId, userId) 
        }
        $('.sidebar-history').toggleClass('hidden');
        $('.sidebar').removeClass('hidden');
        $('.content').removeClass('collapsed');
        $('nav.navbar').addClass('move');
        $('#overlay').show()
        $('.content').toggleClass('noscroll');
    })

    $('.menu-chat-sm').on('click', function(){
        $('.sidebar').toggleClass('hidden');
        $('#overlay').toggle()
        $('.content').toggleClass('noscroll');
    });

    $('#overlay').on('click', function(){
        $('#overlay').toggle()
        $('.sidebar').toggleClass('hidden');
        $('.sidebar-history').addClass('hidden');
        $('.content').toggleClass('noscroll');
        // Update the cookie based on the new state
        if ($('.sidebar').hasClass('hidden')) {
            Cookies.set('sidebarState', 'collapsed', { expires: 7 }); // Cookie expires in 7 days
        } else {
            Cookies.set('sidebarState', 'expanded', { expires: 7 });
        }
    });

    $(document).on('click','.user-chat-content .dropdown-menu',function(){
        $('#overlay').click()
    })

    $(document).on('click', '#gen-ideas', function() {
        const isTemporary = $('body').attr('data-temporary-user') === 'true';
        if($('#chat-widget-container').length == 0 && isTemporary){
            showRegistrationForm(); return;
        }

        const is_chatId = $(this).attr('data-chat-id');
        const is_userId = $(this).attr('data-user-id');
        const is_userChatId = $(this).attr('data-user-chat-id');
        if(is_userChatId == "false"){
            return
        }
        if($(this).hasClass('limit')){
            showUpgradePopup('chat-message-ideas');
            return
        }
        Swal.fire({
            html: `
                <div id="ideas-container" class="text-white pt-2 px-3 w-100" style="min-height:200px;">
                    <h5 class="mb-0">スマートリプライ</h5>
                    <span id="messageIdeasLimit" class="text-muted" style="font-size:12px;opacity:0">毎日の無料使用回数</span>
                    <hr class="my-1">
                    <ul class="list-unstyled list-group mb-0">
                        <li class="loading-placeholder list-group-item idea-item text-white text-start rounded my-1 py-2" style="cursor:pointer;background:#bfbfbf47;font-size:14px;">
                            <img src="/img/load-dot.gif" style="width:30px">
                        </li>
                        <li class="loading-placeholder list-group-item idea-item text-white text-start rounded my-1 py-2" style="cursor:pointer;background:#bfbfbf47;font-size:14px;">
                            <img src="/img/load-dot.gif" style="width:30px">
                        </li>
                        <li class="loading-placeholder list-group-item idea-item text-white text-start rounded my-1 py-2" style="cursor:pointer;background:#bfbfbf47;font-size:14px;">
                            <img src="/img/load-dot.gif" style="width:30px">
                        </li>
                    </ul>
                </div>
            `,
            showClass: { popup: 'animate__animated animate__slideInUp animate__faster' },
            hideClass: { popup: 'animate__animated animate__slideOutDown animate__faster' },
            position: 'bottom', backdrop: 'rgba(43, 43, 43, 0.2)',
            showCloseButton: true, showConfirmButton: false,
            customClass: { container: 'p-0', popup: 'gen-idea-container shadow', closeButton: 'position-absolute' }
        });

        if ($('#gen-ideas').hasClass('done')) {
            $('#ideas-container ul').html($('#gen-ideas').data('savedContent'));
        } else {
            $('#gen-ideas').addClass('done');
            $.ajax({
                url: `${localStorage.getItem('API_URL')}/api/openai-chat-choice/`,
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ userId: is_userId, userChatId: is_userChatId, chatId: is_chatId }),
                success: function(response) {
                    let ideasList = response.map(content => `
                        <li class="list-group-item idea-item text-white rounded my-1" style="cursor:pointer;background:#bfbfbf47;font-size:14px;" onclick="sendMessage('${content}')">
                            ${content}
                        </li>`).join('');
                    $('.loading-placeholder').remove();
                    $('#ideas-container ul').append(ideasList);
                    $('#gen-ideas').data('savedContent', ideasList);
                },
                error: function(xhr, status, error) {
                    if (xhr.responseJSON && xhr.responseJSON.limitIds?.includes(4)) {
                        $('#gen-ideas').addClass('limit');
                        showUpgradePopup('chat-message-ideas');
                    }
                }
            });
        }
          // Display user limits
        $.get('/user/limit/'+is_userId,function(data){
            data = data.limits
            let limitMess = data.messageIdeasLimit == '無制限' ? data.messageIdeasLimit : `毎日の無料使用回数: ${data.messageIdeasLimit}/${data.messageIdeasLimit}`
            if(data.messageIdeasCountDoc){
                limitMess = data.messageIdeasCountDoc.limit == '無制限' ? data.messageIdeasCountDoc.limit : `毎日の無料使用回数: ${parseInt(data.messageIdeasLimit - data.messageIdeasCountDoc.count)}/${data.messageIdeasCountDoc.limit}`
            }
            $('#messageIdeasLimit').html(limitMess).css('opacity',1)
        })
    });

    $(document).on('click', '.chart-button, .chatbot-image-chat', function(e) {
        e.preventDefault();
        e.stopPropagation();
        // data-id属性からチャットIDを取得
        var chatId = $(this).data('id');
        const user = {{{json user}}}
        const userId = user._id
        // POSTリクエストを送信
        $.post('/api/chat-analyze/', { chatId: chatId, userId })
            .done(function(response) {
                // 受け取ったデータの長さを取得
                var dataLength = response.total;
                // SweetAlert2でアラートを表示
                Swal.fire({
                    html: `
                        <div class="card border-0 shadow-0">
                            <div class="card-body">
                                <h5 class="card-title">${response.chat.name}</h5>
                                <p class="card-text text-muted" style="font-size: 16px;">${response.chat.description}</p>
                                <p class="card-text text-muted" style="font-size: 16px;">${response.chat.rule}</p>
                                <p class="card-text text-muted d-none" style="font-size: 14px;">${response.author}</p>
                                <div class="d-flex justify-content-between mb-3">
                                    <div class="card-text text-center w-100 d-none" style="flex-direction: column;"><span class="w-100">${response.chat.rating ? response.chat.rating : '...'}</span><span class="text-muted" style="font-size: 12px;">評価</span></div>
                                    <div class="card-text text-center w-100 d-none" style="flex-direction: column;" ><span class="w-100">${response.chat.category ? response.chat.category : '...'}</span><span class="text-muted" style="font-size: 12px;">カテゴリー</span></div>
                                    <div class="card-text text-center w-100 d-none" style="flex-direction: column;" ><span class="w-100">${response.total ? response.total : '0'}</span><span class="text-muted" style="font-size: 12px;">会話の合計</span></div>
                                </div>
                                <a href="/chat/${response.chat._id}" class="btn btn-dark w-100 my-4" style="border-radius:50px;">${translations.startChat}</a>
                            </div>
                        </div>
                    `,
                    imageUrl: response.chat.chatImageUrl || response.chat.thumbnailUrl ||'/img/logo.webp',
                    imageWidth: 'auto',
                    imageHeight: 75,
                    imageAlt: 'Thumbnail',
                    showCloseButton: true,
                    showConfirmButton: false,
                    showClass: {
                        popup: 'swal2-bottom-slide-in'
                    },
                    hideClass: {
                        popup: 'swal2-bottom-slide-out'
                    },
                    customClass: {
                        popup: 'animated fadeInDown chatbot-info-card',
                        image: 'swal-image analyze mb-3'
                    }
                });
            })
            .fail(function() {
                // エラーハンドリング
                Swal.fire({
                    title: 'エラー',
                    text: 'データの取得に失敗しました。',
                    icon: 'error'
                });
            });
    });
    
    $(document).on('click', '.assistant-image-box', function(e) {
        if($(this).hasClass('isBlurred')){
            loadPlanPage();
           return
        }
        e.preventDefault();
        e.stopPropagation();

        const images = $('.assistant-image-box img').map(function() {
            return $(this).attr('src');
        }).get();

        const clickedImageUrl = $(this).find('img').attr('src') || $(this).attr('data-src');
        const initialSlideIndex = images.indexOf(clickedImageUrl);

        let slides = '';
        images.forEach(imageUrl => {
            slides += `<div class="swiper-slide"><img src="${imageUrl}" style="width: 100%;object-fit: contain;height:90vh"></div>`;
        });

        Swal.fire({
            html: `
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        ${slides}
                    </div>
                    <div class="swiper-button-next text-white" style="opacity:0.8;"></div>
                    <div class="swiper-button-prev text-white" style="opacity:0.8;"></div>
                </div>
            `,
            showCloseButton: true,
            showConfirmButton: false,
            width: '100%',
            zoom: true,
            background: 'rgba(0,0,0,0.85)',
            customClass: {
                popup: 'bg-transparent animated-popup image-preview p-0',
                htmlContainer: 'bg-transparent'
            },
            showClass: {
                popup: 'animate__animated animate__fadeIn'
            },
            hideClass: {
                popup: 'animate__animated animate__fadeOut'
            },
            didOpen: () => {
                new Swiper('.swiper-container', {
                    loop: true,
                    initialSlide: initialSlideIndex,
                    navigation: {
                        nextEl: '.swiper-button-next',
                        prevEl: '.swiper-button-prev',
                    },
                    autoHeight: true,
                    slideToSHow : 1,
                    responsive: true,
                    breakpoints: {
                        1024: {
                            slidesPerView: 3,
                        },
                    },
                    zoom: {
                        maxRatio: 3,
                    },
                });
            }
        });
    });

    $(document).on('click', '.tag-button', function(e) {
        e.preventDefault();
        e.stopPropagation();
        const user = {{{json user}}}
        const isTemporary = !!user.isTemporary
        const subscriptionStatus = user.subscriptionStatus == 'active'
        if(isTemporary || !subscriptionStatus){
            showUpgradePopup()
            return
        }
        var dataId = $(this).attr('data-id');
        var codeToCopy = `<div id="lamix-chat-widget" data-id="${dataId}"></div><script src="https://lamix.hatoltd.com/js/chat-widget.js"></` + `script>`;

        // Create a temporary textarea element to copy the text
        var $temp = $('<textarea>');
        $('body').append($temp);
        $temp.val(codeToCopy).select();
        document.execCommand('copy');
        $temp.remove();

        // Show SweetAlert2 notification
        Swal.fire({
            title: 'コピー完了',
            text: 'タグをコピーしました。チャットボットを設置したい場所にタグを貼り付けてください。',
            icon:'success',
            confirmButtonText: 'OK'
        });
    });
    $(document).on('click', '.delete-chat', function(e) {
        e.preventDefault()
        e.stopPropagation();
        const chatId = $(this).data('id');
        const user = {{{json user}}}
        const userId = user._id
        Swal.fire({
            title: '本当に削除しますか？',
            text: "この操作は元に戻せません！",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'はい、削除します！',
            cancelButtonText: 'キャンセル'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: `/api/delete-chat/${chatId}`,
                    type: 'DELETE',
                    data: { chatId },
                    success: function(response) {
                        renderChatList(userId)
                    },
                    error: function(xhr, status, error) {
                        Swal.fire(
                            'エラー',
                            'チャットの削除に失敗しました。',
                            'error'
                        );
                    }
                });
            }
        });
    });
    $(document).on('click', '.delete-chat-history', function(e) {
        e.preventDefault()
        e.stopPropagation();
        const selectedChatId = $(this).data('id');
        Swal.fire({
            title: '本当に削除しますか？',
            text: "この操作は元に戻せません！",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'はい、削除します！',
            cancelButtonText: 'キャンセル'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: `/api/delete-chat-history/${selectedChatId}`,
                    type: 'DELETE',
                    success: function(response) {
                        $(document).find(`.user-chat-history[data-chat="${selectedChatId}"]`).fadeOut().remove()
                    },
                    error: function(xhr, status, error) {
                        Swal.fire(
                            'エラー',
                            'チャットの削除に失敗しました。',
                            'error'
                        );
                    }
                });
            }
        });
    });

    $('.nav-link').on('click', function(e) {
        e.preventDefault();
        $('.nav-link').removeClass('active');
        $(this).addClass('active');
        
        if ($(this).text().trim() === 'ペルソナ') {
            $('.custom-card').hide();
            $('.custom-card .persona.on').closest('.custom-card').show();
        } else {
            $('.custom-card').show();
        }
    });
    $(document).on('click','.redirectToChat',function(){
        const chatId = $(this).data('id');
        const chatImage = $(this).data('image');
        redirectToChat(chatId,chatImage)
    })
});
function redirectToChat(chatId,chatImage) {
    if($(`#spinner-${chatId}`).hasClass('on')){
        return
    }
    if(chatImage){
        $('#chat-container').css('background-image', chatImage);
    }
    $(`#spinner-${chatId}`).addClass('on').show()
    const user = {{{json user}}}
    const userId = user._id

    fetchChatData(chatId,userId,null,function(){
        $(`#spinner-${chatId}`).removeClass('on').hide()
    })
}
$('.date-time').each(function() {
    var dateText = $(this).text();
    var trimmedDate = dateText.split(' ')[0]; // Get the date part only
    $(this).text(trimmedDate); // Update the element's content
});
function initiateCheckout(buttonId) {
    const user = {{{json user}}}
    const userId = user._id
    let stripe
    if(window.location.href.indexOf('https://') >= 0){
        stripe = Stripe('pk_live_51PjtRbE5sP7DA1XvCkdmezori9qPGoO21y7yKSVvgkQVyrhWZfHAUkNsjPMnbwpPlp4zzoYsRjn79Ad7XN7HTHcc00UjBA9adF'); // Use your publishable key here
    }else{
        stripe = Stripe('pk_test_51PjtRbE5sP7DA1XvD68v7X7Qj7pG6ZJpQmvuNodJjxc7MbH1ss2Te2gahFAS9nms4pbmEdMYdfCPxFDWHBbu9CxR003ikTnRES'); // Use your publishable key here
    }
    $.ajax({
        url: '/plan/create-checkout-session',
        method: 'POST',
        data: { buttonId, userId },
        success: function(session) {
            return stripe.redirectToCheckout({ sessionId: session.id });
        },
        error: function(xhr, status, error) {
            console.error('Error creating Stripe checkout session:', error);
        }
    });
}
    function renderCircleGrid(cardInfos,container){
        cardInfos.forEach(function(item) {
            var card = $(`
                <div class="card custom-card bg-transparent shadow-0 border-0 px-1 col-3 col-sm-4 col-lg-2" style="cursor:pointer;" data-id="${item._id}">
                    <div style="background-image:url(${item.chatImageUrl})" class="card-img-top rounded-avatar position-relative m-auto" alt="${item.name}">
                    </div>
                </div>
            `);
            card.on('click', function() {
                redirectToChat($(this).attr('data-id'))
            });
            container.append(card);
        });   
    }
</script>
</body>
</html>
