<!DOCTYPE html>
<html lang="ja">
    {{> dashboard-header}}
<body>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

    <style>
        .overflow-visible {
            overflow: visible !important;
        }
        .rounded-avatar {
            width: 70px;
            height: 70px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top;
            border-radius: 50px;
        }
        iframe {
            width: 100%;
            height: 100%;
            border: none;
        }
        #chat-container{
            background-size:contain;
        }
        #chatContainer > div:nth-child(1) {
            padding-top: 35px;
        }
        .one-line {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100px;
            display: block;
        }
        .swal2-custom-close-button {
            display: none;
        }
        .swal2-top-left-close-button {
            position: absolute;
            top: 10px;
            left: 10px;
        }
        #introChat-none{
            overflow-y: scroll;
            background-color: rgba(255, 255, 255, 0.9);
            justify-content: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: absolute;
            bottom: 120px;
            right: 10px;
            left: 10px;
        }
        .audio-controller {
            display: flex;
            align-items: center;
            color: white;
            border-radius: 20px;
            width: auto;
            justify-content: center;
            position: absolute;
            top: -11px;
            left: 60px;
            font-size: 12px;
        }
        .audio-controller button {
            border: none;
            cursor: pointer;
            color: rgb(165 164 164);
            font-size: 12px;
            width: 50px;
        }
        .album-popup {
            height: 80vh;
        }
        .gen-idea-container #swal2-html-container, .album-popup #swal2-html-container{
            border-radius: 40px 40px 0 0;
            padding: 0;
            width: 100%;
        }
        .gen-idea-container, .album-popup{
            border-radius: 40px 40px 0 0;
            background: linear-gradient(135deg, #1e1946, #1e1928c2, #24243e);
            width: 100%;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
        }
        .album-popup {
            background: linear-gradient(135deg, #1e1946, #1e1928c2, #24243e);
        }
        .gen-idea-container{
            background: linear-gradient(135deg, #1e1946, #1e1928c2, #24243e);
        }
        .gen-idea-container .swal2-close{
            right: 15px;
            border-radius: 50%;
            font-size: 31px;
            top: 10px;
        }
        .gen-idea-container .swal2-close {
            background: #9796963d;
        }
        .gen-idea-container .swal2-close {
            background: #9796963d;
        }
        em {
            font-size: 13px;
            color: #979393;
        }
        .assistant-image-box img{
            width: 100%;
            border-radius: 5px;
            max-width: 200px;
            cursor: pointer;
        }
        .isLoading .fa-image{
            display: none;
        }
        .isLoading .fa-spin{
            display: inherit !important;
        }
        .custom-gradient-bg-no-animation{
            background: linear-gradient(90.9deg, #D2B8FF 2.74%, #8240FF 102.92%);
        }
        .custom-gradient-bg {
            background: linear-gradient(90.9deg, #D2B8FF 2.74%, #8240FF 102.92%);
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            position: relative;
            overflow: hidden;
            transition: color 0.3s ease-in-out;
        }

        .custom-gradient-bg::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 300%;
            height: 300%;
            background: radial-gradient(circle, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 80%);
            transform: translate(-50%, -50%) scale(0);
            transition: transform 0.5s ease-in-out;
            z-index: 0;
        }

        .custom-gradient-bg:hover::before {
            transform: translate(-50%, -50%) scale(1);
        }

        .custom-gradient-bg:hover {
            color: #fff;
        }
        .chatbot-info-card {
            height: 80vh;
            overflow-y: scroll;
        }
        .chatbot-info-card .swal-image.analyze {
            margin-left: auto !important;
            margin-right: auto !important;
            margin-top: 25px !important;
        }
        .chatbot-image-chat{
            cursor: pointer;
        }
        .chatbot-category-button img {
            object-fit: cover;
            width: 70px !important;
            height: 70px;
            border-radius: 50%;
        }
        .assistant-chat-box{
            border-radius: 0px 15px 15px 15px;
            background-color: #151213b0;
            color: #fff;
        }
        .narration-container{
            font-size: 13px;
            color: #606060;
        }
        .chat-option-menu .dropdown-item{
            padding: 5px 15px;
        }
        .chat-option-menu li {
            padding: 3px 10px;
        }
        #chat-discovery h4{
            margin-bottom: 0px !important;
        }
        .message-container p {
            margin-bottom: 0;
        }
        .btn.ico-login-button {
            background-color: #f2f2f2;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .btn.ico-login-button img {
            width: 30px;
            margin-right: 10px;
        }
        .animated.fadeInDown .swal2-image{
            margin:0;
        }
        .animated.fadeInDown .swal2-close{
            border:0;
        }
        /* Custom animation for sliding in from the bottom */
        .swal2-bottom-slide-in {
            animation: bottom-slide-in 0.5s;
        }

        .swal2-bottom-slide-out {
            animation: bottom-slide-out 0.5s;
        }

        @keyframes bottom-slide-in {
            0% {
                transform: translateY(100%);
                opacity: 0;
            }
            100% {
                transform: translateY(0);
                opacity: 1;
            }
        }

        @keyframes bottom-slide-out {
            0% {
                transform: translateY(0);
                opacity: 1;
            }
            100% {
                transform: translateY(100%);
                opacity: 0;
            }
        }

        .text-muted {
            color: #aeb0b4 !important;
        }
        .text-muted {
            font-weight: 300;
        }
        .scroll-horizontal {
            flex-wrap: nowrap;
            width: 100%;
            flex-direction: row;
            overflow-x: scroll;
        }
        .u-color-grad {
            background: linear-gradient(90.9deg, rgba(110, 32, 244, 0.5) 2.74%, #6E20F4 102.92%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            margin-right: 6px;
            letter-spacing: 0;
            font-size: 54px;
            line-height: 1;
        }
        .onchat-off, .onchat-on{
            display: none;
        }
        .avatar{
            object-fit: cover;
            object-position: top;
            width: 32px;
        }
        .card-img-top.girls_avatar {
            object-fit: cover;
            object-position: top;
            width: 100%;  
            margin: auto;
            border-radius: 15px;
            height: 350px;
            padding: 0 5px;  
            background-position: top;
            background-size: cover;
        }
        .scroll-container {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        }
        .scroll-container > * {
        flex: 0 0 auto;
        width: auto;
        }
        .category-container {
            display: flex;
            overflow-x: auto;
            white-space: nowrap;
        }
        .category-button {
            margin: 5px;
        }
        .card-round-design .col-12{
            margin-top: 50px;
        }
        .card-round-design .col-12 .card .card-img-top{
            position: absolute;
            top: -50px;
            width: 100px;
            height: 100px;
            left: 0;
            right: 0;
            margin: auto;
            border-radius: 150px;
            object-fit: cover;
            object-position: top;
        }
        .card-round-design .col-12 .card .card-body{
            padding-top: 100px;
        }
        .card-round-design .col-10 .card .card-img-top{
            height: 270px;
            margin: auto;
            object-fit: cover;
            object-position: top;
        }
        .swal-image.analyze{
            object-fit: cover;
            object-position: top;
            width: auto !important;
            height: 200px !important;
            border-radius: 6px !important;
        }
        .chat-container {
            display: flex;
            overflow-x: auto;
            padding-bottom: 0px;
            padding-top: 0px;
        }
        .chat-card {
            flex: 0 0 auto;
            width: 30vw;
            margin-right: 15px;
        }
        .online-text {
            width: 95%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .character-short-description {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            font-size: 13px;
        }
        .character-title{
            font-weight: 600;
            font-size: 16px;
            color: black;
        }
        .chat-container .card:hover {
            background: none !important;
        }
        @media (max-width: 600px) {
            #chat-container{
                background-size:cover;
            }
            .noscroll{
                display: block;
                overflow: hidden;
            }
            .top-img{
                width: 70%;
            }
            .card.chat-card {
                width: 330px;
            }
        }
        .intro-thumbnail{
            border-radius: 150px;
            margin-bottom: 10px;
            width: 100px;
            object-fit: cover;
            height: 100px;
            object-position: top;
        }
        .sidebar, .sidebar-history {
            height: 100vh;
            width: 260px;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1034;
            background-color: #f5f5f5;
            transition: transform 0.3s ease;
            transform: translateX(0);
            overflow: scroll;
        }
        .sidebar.hidden ,.sidebar-history.hidden {
            transform: translateX(-260px);
        }
        .sidebar-history.shadow {
            z-index: 1035;
        }
        .content {
            margin-left: 260px;
            transition: margin-left 0.3s ease;
        }
        .content.collapsed {
            margin-left: 0;
        }
        nav.navbar {
            margin-left: 0;
            transition: margin-left 0.3s ease;
        }
        nav.navbar.move {
            margin-left: 260px;
        }
        .choice-container {
            text-wrap: nowrap;
            overflow: auto;
            padding: 15px 0px;
        }
        #startButton {
            border-radius: 10px;
            font-weight: 600;
            padding: 15px 0px;
        }
        #chatContainer {
            height: 100%;
            overflow-y: scroll;
        }
        .fade-content {
            height: 100%;
            mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 10%);
            -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 10%);
        }


        #chat-container {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            overflow-x: hidden;
        }
        .card-header, .card-footer {
            flex-shrink: 0;
        }
        .card-body {
            flex-grow: 1;
            overflow-y: auto;
            position: relative;
        }
        .btn-flat-border {
            display: inline-block;
            padding: 0.3em 1em;
            text-decoration: none;
            color: #742af4;
            border: solid 2px #b58df9;
            border-radius: 3px;
            transition: .4s;
            margin-right: 5px;
            margin-left: 5px;
            font-size: 18px;;
        }
        .dropdown-toggle::after {
            display:none !important;
        }

        .btn-flat-border:hover {
            background: #742af4;
            color: white;
        }
        #messages {
            padding: 10px;
            padding-bottom: 100px;
            border-radius: 5px;
            z-index: 1;
        }
        #chatInput {
            position: absolute;
            bottom: 0;
            width: 100%;
            right: 0;
            left: 0;
            background: linear-gradient(to top, white 40%, transparent 100%);
            z-index: 1000;
            padding: 10px;
        }
        #sendMessage,
        #chatInput .load {
            border-left: 0 !important;
            border-radius: 0px 30px 30px 0px !important;
            box-shadow: none;
        }
        #gen-ideas{
            border-right: 0 !important;
            border-radius: 30px 0px 0px 30px !important;
            box-shadow: none;
        }
        #userMessage {
            border-radius: 0 !important;
            background-color: #f5f5f5;
            height: 50px;
            font-size: 14px;
            padding-left: 20px;
            resize: none;
        }
        #userMessage:focus {
            outline: none;
            box-shadow: none; /* If there is a box shadow applied on focus */
        }
        .user-chat{
            cursor: pointer;
        }
        .user-chat:hover{
            background-color: #f8f9fa;
        }

        .chat-list .thumb {
            margin-right: 0px;
        }
        .chat-list .thumb img {
            width: 40px;
            height: 40px;
            -o-object-fit: cover;
            object-fit: cover;
            overflow: hidden;
            object-position: top;
            border-radius: 13px;
        }
        .chat-list.item:hover, .user-chat-history:hover {
            background-color: #c6c9cc99 !important;
        }
        .chat-list.item.active, .user-chat-history.active {
            background-color: #c6c9cc99 !important;
        }
        .chat-list .dropdown .dropdown-toggle, #chat-history .dropdown .dropdown-toggle{
            transform: rotate(90deg);
        }
        .chat-list .dropdown .dropdown-toggle, #chat-history .dropdown .dropdown-toggle{
            opacity: 1;
            pointer-events: 'none';
        }
        .online-text {
            width: 150px; 
            white-space: nowrap;
            overflow: hidden;
        }
        .lines-paragraph {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;  
            overflow: hidden;
        }

        .chat-contain .card-body{
                width: 100%;
        }
        .swal-image{
            border-radius: 50px;
            object-fit: cover;
        }
        .img-gen-button {
            background-size: cover;
            border-radius: 50%;
            padding: 15px;
        }
        @media (max-width: 600px) {
            .chat-contain .card-body{
                width: 100%;
            }
            .content,
            nav.navbar.move {
                margin-left: 0px;
            }
        }
    </style>
    
    <div class="sidebar-history hidden shadow">
        <div class="d-flex justify-content-between">
            <h5 class="my-2 mx-3">チャット履歴</h5>
            <button type="button" class="btn btn-light history-chat">
                <i class="fas fa-angle-left"></i>
            </button>
        </div>
        <div id="chat-history"></div>
    </div>
    <div class="sidebar hidden bg-light shadow-0 d-flex flex-column">
        <div class="tools d-flex align-items-start flex-column sticky-top bg-light py-2">
            <div class="d-none w-100 m-2">
                <button class="menu-chat-sm d-sm-none btn bg-white shadow-0"><i class="fa-solid fa-bars"></i></button>
            </div>
            <div>
                <a href="/chat/edit/" class="m-2 btn px-4 py-2 border shadow-0 btn-outline-secondary" style="border-radius:40px;">
                    <i class="fas fa-plus me-2"></i>キャラクター作成
                </a>
                <span onclick="showDiscovery()" class="d-none m-2 btn px-4 py-2 border shadow-0 btn-outline-secondary" style="border-radius: 40px;">
                    <i class="fas fa-compass me-2"></i>ライブラリー
                </span>
            </div>
            <span class="text-dark ps-4 fw-bold" style="font-size: 12px;">チャット一覧 <span id="user-chat-count" >{{chats.length}}</span></span>
        </div>
        <div id="chat-list" class="mt-1 pb-3" style="flex-grow: 1;overflow-y: scroll;overflow-x: hidden;border-top:1px solid #cccccc6b;">
        </div>
    </div>
    <div id="overlay" class="d-sm-none bg-dark" style="position: fixed; inset: 0; z-index: 1033; display: none; opacity: 0.4; overflow: hidden;"></div>
    <div class="content collapsed">
        <nav class="navbar navbar-expand-lg navbar-white bg-transparent fixed-top shadow-0">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-center m-auto">
                    <div style="position: absolute;left: 20px;top: 10px;">
                        <button class="menu-chat-sm d-sm-none btn btn-light"><i class="fa-solid fa-bars"></i></button>
                        <button id="menu-chat" class="d-none d-sm-inline-block btn btn-light"><i class="fa-solid fa-bars"></i></button>
                    </div>
                    <div class="d-flex flex-row" style="cursor:pointer" onclick="showDiscovery()">
                        <img src="/img/logo.webp" alt="" class="mx-3" width="40px">
                        <span class="d-none">LAMIXボット</span>
                    </div>  
                    <div>
                        <div class="navbar-collapse" id="navbarNav" style="position: absolute;right: 20px;top: 10px;">
                            <ul class="navbar-nav ms-auto mb-lg-0">
                                {{#if user.isTemporary}}
                                {{else}}
                                <li class="nav-item btn btn-light onchat-on me-2" onclick="showCoinShop(this)">
                                    <span>🪙</span>
                                    <span class="user-coins fw-bold"></span>
                                </li>
                                {{/if}}
                                <li class="nav-item dropdown onchat-off">
                                    {{> dashboard-avatar}}
                                </li>
                            </ul>
                        </div>
                    </div>     
                </div>
            </div>
        </nav>
        <section id="chat-discovery" class="onchat-off mt-5" style="display: block;margin-bottom: -60px;">
            {{#if user.isTemporary}}
                <div class="mb-5 mt-1">
                    <section class="w-100 px-3 py-2">
                        <img src="/img/logo.webp" alt="" class="mx-3 mb-3" width="75px">
                        <span class="u-font-manrope u-color-grad">Lamix</span>は、
                        <h3 class="fw-bold mb-1 px-3">AIキャラクターと<br>楽しくおしゃべりができる。</h3>
                        <div class="d-flex px-3">
                            <button type="button" class="btn btn-sm custom-gradient-bg shadow-0 border-0 mb-1 mx-1 auto-gen">
                                <i class="fa fa-comment me-2"></i>
                                AIチャット
                            </button>
                            <button type="button" class="btn btn-sm custom-gradient-bg shadow-0 border-0 mb-1 mx-1 auto-gen">
                                <i class="fa fa-image me-2"></i>
                                AI画像
                            </button>
                            <button type="button" class="btn btn-sm custom-gradient-bg shadow-0 border-0 mb-1 mx-1 auto-gen">
                                <i class="fa fa-magic me-2"></i>
                                AI生成
                            </button>
                        </div>
                        <p class="text-muted px-3 mb-1" style="font-size: 12px;">お気に入りのキャラクターを選んで楽しい会話を楽しめます。最新のAI技術でキャラクターが生き生きとし、まるで本物の友達と話しているかのような体験ができます。さらに、キャラクターを自分好みにカスタマイズしたり、ゼロから新しいキャラクターを作成することも可能です。新しい友達を作って、自由におしゃべりを楽しんでください！</p>
                    </section>
                </div>
            {{else}}
                <iframe id="user-profile-page" src="/user/{{user._id}}" frameborder="0" ></iframe>
            {{/if}}
                <div id="people-chat"></div>
            <section class="is-free-user my-2" style="display: none;">
                <div class="container text-center">
                    <h2 class="pricing-title fw-bold"><span class="u-font-manrope u-color-grad">Lamix</span>プレミアムプラン</h2>   
                    <h3 class="fw-bold mb-1 px-3">無制限でお得</h3>
                    <h3 class="fw-bold mb-1 px-3 u-font-manrope u-color-grad my-5">￥300円</h3>
                <div>
            </section>
            <div class="is-free-user sticky-bottom py-2 mx-auto text-center" style="display: none;bottom:0;left:0;right:0;">
                <a href="/my-plan" class="m-2 btn border shadow-0 btn-secondary px-5 py-2 m-auto" style="border-radius:40px;background: linear-gradient(90.9deg, rgba(110, 32, 244, 0.5) 2.74%, #6E20F4 102.92%);">
                    <i class="fas fa-plus me-2"></i>プランの詳細を確認する
                </a>
            </div>
        </section>
        <div class="container chat-contain px-0 onchat-on">
            <div id="chat-container" class="card shadow-0 border-0 rounded-0" style="background-position: top center;background-repeat: no-repeat;">
                <div class="card-body text-center py-0 container" style="min-height:250px;overflow-y:hidden;display: flex;flex-direction: column;">
                    <div id="chat-recommend" class="text-white rounded d-flex align-items-center justify-content-center" style="margin-top: 70px !important;margin-bottom:10px">
                        <div class="characters" style="display: flex;flex-direction: row;overflow-x: scroll;"></div>
                    </div>
                    <div style="flex-grow:1;height: 100%;overflow: scroll;">
                        <div id="chatContainer" class="pt-2 fade-content" style="padding-bottom: 150px !important;"></div>
                        <div id="chatInput" class="input-group rounded-0 rounded-bottom" style="position: absolute;bottom: 0;left: 0;right: 0;padding: 0px 15px 5px 15px;">
                            <div class="d-flex justify-content-between align-items-center w-100">
                                <div>
                                    <button type="button" class="btn btn-md bg-light shadow-0 border-0 mb-2 mx-1" id="audio-play" style="display: none;">
                                        <i class="fa" id="audio-icon"></i>
                                    </button>
                                </div>
                                <div class="d-flex pe-2">
                                    <button class="d-none btn btn-dark border-light shadow-0 mx-1 my-1 img-gen-button" id="stability-gen-button-none" style="display:none;background-image:url('/img/sd.jpg')"><i class="fa fa-spinner fa-spin fa-fw fa-hidden" style="display: none;"></i><i class="far fa-image"></i></button>
                                    <button class="d-none btn btn-dark border-light shadow-0 mx-1 my-1 img-gen-button" id="novita-gen-button-none" style="display:none;background-image:url('/img/novita.jpg')"><i class="fa fa-spinner fa-spin fa-fw fa-hidden" style="display: none;"></i><i class="far fa-image"></i></button>
                                    <button type="button" class="d-none btn btn-md custom-gradient-bg shadow-0 border-0 mb-2 mx-1 auto-gen" id="novita-gen-button" style="display: none;">
                                        <div class="d-flex">
                                            <i class="fa fa-spinner fa-spin fa-fw fa-hidden" style="display: none;"></i>
                                            <i class="fa fa-image me-2"></i>
                                            AI画像
                                        </div>
                                    </button>
                                    <button type="button" class="d-none btn btn-md custom-gradient-bg shadow-0 border-0 mb-2 mx-1 auto-gen-none" id="huggingface-gen-button" style="display: none;">
                                        <div class="d-flex">
                                            <i class="fa fa-spinner fa-spin fa-fw fa-hidden" style="display: none;"></i>
                                            <i class="fa fa-image me-2"></i>
                                            AI画像
                                        </div>
                                    </button>
                                    <div id="progress-container" style="position: absolute; width: 44px; height: 100px;bottom: 50px;right: 10px;display:none;">
                                    </div>
                                </div>
                            </div>

                            <div id="input-container" class="d-flex w-100">
                                <button id="gen-ideas" class="btn btn-light px-4 border-0">💡</button>
                                <textarea id="userMessage" class="form-control py-3 border-0" placeholder="チャットしよう"></textarea>
                                <button id="sendMessage" class="btn btn-light px-4 border-0"><i class="fas fa-paper-plane"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </div>

 {{> dashboard-footer}}
<script src="/js/chat.js"></script>
<script src="/js/discovery.js"></script>
<script src="/js/stability.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
<script src="https://js.stripe.com/v3/"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
$(document).ready(function() {
    const user = {{{json user}}}
    displayPepopleChat();
    function adjustHeight() {
        const newHeight = $(window).height() * 0.97;
        $('.chat-contain .card-body').height(newHeight);
    }
    $(document).ready(adjustHeight);
    $(window).resize(adjustHeight);

    function resizeIframe() {
        var iframe = $('#user-profile-page');
        if(iframe.length == 0 ){return}
        const newHeight = iframe[0].contentWindow.document.body.scrollHeight
        if( newHeight > 0) { iframe.height(newHeight); }
    }
    $(window).on('load', resizeIframe);
    $(window).on('resize', resizeIframe);
    window.addEventListener('message', function(event) {
        if (event.data === 'resizeIframe') {
            resizeIframe();
        }
    });

    window.addEventListener('message', function(event) {
        if (event.data.event === 'openChat') {
            redirectToChat(event.data.chatId)
        }
    });

    window.addEventListener('message', function(event) {
        if (event.data.event === 'updatePersona') {
             updatePersona(event.data.personaId,event.data.isAdding)
        }
    });
    
    window.addEventListener('message', function(event) {
        if (event.data.event === 'updateCoins') {
             updateCoins()
        }
    });

    // Initialize user preference from cookie
    if (Cookies.get('sidebarState') === 'expanded') {
        $('.sidebar').removeClass('hidden');
        $('.content').removeClass('collapsed');
        $('nav.navbar').addClass('move');
        $('#overlay').show()
    }
    $('#menu-chat').on('click', function(){

        $('.sidebar-history').addClass('hidden');
        const sidebar = $('.sidebar');
        const content = $('.content');
        const navbar = $('nav.navbar');
        
        if (sidebar.hasClass('hidden')) {
            sidebar.removeClass('hidden');
            content.removeClass('collapsed');
            navbar.addClass('move');
            $('#overlay').show()
        } else {
            sidebar.addClass('hidden');
            content.addClass('collapsed');
            navbar.removeClass('move');
            $('#overlay').hide()
        }
        
        // Update the cookie based on the new state
        if ($('.sidebar').hasClass('hidden')) {
            Cookies.set('sidebarState', 'collapsed', { expires: 7 }); // Cookie expires in 7 days
        } else {
            Cookies.set('sidebarState', 'expanded', { expires: 7 });
        }
    });
    $(document).on('click','.history-chat', function(){
        const chatId = $(this).data('id')
        const userId = $(this).data('user')
        if(chatId && userId){ 
            getUserChatHistory(chatId, userId) 
        }
        $('.sidebar-history').toggleClass('hidden');
        $('.sidebar').removeClass('hidden');
        $('.content').removeClass('collapsed');
        $('nav.navbar').addClass('move');
        $('#overlay').toggle()
        $('.content').toggleClass('noscroll');
    })
    $('.menu-chat-sm').on('click', function(){
        $('.sidebar').toggleClass('hidden');
        $('#overlay').toggle()
        $('.content').toggleClass('noscroll');
    });
    $('#overlay').on('click', function(){
        $('#overlay').toggle()
        $('.sidebar').toggleClass('hidden');
        $('.sidebar-history').addClass('hidden');
        $('.content').toggleClass('noscroll');
        // Update the cookie based on the new state
        if ($('.sidebar').hasClass('hidden')) {
            Cookies.set('sidebarState', 'collapsed', { expires: 7 }); // Cookie expires in 7 days
        } else {
            Cookies.set('sidebarState', 'expanded', { expires: 7 });
        }
    });
    $(document).on('click', '#gen-ideas', function() {
        const isTemporary = $('body').attr('data-temporary-user') === 'true';
        if($('#chat-widget-container').length == 0 && isTemporary){
            showRegistrationForm(); return;
        }

        const is_chatId = $(this).attr('data-chat-id');
        const is_userId = $(this).attr('data-user-id');
        const is_userChatId = $(this).attr('data-user-chat-id');
        if(is_userChatId == "false"){
            return
        }
        if($(this).hasClass('limit')){
            showUpgradePopup('chat-message-ideas');
            return
        }
        Swal.fire({
            html: `
                <div id="ideas-container" class="text-white pt-2 px-3 w-100" style="min-height:200px;">
                    <h5 class="mb-0">スマートリプライ</h5>
                    <span id="messageIdeasLimit" class="text-muted" style="font-size:12px;opacity:0">毎日の無料使用回数</span>
                    <hr class="my-1">
                    <ul class="list-unstyled list-group mb-0">
                        <li class="loading-placeholder list-group-item idea-item text-white text-start rounded my-1 py-2" style="cursor:pointer;background:#bfbfbf47;font-size:14px;">
                            <img src="/img/load-dot.gif" style="width:30px">
                        </li>
                        <li class="loading-placeholder list-group-item idea-item text-white text-start rounded my-1 py-2" style="cursor:pointer;background:#bfbfbf47;font-size:14px;">
                            <img src="/img/load-dot.gif" style="width:30px">
                        </li>
                        <li class="loading-placeholder list-group-item idea-item text-white text-start rounded my-1 py-2" style="cursor:pointer;background:#bfbfbf47;font-size:14px;">
                            <img src="/img/load-dot.gif" style="width:30px">
                        </li>
                    </ul>
                </div>
            `,
            showClass: { popup: 'animate__animated animate__slideInUp animate__faster' },
            hideClass: { popup: 'animate__animated animate__slideOutDown animate__faster' },
            position: 'bottom', backdrop: 'rgba(43, 43, 43, 0.2)',
            showCloseButton: true, showConfirmButton: false,
            customClass: { container: 'p-0', popup: 'gen-idea-container shadow', closeButton: 'position-absolute' }
        });

        if ($('#gen-ideas').hasClass('done')) {
            $('#ideas-container ul').html($('#gen-ideas').data('savedContent'));
        } else {
            $('#gen-ideas').addClass('done');
            $.ajax({
                url: `${localStorage.getItem('API_URL')}/api/openai-chat-choice/`,
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ userId: is_userId, userChatId: is_userChatId, chatId: is_chatId }),
                success: function(response) {
                    let ideasList = response.map(content => `
                        <li class="list-group-item idea-item text-white rounded my-1" style="cursor:pointer;background:#bfbfbf47;font-size:14px;" onclick="sendMessage('${content}')">
                            ${content}
                        </li>`).join('');
                    $('.loading-placeholder').remove();
                    $('#ideas-container ul').append(ideasList);
                    $('#gen-ideas').data('savedContent', ideasList);
                },
                error: function(xhr, status, error) {
                    if (xhr.responseJSON && xhr.responseJSON.limitIds?.includes(4)) {
                        $('#gen-ideas').addClass('limit');
                        showUpgradePopup('chat-message-ideas');
                    }
                }
            });
        }
          // Display user limits
        $.get('/user/limit/'+is_userId,function(data){
            data = data.limits
            let limitMess = data.messageIdeasLimit == '無制限' ? data.messageIdeasLimit : `毎日の無料使用回数: ${data.messageIdeasLimit}/${data.messageIdeasLimit}`
            if(data.messageIdeasCountDoc){
                limitMess = data.messageIdeasCountDoc.limit == '無制限' ? data.messageIdeasCountDoc.limit : `毎日の無料使用回数: ${parseInt(data.messageIdeasLimit - data.messageIdeasCountDoc.count)}/${data.messageIdeasCountDoc.limit}`
            }
            $('#messageIdeasLimit').html(limitMess).css('opacity',1)
        })
    });

    $(document).on('click', '.chart-button, .chatbot-image-chat', function(e) {
        e.preventDefault();
        e.stopPropagation();
        // data-id属性からチャットIDを取得
        var chatId = $(this).data('id');
        const user = {{{json user}}}
        const userId = user._id
        // POSTリクエストを送信
        $.post('/api/chat-analyze/', { chatId: chatId, userId })
            .done(function(response) {
                // 受け取ったデータの長さを取得
                var dataLength = response.total;
                // SweetAlert2でアラートを表示
                Swal.fire({
                    html: `
                        <div class="card border-0 shadow-0">
                            <div class="card-body">
                                <h5 class="card-title">${response.chat.name}</h5>
                                <p class="card-text text-muted" style="font-size: 16px;">${response.chat.description}</p>
                                <p class="card-text text-muted d-none" style="font-size: 14px;">作成者: ${response.author}</p>
                                <div class="d-flex justify-content-between mb-3">
                                    <div class="card-text text-center w-100 d-none" style="flex-direction: column;"><span class="w-100">${response.chat.rating ? response.chat.rating : '...'}</span><span class="text-muted" style="font-size: 12px;">評価</span></div>
                                    <div class="card-text text-center d-flex w-100" style="flex-direction: column;" ><span class="w-100">${response.chat.category ? response.chat.category : '...'}</span><span class="text-muted" style="font-size: 12px;">カテゴリー</span></div>
                                    <div class="card-text text-center d-flex w-100" style="flex-direction: column;" ><span class="w-100">${response.total ? response.total : '0'}</span><span class="text-muted" style="font-size: 12px;">会話の合計</span></div>
                                </div>
                                <a href="/chat/${response.chat._id}" class="btn btn-dark w-100 my-4" style="border-radius:50px;">チャットを始める</a>
                            </div>
                        </div>
                    `,
                    imageUrl: response.chat.chatImageUrl || response.chat.thumbnailUrl ||'/img/logo.webp',
                    imageWidth: 'auto',
                    imageHeight: 75,
                    imageAlt: 'Thumbnail',
                    showCloseButton: true,
                    showConfirmButton: false,
                    showClass: {
                        popup: 'swal2-bottom-slide-in'
                    },
                    hideClass: {
                        popup: 'swal2-bottom-slide-out'
                    },
                    customClass: {
                        popup: 'animated fadeInDown chatbot-info-card',
                        image: 'swal-image analyze'
                    }
                });
            })
            .fail(function() {
                // エラーハンドリング
                Swal.fire({
                    title: 'エラー',
                    text: 'データの取得に失敗しました。',
                    icon: 'error'
                });
            });
    });
    $(document).on('click', '.assistant-image-box', function(e) {
        e.preventDefault();
        e.stopPropagation();

        const images = $('.assistant-image-box img').map(function() {
            return $(this).attr('src');
        }).get();

        const clickedImageUrl = $(this).find('img').attr('src');
        const initialSlideIndex = images.indexOf(clickedImageUrl);

        let slides = '';
        images.forEach(imageUrl => {
            slides += `<div class="swiper-slide"><img src="${imageUrl}" style="width: 100%; height: 90vh; object-fit: contain;"></div>`;
        });

        Swal.fire({
            html: `
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        ${slides}
                    </div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-next text-white" style="opacity:0.8;"></div>
                    <div class="swiper-button-prev text-white" style="opacity:0.8;"></div>
                </div>
            `,
            showCloseButton: true,
            showConfirmButton: false,
            width: '90%',
            background: 'rgba(0,0,0,0.85)',
            customClass: {
                popup: 'animated-popup image-preview p-0',
                htmlContainer: 'bg-light'
            },
            showClass: {
                popup: 'animate__animated animate__fadeIn'
            },
            hideClass: {
                popup: 'animate__animated animate__fadeOut'
            },
            didOpen: () => {
                new Swiper('.swiper-container', {
                    loop: true,
                    initialSlide: initialSlideIndex,
                    navigation: {
                        nextEl: '.swiper-button-next',
                        prevEl: '.swiper-button-prev',
                    },
                    pagination: {
                        el: '.swiper-pagination',
                        clickable: true,
                    },
                    autoHeight: true,
                    breakpoints: {
                        320: {
                            slidesPerView: 1,
                            spaceBetween: 10
                        },
                        640: {
                            slidesPerView: 2,
                            spaceBetween: 20
                        },
                        1024: {
                            slidesPerView: 3,
                            spaceBetween: 30
                        }
                    }
                });
            }
        });
    });

    $(document).on('click', '.tag-button', function(e) {
        e.preventDefault();
        e.stopPropagation();
        const user = {{{json user}}}
        const isTemporary = !!user.isTemporary
        const subscriptionStatus = user.subscriptionStatus == 'active'
        if(isTemporary || !subscriptionStatus){
            showUpgradePopup()
            return
        }
        var dataId = $(this).attr('data-id');
        var codeToCopy = `<div id="lamix-chat-widget" data-id="${dataId}"></div><script src="https://lamix.hatoltd.com/js/chat-widget.js"></` + `script>`;

        // Create a temporary textarea element to copy the text
        var $temp = $('<textarea>');
        $('body').append($temp);
        $temp.val(codeToCopy).select();
        document.execCommand('copy');
        $temp.remove();

        // Show SweetAlert2 notification
        Swal.fire({
            title: 'コピー完了',
            text: 'タグをコピーしました。チャットボットを設置したい場所にタグを貼り付けてください。',
            icon:'success',
            confirmButtonText: 'OK'
        });
    });
    $(document).on('click', '.delete-chat', function(e) {
        e.preventDefault()
        e.stopPropagation();
        const chatId = $(this).data('id');
        const user = {{{json user}}}
        const userId = user._id
        Swal.fire({
            title: '本当に削除しますか？',
            text: "この操作は元に戻せません！",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'はい、削除します！',
            cancelButtonText: 'キャンセル'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: `/api/delete-chat/${chatId}`,
                    type: 'DELETE',
                    data: { chatId },
                    success: function(response) {
                        renderChatList(userId)
                    },
                    error: function(xhr, status, error) {
                        Swal.fire(
                            'エラー',
                            'チャットの削除に失敗しました。',
                            'error'
                        );
                    }
                });
            }
        });
    });
    $(document).on('click', '.delete-chat-history', function(e) {
        e.preventDefault()
        e.stopPropagation();
        const selectedChatId = $(this).data('id');
        Swal.fire({
            title: '本当に削除しますか？',
            text: "この操作は元に戻せません！",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'はい、削除します！',
            cancelButtonText: 'キャンセル'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: `/api/delete-chat-history/${selectedChatId}`,
                    type: 'DELETE',
                    success: function(response) {
                        $(document).find(`.user-chat-history[data-chat="${selectedChatId}"]`).fadeOut().remove()
                    },
                    error: function(xhr, status, error) {
                        Swal.fire(
                            'エラー',
                            'チャットの削除に失敗しました。',
                            'error'
                        );
                    }
                });
            }
        });
    });

    $('.nav-link').on('click', function(e) {
        e.preventDefault();
        $('.nav-link').removeClass('active');
        $(this).addClass('active');
        
        if ($(this).text().trim() === 'ペルソナ') {
            $('.custom-card').hide();
            $('.custom-card .persona.on').closest('.custom-card').show();
        } else {
            $('.custom-card').show();
        }
    });
    $(document).on('click','.redirectToChat',function(){
        const chatId = $(this).data('id');
        const chatImage = $(this).data('image');
        redirectToChat(chatId,chatImage)
    })
});
function redirectToChat(chatId,chatImage) {
    if($(`#spinner-${chatId}`).hasClass('on')){
        return
    }
    if(chatImage){
        $('#chat-container').css('background-image', chatImage);
    }
    $(`#spinner-${chatId}`).addClass('on').show()
    const user = {{{json user}}}
    const userId = user._id

    fetchChatData(chatId,userId,null,function(){
        $(`#spinner-${chatId}`).removeClass('on').hide()
    })
}
$('.date-time').each(function() {
    var dateText = $(this).text();
    var trimmedDate = dateText.split(' ')[0]; // Get the date part only
    $(this).text(trimmedDate); // Update the element's content
});
function initiateCheckout(buttonId) {
    const user = {{{json user}}}
    const userId = user._id
    let stripe
    if(window.location.href.indexOf('https://') >= 0){
        stripe = Stripe('pk_live_51PjtRbE5sP7DA1XvCkdmezori9qPGoO21y7yKSVvgkQVyrhWZfHAUkNsjPMnbwpPlp4zzoYsRjn79Ad7XN7HTHcc00UjBA9adF'); // Use your publishable key here
    }else{
        stripe = Stripe('pk_test_51PjtRbE5sP7DA1XvD68v7X7Qj7pG6ZJpQmvuNodJjxc7MbH1ss2Te2gahFAS9nms4pbmEdMYdfCPxFDWHBbu9CxR003ikTnRES'); // Use your publishable key here
    }
    $.ajax({
        url: '/plan/create-checkout-session',
        method: 'POST',
        data: { buttonId, userId },
        success: function(session) {
            return stripe.redirectToCheckout({ sessionId: session.id });
        },
        error: function(xhr, status, error) {
            console.error('Error creating Stripe checkout session:', error);
        }
    });
}
function initiateAlbumCheckout(priceId,chatId) {
    const user = {{{json user}}}
    if(user.isTemporary){
        showRegistrationForm()
        return
    }
    const userId = user._id
    let stripe
    if(window.location.href.indexOf('https://') >= 0){
        stripe = Stripe('pk_live_51PjtRbE5sP7DA1XvCkdmezori9qPGoO21y7yKSVvgkQVyrhWZfHAUkNsjPMnbwpPlp4zzoYsRjn79Ad7XN7HTHcc00UjBA9adF'); // Use your publishable key here
    }else{
        stripe = Stripe('pk_test_51PjtRbE5sP7DA1XvD68v7X7Qj7pG6ZJpQmvuNodJjxc7MbH1ss2Te2gahFAS9nms4pbmEdMYdfCPxFDWHBbu9CxR003ikTnRES'); // Use your publishable key here
    }
    $.ajax({
        url: '/album/create-checkout-session',
        method: 'POST',
        data: { priceId, userId, chatId },
        success: function(session) {
            return stripe.redirectToCheckout({ sessionId: session.id });
        },
        error: function(xhr, status, error) {
            console.error('Error creating Stripe checkout session:', error);
        }
    });
}

    function renderCircleGrid(cardInfos,container){
        cardInfos.forEach(function(item) {
            var card = $(`
                <div class="card custom-card bg-transparent shadow-0 border-0 px-1 col-3 col-sm-4 col-lg-2" style="cursor:pointer;" data-id="${item._id}">
                    <div style="background-image:url(${item.chatImageUrl})" class="card-img-top rounded-avatar position-relative m-auto" alt="${item.name}">
                    </div>
                </div>
            `);
            card.on('click', function() {
                redirectToChat($(this).attr('data-id'))
            });
            container.append(card);
        });   
    }
function displayPepopleChat(){
    $.getJSON('/api/people-chat', function(data) {
        let peopleChats = data.peopleChats || {}; // Default to an empty object if undefined
        let htmlContent = '';
        //renderCircleGrid(peopleChats.synclubaichat,$('#chat-recommend .characters'))
        if (peopleChats) {
            // Navigation Tabs
            htmlContent += `
            <ul class="nav nav-tabs mb-2" id="characterTabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="recent-tab" data-bs-toggle="tab" data-bs-target="#recent" type="button" role="tab" aria-controls="recent" aria-selected="true">最新</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="2d-tab" data-bs-toggle="tab" data-bs-target="#anime-tab" type="button" role="tab" aria-controls="2d" aria-selected="false">2D</button>
                </li>
                <li class="nav-item d-none" role="presentation">
                    <button class="nav-link" id="3d-tab" data-bs-toggle="tab" data-bs-target="#real-tab" type="button" role="tab" aria-controls="3d" aria-selected="false">3D</button>
                </li>
            </ul>
            <div class="tab-content" id="characterTabContent">`;

            // Recent Characters
            htmlContent += `
            <div class="tab-pane fade show active" id="recent" role="tabpanel" aria-labelledby="recent-tab">
                <section class="w-100 px-0 py-0">
                    <h4 class="px-4">最新のキャラクター</h4>
                    <div id="latest-chat" class="chat-container pb-0">`;

            (peopleChats.recent || []).forEach(chat => {
                if(chat.nickname){
                    htmlContent += `
                    <div class="card custom-card bg-transparent shadow-0 border-0 my-3 px-1 pb-3 col-6 col-sm-4 col-lg-2 redirectToChat" style="cursor:pointer;" data-id="${chat._id}" data-image="${chat.chatImageUrl}">
                        <div style="background-image:url('${chat.chatImageUrl || '/img/logo.webp'}')" class="card-img-top girls_avatar position-relative" alt="${chat.name}">
                            <div id="spinner-${chat._id}" class="position-absolute spinner-grow spinner-grow-sm text-light" role="status" style="top:5px;left: 5px;display:none;"></div>
                            <div class="position-absolute" style="color: rgb(165 164 164);opacity:0.8; bottom:10px;left:10px;right:10px;">
                                ${(chat.tags || []).length ? `<div class="tags d-flex justify-content-between align-items-center flex-wrap">${chat.tags.map(tag => `<span class="badge bg-dark">${tag}</span>`).join('')}</div>` : ''}
                                <div class="d-flex justify-content-between align-items-center mt-1">
                                    <a href="/user/${chat.userId}" class="badge bg-dark text-white" style="text-decoration: none;">
                                        <i class="fas fa-user-circle me-2"></i>${chat.nickname}
                                    </a>
                                    ${chat.messagesCount ? `<span class="badge bg-dark message-count"><i class="fas fa-comment-alt me-2"></i>${chat.messagesCount}</span>` : ''}
                                </div>
                            </div>
                            <div class="persona position-absolute" style="color: rgb(165 164 164);opacity:0.8; top:10px;right:10px" data-id="${chat._id}">
                                <span class="badge bg-dark"><i class="far fa-bookmark"></i></span>
                            </div>
                        </div>
                        <div class="card-body bg-transparent border-0 pb-0 text-start">
                            <h5 class="card-title character-title">${chat.name}</h5>
                            <p class="card-text character-short-description">${chat.description}</p>
                        </div>
                </div>`;
                }

            });

            htmlContent += `
                    </div>
                </section>
            </div>`;

            // 2D Characters
            htmlContent += `
            <div class="tab-pane fade" id="anime-tab" role="tabpanel" aria-labelledby="2d-tab">
                <section class="w-100 px-0 py-0">
                    <h4 class="px-4">2Dキャラクター</h4>
                    <div class="chat-container pb-0">`;

            (peopleChats.synclubaichat || []).forEach(chat => {
                htmlContent += `
                <div class="card custom-card bg-transparent shadow-0 border-0 my-3 px-1 pb-3 col-6 col-sm-4 col-lg-2 redirectToChat" style="cursor:pointer;" data-id="${chat._id}" data-image="${chat.chatImageUrl}">
                    <div style="background-image:url('${chat.chatImageUrl}')" class="card-img-top girls_avatar position-relative" alt="${chat.name}">
                        <div id="spinner-${chat._id}" class="position-absolute spinner-grow spinner-grow-sm text-light" role="status" style="top:5px;left: 5px;display:none;"></div>
                        <div class="position-absolute" style="color: rgb(165 164 164);opacity:0.8; bottom:10px;left:10px;right:10px;">
                            ${(chat.tags || []).length ? `<div class="tags d-flex justify-content-between align-items-center flex-wrap">${chat.tags.map(tag => `<span class="badge bg-dark">${tag}</span>`).join('')}</div>` : ''}
                            <div class="d-flex justify-content-end align-items-center mt-1">
                                ${chat.messagesCount ? `<span class="badge bg-dark message-count"><i class="fas fa-comment-alt me-2"></i>${chat.messagesCount}</span>` : ''}
                            </div>
                        </div>
                        <div class="persona position-absolute" style="color: rgb(165 164 164);opacity:0.8; top:10px;right:10px" data-id="${chat._id}">
                            <span class="badge bg-dark"><i class="far fa-bookmark"></i></span>
                        </div>
                    </div>
                    <div class="card-body bg-transparent border-0 pb-0 text-start">
                        <h5 class="card-title character-title">${chat.name}</h5>
                        <p class="card-text character-short-description">${chat.description}</p>
                    </div>
                </div>`;
            });

            htmlContent += `
                    </div>
                </section>
            </div>`;

            // 3D Characters
            htmlContent += `
            <div class="tab-pane fade" id="real-tab" role="tabpanel" aria-labelledby="3d-tab">
                <section class="w-100 px-0 py-0">
                    <h4 class="px-4">3Dキャラクター</h4>
                    <div class="chat-container pb-0">`;

            (peopleChats.realisticchat || []).forEach(chat => {
                htmlContent += `
                <div class="card custom-card bg-transparent shadow-0 border-0 my-3 px-1 pb-3 col-6 col-sm-4 col-lg-2 redirectToChat" style="cursor:pointer;" data-id="${chat._id}" data-image="${chat.chatImageUrl}">
                    <div style="background-image:url('${chat.chatImageUrl}')" class="card-img-top girls_avatar position-relative" alt="${chat.name}">
                        <div id="spinner-${chat._id}" class="position-absolute spinner-grow spinner-grow-sm text-light" role="status" style="top:5px;left: 5px;display:none;"></div>
                        <div class="position-absolute" style="color: rgb(165 164 164);opacity:0.8; bottom:10px;left:10px;right:10px;">
                            ${(chat.tags || []).length ? `<div class="tags d-flex justify-content-between align-items-center flex-wrap">${chat.tags.map(tag => `<span class="badge bg-dark">${tag}</span>`).join('')}</div>` : ''}
                            <div class="d-flex justify-content-end align-items-center mt-1">
                                ${chat.messagesCount ? `<span class="badge bg-dark message-count"><i class="fas fa-comment-alt me-2"></i>${chat.messagesCount}</span>` : ''}
                            </div>
                        </div>
                        <div class="persona position-absolute" style="color: rgb(165 164 164);opacity:0.8; top:10px;right:10px" data-id="${chat._id}">
                            <span class="badge bg-dark"><i class="far fa-bookmark"></i></span>
                        </div>
                    </div>
                    <div class="card-body bg-transparent border-0 pb-0 text-start">
                        <h5 class="card-title character-title">${chat.name}</h5>
                        <p class="card-text character-short-description">${chat.description}</p>
                    </div>
                </div>`;
            });

            htmlContent += `
                    </div>
                </section>
            </div>`;

            htmlContent += `</div>`; // Close tab-content
        }

        $('#people-chat').html(htmlContent);
    });
}


</script>
</body>
</html>
