<!DOCTYPE html>
<html lang="ja">
    {{> dashboard-header}}
<body>
    {{> dashboard-nav}}
    <style>
        .choice-container {
            text-wrap: nowrap;
            overflow: auto;
            padding: 15px 0px;
        }
        #chatContainer {
            height: 75vh;
            overflow-y: scroll;
        }
        #chat-container {
            flex: 1;
            display: flex;
            flex-direction: column;
            overflow-x: hidden;
        }
        .card-header, .card-footer {
            flex-shrink: 0;
        }
        .card-body {
            flex-grow: 1;
            overflow-y: auto;
            position: relative;
        }
        .btn-flat-border {
            display: inline-block;
            padding: 0.3em 1em;
            text-decoration: none;
            color: #742af4;
            border: solid 2px #b58df9;
            border-radius: 3px;
            transition: .4s;
            margin-right: 5px;
            margin-left: 5px;
            font-size: 18px;;
        }
        
        .btn-flat-border:hover {
            background: #742af4;
            color: white;
        }
        #messages {
            padding: 10px;
            padding-bottom: 100px;
            border-radius: 5px;
            z-index: 1;
        }
        #chatInput {
            position: absolute;
            bottom: 0;
            width: 100%;
            right: 0;
            left: 0;
            background: white;
            z-index: 1000;
            padding: 10px;
        }
        #sendMessage,
        #chatInput .load {
            border-left: 0 !important;
            border-radius: 0px 30px 30px 0px !important;
        }
        #userMessage {
            border-radius: 30px 0px 0px 30px !important;
            background-color: #f8f9fa;
            height: 60px;
        }
        #userMessage:focus {
            outline: none;
            box-shadow: none; /* If there is a box shadow applied on focus */
        }
        .user-chat{
            cursor: pointer;
        }
        .user-chat:hover{
            background-color: #f8f9fa;
        }
    </style>
    <div class="container mt-4">
        
        <div class="chat-list-actions col-sm-3 text-end  w-100">
            <div class="d-inline-block align-items-center">
                <ul class="list-unstyled mb-0 d-flex justify-content-center align-items-center flex-wrap bg-light">
                    <li>
                        <button class="text-dark m-1 btn action-button chart-button" data-id="{{chatId}}" data-toggle="tooltip" title="分析" data-original-title="Analyze">
                            <i class="fas fa-chart-line"></i>
                        </button>
                    </li>
                    <li>
                        <button class="text-dark m-1 btn action-button share-button" data-id="{{chatId}}" data-toggle="tooltip" title="共有" data-original-title="Share">
                            <i class="fas fa-share"></i>
                        </button>
                    </li>
                    <li>
                        <a href="/chat/edit/{{chatId}}" class="text-info m-1 btn action-button" data-toggle="tooltip" title="編集" data-original-title="Edit">
                            <i class="far fa-edit"></i>
                        </a>
                    </li>
                    <li>
                        <span data-chatid="{{chatId}}" class="text-danger delete-chat m-1 btn action-button" style="cursor:pointer" data-toggle="tooltip" title="削除" data-original-title="Delete">
                            <i class="fas fa-trash"></i>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-4">
                <div class="card my-3">
                    <div class="card-header">
                        総要素数: {{userChat.length}}
                    </div>
                    <ul class="list-group list-group-flush">
                        {{#each userChat}}
                        {{#if this.updatedAt}}
                            <li class="list-group-item user-chat" data-user="{{this.userId}}">
                            <span class="w-100 d-inline-block">{{this._id}}</span>
                            <small class="text-muted"><i class="fas fa-clock me-1"></i>{{this.updatedAt}}</small>
                        {{/if}}
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
            <div class="col">
                <div id="chat-container" class="card mt-3 mb-5 shadow">
                    <div class="d-flex justify-content-between card-header text-center bg-dark text-white">
                        <div id="chat-title">LAMIXチャット</div>
                        <div class="d-flex align-items-center">
                            <div id="reset-chat" style="cursor: pointer;"><i class="fas fa-comment-medical"></i></div>
                        </div>
                    </div>
                    <div class="card-body text-center py-0" style="min-height:250px;height: 75vh;overflow-y:hidden;">
                        <h5 class="card-title d-none">Card Title</h5>
                        <div id="chatContainer" class="pb-5 pt-2"></div>
                        <div id="chatInput" class="input-group rounded-0 rounded-bottom bg-white" style="position: absolute;bottom: 0;left: 0;right: 0;padding: 0px 15px 25px 15px;">
                            <textarea id="userMessage" class="form-control py-3 border" placeholder="メッセージを入力してください"></textarea>
                            <button id="sendMessage" class="btn btn-light px-4 border"><i class="fas fa-paper-plane"></i></button>
                        </div>
                    </div>
                    <div class="card-footer text-muted text-center" style="font-size: 12px;">
                        このチャットボットはLAMIXで作成しました。興味のある方は<a href="http://lamix.hatoltd.com/" target="_blank">こちら</a>をクリックしてね。
                    </div>
                </div>
            </div>
        </div>
        


    </div>
 {{> dashboard-footer}}
<script src="/js/chat.js"></script>
<script>
$(document).ready(function() {
    $('.chart-button').on('click', function(e) {
        e.preventDefault();
        e.stopPropagation();
        // data-id属性からチャットIDを取得
        var chatId = $(this).data('id');

        // POSTリクエストを送信
        $.post('/api/chat-analyze/', { chatId: chatId })
            .done(function(response) {
                console.log(response.chat)
                // 受け取ったデータの長さを取得
                var dataLength = response.total;

                // SweetAlert2でアラートを表示
                Swal.fire({
                    html: `
                        <div class="card border-0">
                            <div class="card-body">
                                <h5 class="card-title">${response.chat.name}</h5>
                                <p class="card-text text-muted" style="font-size: 16px;">${response.chat.description}</p>
                                <p class="card-text text-muted d-none" style="font-size: 14px;">作成者: ${response.author}</p>
                                <div class="d-flex justify-content-between mb-3">
                                    <div class="card-text text-center d-flex w-100 d-none" style="flex-direction: column;"><span class="w-100">${response.chat.rating ? response.chat.rating : '...'}</span><span class="text-muted" style="font-size: 12px;">評価</span></div>
                                    <div class="card-text text-center d-flex w-100" style="flex-direction: column;" ><span class="w-100">${response.chat.category ? response.chat.category : '...'}</span><span class="text-muted" style="font-size: 12px;">カテゴリー</span></div>
                                    <div class="card-text text-center d-flex w-100" style="flex-direction: column;" ><span class="w-100">${response.total ? response.total : '0'}</span><span class="text-muted" style="font-size: 12px;">会話の合計</span></div>
                                </div>
                                <a href="/chat/${response.chat._id}" class="btn btn-dark w-100 my-4" style="border-radius:50px;">チャットを始める</a>
                            </div>
                        </div>
                    `,
                    imageUrl: response.chat.thumbnailUrl || '/img/logo.webp',
                    imageWidth: 100,
                    imageHeight: 100,
                    imageAlt: 'Thumbnail',
                    showCloseButton: true,
                    showConfirmButton: false,
                    customClass: {
                        image: 'swal-image'
                    }
                });
            })
            .fail(function() {
                // エラーハンドリング
                Swal.fire({
                    title: 'エラー',
                    text: 'データの取得に失敗しました。',
                    icon: 'error'
                });
            });
    });
    $('.share-button').click(function(e) {
        e.preventDefault();
        e.stopPropagation();
        
        var dataId = $(this).attr('data-id');
        var codeToCopy = `<div id="lamix-chat-widget" data-id="${dataId}"></div><script src="https://lamix.hatoltd.com/js/chat-widget.js"></` + `script>`;

        // Create a temporary textarea element to copy the text
        var $temp = $('<textarea>');
        $('body').append($temp);
        $temp.val(codeToCopy).select();
        document.execCommand('copy');
        $temp.remove();

        // Show SweetAlert2 notification
        Swal.fire({
            title: 'コピー完了',
            text: 'タグをコピーしました。チャットボットを設置したい場所にタグを貼り付けてください。',
            icon: 'success',
            confirmButtonText: 'OK'
        });
    });
    $('.copyButton').click(function(e) {
        e.preventDefault()
        e.stopPropagation();
        var chatId = $(this).data('chatid');
        
        $.ajax({
            url: '/api/chat/' + chatId,
            method: 'GET',
            success: function(chat) {
                var tempInput = $('<input>');
                $('body').append(tempInput);
                tempInput.val(JSON.stringify(chat.content)).select();
                var successful = document.execCommand('copy');
                tempInput.remove();

                if (successful) {
                    Swal.fire('Success', 'コンテンツがクリップボードにコピーされました。', 'success');
                } else {
                    Swal.fire('Error', 'コンテンツのコピーに失敗しました。', 'error');
                }
            },
            error: function() {
                Swal.fire('Error', 'コンテンツの取得に失敗しました。', 'error');
            }
        });
    });
    $('.delete-chat').on('click', function(e) {
        e.preventDefault()
        e.stopPropagation();
        const chatId = $(this).data('chatid');

        Swal.fire({
            title: '本当に削除しますか？',
            text: "この操作は元に戻せません！",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'はい、削除します！',
            cancelButtonText: 'キャンセル'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: `/api/delete-chat/${chatId}`,
                    type: 'DELETE',
                    success: function(response) {
                        Swal.fire(
                            '削除されました！',
                            'チャットが削除されました。',
                            'success'
                        ).then(() => {
                            $(`.chat-list[data-id="${chatId}"]`).fadeOut().remove()
                        });
                    },
                    error: function(xhr, status, error) {
                        Swal.fire(
                            'エラー',
                            'チャットの削除に失敗しました。',
                            'error'
                        );
                    }
                });
            }
        });
    });
});
</script>
</body>
</html>
