<!DOCTYPE html>
<html lang="ja">
    {{> dashboard-header}}
<body>

    <style>
        .sidebar, .sidebar-history {
            height: 100vh;
            width: 250px;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1034;
            background-color: #f5f5f5;
            transition: transform 0.3s ease;
            transform: translateX(0);
            overflow: scroll;
            padding-top: 0.75em;
        }
        
        .sidebar.hidden ,.sidebar-history.hidden {
            transform: translateX(-250px);
        }
        .sidebar-history.shadow {
            z-index: 1100;
        }
        .content {
            margin-left: 250px;
            transition: margin-left 0.3s ease;
        }

        .content.collapsed {
            margin-left: 0;
        }
        nav.navbar {
            margin-left: 0;
            transition: margin-left 0.3s ease;
        }
        nav.navbar.move {
            margin-left: 250px;
        }


        footer{display: none;}
        .choice-container {
            text-wrap: nowrap;
            overflow: auto;
            padding: 15px 0px;
        }
        #chatContainer {
            height: 100%;
            overflow-y: scroll;
        }
        #chat-container {
            flex: 1;
            display: flex;
            flex-direction: column;
            overflow-x: hidden;
        }
        .card-header, .card-footer {
            flex-shrink: 0;
        }
        .card-body {
            flex-grow: 1;
            overflow-y: auto;
            position: relative;
        }
        .btn-flat-border {
            display: inline-block;
            padding: 0.3em 1em;
            text-decoration: none;
            color: #742af4;
            border: solid 2px #b58df9;
            border-radius: 3px;
            transition: .4s;
            margin-right: 5px;
            margin-left: 5px;
            font-size: 18px;;
        }
        .dropdown-toggle::after {
            display:none !important;
        }

        .btn-flat-border:hover {
            background: #742af4;
            color: white;
        }
        #messages {
            padding: 10px;
            padding-bottom: 100px;
            border-radius: 5px;
            z-index: 1;
        }
        #chatInput {
            position: absolute;
            bottom: 0;
            width: 100%;
            right: 0;
            left: 0;
            background: white;
            z-index: 1000;
            padding: 10px;
        }
        #sendMessage,
        #chatInput .load {
            border-left: 0 !important;
            border-radius: 0px 30px 30px 0px !important;
            box-shadow: none;
        }
        #userMessage {
            border-radius: 30px 0px 0px 30px !important;
            background-color: #f5f5f5;
            height: 60px;
            font-size: 14px;
            resize: none;
        }
        #userMessage:focus {
            outline: none;
            box-shadow: none; /* If there is a box shadow applied on focus */
        }
        .user-chat{
            cursor: pointer;
        }
        .user-chat:hover{
            background-color: #f8f9fa;
        }

        .chat-list .thumb {
            margin-right: 0px;
        }
        .chat-list .thumb img {
            width: 40px;
            height: 40px;
            -o-object-fit: cover;
            object-fit: cover;
            overflow: hidden;
            border-radius: 50%;
        }
        .chat-list.item:hover, .user-chat-history:hover {
            background-color: #c6c9cc99 !important;
        }
        .online-text {
            width: 150px; 
            white-space: nowrap;
            overflow: hidden;
        }
        .chat-contain .card-body{
            height: 97vh !important;
        }
        .swal-image{
            border-radius: 50px;
            object-fit: cover;
        }
        @media (max-width: 600px) {
            .chat-contain .card-body{
                height: 97vh;
            }
            .content,
            nav.navbar.move {
                margin-left: 0px;
            }
        }
    </style>
    
    <div class="sidebar-history hidden shadow">
        <h5 class="my-2 mx-3">チャット履歴</h5>
        <div id="chat-history"></div>
    </div>
    <div class="sidebar hidden shadow">
        <div class="d-none w-100 m-2">
            <button class="menu-chat-sm d-sm-none btn bg-white shadow-0"><i class="fa-solid fa-bars"></i></button>
        </div>
        <a href="/chat/edit/" class="m-2 btn px-4 py-2 border shadow-0 btn-dark" style="border-radius:40px;">
            <i class="fas fa-plus me-2"></i>作成する
        </a>
        <div class="mt-3">
            {{#each chats}}
            <div class="chat-list item user-chat d-flex align-items-center justify-content-between p-0 bg-transparent" style="cursor: pointer;" data-id="{{this._id}}">
                <div class="d-flex align-items-center w-100">
                    <div class="user-chat-content" style="flex: 1;display: flex;justify-content: center;align-items: center;">
                        <div class="thumb align-items-center text-center justify-content-center d-flex flex-column col-3 p-1" >
                            <img class="img-fluid" src="{{#if this.thumbnailUrl}}{{this.thumbnailUrl}}{{else}}/img/logo.webp{{/if}}" alt="">
                        </div>
                        <div class="chat-list-details">
                            <div class="chat-list-info">
                                <div class="chat-list-title">
                                    <h6 class="mb-0 online-text" style="font-size: 14px;">{{this.name}}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <!-- Dropdown -->
                        <div class="dropdown">
                            <button class="btn border-0 shadow-0 dropdown-toggle ms-2" type="button" id="dropdownMenuButton_{{this._id}}" data-mdb-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-ellipsis-v"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton_{{this._id}}">
                                <li>
                                    <button class="dropdown-item chart-button" data-id="{{this._id}}">
                                        <i class="fas fa-chart-line"></i> 分析
                                    </button>
                                </li>
                                <li>
                                    <button class="dropdown-item share-button" data-id="{{this._id}}">
                                        <i class="fas fa-share"></i> 共有
                                    </button>
                                </li>
                                <li>
                                    <a href="/chat/edit/{{this._id}}" class="dropdown-item">
                                        <i class="far fa-edit"></i> 編集
                                    </a>
                                </li>
                                <li>
                                    <span data-id="{{this._id}}" class="dropdown-item delete-chat" style="cursor:pointer">
                                        <i class="fas fa-trash"></i> 削除
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <!-- End of Dropdown -->
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    <div id="overlay" class="d-sm-none bg-dark position-absolute" style="inset:0;z-index:1033;display:none;opacity: 0.4;overflow:hidden"></div>
    <div class="content collapsed">
        <nav class="navbar navbar-expand-lg navbar-white bg-white fixed-top shadow-0">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-center m-auto">
                    <div style="position: absolute;left: 20px;">

                        <button class="menu-chat-sm d-sm-none btn btn-light"><i class="fa-solid fa-bars"></i></button>
                        <button id="menu-chat" class="d-none d-sm-inline-block btn btn-light"><i class="fa-solid fa-bars"></i></button>

                        <button id="history-chat" class="btn btn-light"><i class="fas fa-history"></i></button>

                        <button id="reset-chat" class="d-none d-sm-inline-block btn btn-light" data-toggle="tooltip" title="新しいチャット" data-original-title="New">
                            <i class="fas fa-plus-circle"></i>
                        </button>
                        <!-- Dropdown -->
                        <div class="dropdown d-none d-sm-inline-block ">
                            <button class=" btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton_{{chatId}}" data-mdb-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-ellipsis-v"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton_{{chatId}}">
                                <li>
                                    <button class="dropdown-item chart-button" data-id="{{chatId}}">
                                        <i class="fas fa-chart-line"></i> 分析
                                    </button>
                                </li>
                                <li>
                                    <button class="dropdown-item share-button" data-id="{{chatId}}">
                                        <i class="fas fa-share"></i> 共有
                                    </button>
                                </li>
                                <li>
                                    <a href="/chat/edit/{{chatId}}" class="dropdown-item edit-chat">
                                        <i class="far fa-edit"></i> 編集
                                    </a>
                                </li>
                                <li>
                                    <span data-id="{{chatId}}" class="dropdown-item delete-chat" style="cursor:pointer">
                                        <i class="fas fa-trash"></i> 削除
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <!-- End of Dropdown -->
                    </div>
                    <a class="d-flex flex-row" href="/dashboard">
                        <img src="/img/logo.webp" alt="" class="mx-3" width="40px">
                        <span class="d-none">LAMIXボット</span>
                    </a>       
                    
                </div>
                <div>
                    <div class="navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <!-- Avatar -->
                            <li class="nav-item dropdown">
                                <a data-mdb-dropdown-init class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center" href="#"
                                    id="navbarDropdownMenuLink" role="button" aria-expanded="false">
                                    <img src="{{#if user.profileUrl}}{{user.profileUrl}}{{else}}https://mdbootstrap.com/img/new/avatars/1.jpg{{/if}}" class="rounded-circle" height="32" alt="Avatar"
                                    loading="lazy" />
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a href="/chat/discover/" class="dropdown-item"> チャット検索 </a> </li>
                                    <li><a href="/chat/list/" class="dropdown-item"> チャットリスト </a> </li>
                                    <li><a class="dropdown-item" href="/settings">設定</a></li>
                                    <li><a id="logout" class="dropdown-item" href="#">ログアウト</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container chat-contain px-0">
            <div id="chat-container" class="card shadow-0 rounded-0"></div>
                <div class="card-body text-center py-0 container" style="min-height:250px;overflow-y:hidden;">
                    <div id="chatContainer" class="pt-2" style="padding-top: 100px !important;;padding-bottom: 100px !important;"></div>
                    <div id="chatInput" class="input-group rounded-0 rounded-bottom bg-white" style="position: absolute;bottom: 0;left: 0;right: 0;padding: 0px 15px 5px 15px;">
                        <textarea id="userMessage" class="form-control py-3 border-0" placeholder="チャットしよう"></textarea>
                        <button id="sendMessage" class="btn btn-light px-4 border-0"><i class="fas fa-paper-plane"></i></button>
                    </div>
                </div>
            </div>
        </div>  
    </div>

 {{> dashboard-footer}}
<script src="/js/chat.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
<script>
$(document).ready(function() {
    $('html,body').animate({
        scrollTop: $('#chatInput').offset().top
    }, 0);
    $('#chatContainer').animate({
        scrollTop: $('#chatInput').offset().top
    }, 1000); 
    // Initialize user preference from cookie
    if (Cookies.get('sidebarState') === 'expanded') {
        $('.sidebar').removeClass('hidden');
        $('.content').removeClass('collapsed');
        $('nav.navbar').addClass('move');
        $('#overlay').show()
    }
    $('#menu-chat').on('click', function(){

        $('.sidebar-history').addClass('hidden');
        const sidebar = $('.sidebar');
        const content = $('.content');
        const navbar = $('nav.navbar');
        
        if (sidebar.hasClass('hidden')) {
            sidebar.removeClass('hidden');
            content.removeClass('collapsed');
            navbar.addClass('move');
            $('#overlay').show()
        } else {
            sidebar.addClass('hidden');
            content.addClass('collapsed');
            navbar.removeClass('move');
            $('#overlay').hide()
        }
        
        // Update the cookie based on the new state
        if ($('.sidebar').hasClass('hidden')) {
            Cookies.set('sidebarState', 'collapsed', { expires: 7 }); // Cookie expires in 7 days
        } else {
            Cookies.set('sidebarState', 'expanded', { expires: 7 });
        }
    });
    $('#history-chat').on('click', function(){
        $('.sidebar-history').toggleClass('hidden');
        $('.sidebar').removeClass('hidden');
        $('.content').removeClass('collapsed');
        $('nav.navbar').addClass('move');
        $('#overlay').toggle()
    })
    $('.menu-chat-sm').on('click', function(){
        $('.sidebar').toggleClass('hidden');
        $('#overlay').toggle()
    });
    $('#overlay').on('click', function(){
        $('#overlay').toggle()
        $('.sidebar').toggleClass('hidden');
        $('.sidebar-history').addClass('hidden');
    });
    
    $('.chart-button').on('click', function(e) {
        e.preventDefault();
        e.stopPropagation();
        // data-id属性からチャットIDを取得
        var chatId = $(this).data('id');

        // POSTリクエストを送信
        $.post('/api/chat-analyze/', { chatId: chatId })
            .done(function(response) {
                // 受け取ったデータの長さを取得
                var dataLength = response.total;

                // SweetAlert2でアラートを表示
                Swal.fire({
                    html: `
                        <div class="card border-0">
                            <div class="card-body">
                                <h5 class="card-title">${response.chat.name}</h5>
                                <p class="card-text text-muted" style="font-size: 16px;">${response.chat.description}</p>
                                <p class="card-text text-muted d-none" style="font-size: 14px;">作成者: ${response.author}</p>
                                <div class="d-flex justify-content-between mb-3">
                                    <div class="card-text text-center d-flex w-100 d-none" style="flex-direction: column;"><span class="w-100">${response.chat.rating ? response.chat.rating : '...'}</span><span class="text-muted" style="font-size: 12px;">評価</span></div>
                                    <div class="card-text text-center d-flex w-100" style="flex-direction: column;" ><span class="w-100">${response.chat.category ? response.chat.category : '...'}</span><span class="text-muted" style="font-size: 12px;">カテゴリー</span></div>
                                    <div class="card-text text-center d-flex w-100" style="flex-direction: column;" ><span class="w-100">${response.total ? response.total : '0'}</span><span class="text-muted" style="font-size: 12px;">会話の合計</span></div>
                                </div>
                                <a href="/chat/${response.chat._id}" class="btn btn-dark w-100 my-4" style="border-radius:50px;">チャットを始める</a>
                            </div>
                        </div>
                    `,
                    imageUrl: response.chat.thumbnailUrl || '/img/logo.webp',
                    imageWidth: 100,
                    imageHeight: 100,
                    imageAlt: 'Thumbnail',
                    showCloseButton: true,
                    showConfirmButton: false,
                    customClass: {
                        image: 'swal-image'
                    }
                });
            })
            .fail(function() {
                // エラーハンドリング
                Swal.fire({
                    title: 'エラー',
                    text: 'データの取得に失敗しました。',
                    icon: 'error'
                });
            });
    });
    $('.share-button').click(function(e) {
        e.preventDefault();
        e.stopPropagation();
        
        var dataId = $(this).attr('data-id');
        var codeToCopy = `<div id="lamix-chat-widget" data-id="${dataId}"></div><script src="https://lamix.hatoltd.com/js/chat-widget.js"></` + `script>`;

        // Create a temporary textarea element to copy the text
        var $temp = $('<textarea>');
        $('body').append($temp);
        $temp.val(codeToCopy).select();
        document.execCommand('copy');
        $temp.remove();

        // Show SweetAlert2 notification
        Swal.fire({
            title: 'コピー完了',
            text: 'タグをコピーしました。チャットボットを設置したい場所にタグを貼り付けてください。',
            icon: 'success',
            confirmButtonText: 'OK'
        });
    });
    $('.delete-chat').on('click', function(e) {
        e.preventDefault()
        e.stopPropagation();
        const chatId = $(this).data('id');

        Swal.fire({
            title: '本当に削除しますか？',
            text: "この操作は元に戻せません！",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'はい、削除します！',
            cancelButtonText: 'キャンセル'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: `/api/delete-chat/${chatId}`,
                    type: 'DELETE',
                    success: function(response) {
                        $(`.chat-list[data-id="${chatId}"]`).fadeOut().remove()
                    },
                    error: function(xhr, status, error) {
                        Swal.fire(
                            'エラー',
                            'チャットの削除に失敗しました。',
                            'error'
                        );
                    }
                });
            }
        });
    });
    $(document).on('click', '.delete-chat-history', function(e) {
        e.preventDefault()
        e.stopPropagation();
        const selectedChatId = $(this).data('id');
        Swal.fire({
            title: '本当に削除しますか？',
            text: "この操作は元に戻せません！",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'はい、削除します！',
            cancelButtonText: 'キャンセル'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: `/api/delete-chat-history/${selectedChatId}`,
                    type: 'DELETE',
                    success: function(response) {
                        console.log({selectedChatId})
                        $(document).find(`.user-chat-history[data-chat="${selectedChatId}"]`).fadeOut().remove()
                    },
                    error: function(xhr, status, error) {
                        Swal.fire(
                            'エラー',
                            'チャットの削除に失敗しました。',
                            'error'
                        );
                    }
                });
            }
        });
    });
});
</script>
</body>
</html>
