<!DOCTYPE html>
<html lang="en">
   {{> dashboard-header}}
<body>
    {{> dashboard-nav}}
   <style>
        .p-fv-copy__middle {
          background: linear-gradient(90.9deg, #D2B8FF 2.74%, #8240FF 102.92%);
          background-clip: border-box;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          margin-top: 15px;
        }
        /* Hero Image */
        /* Main Container */
        .pricing-container {
            margin: 0 auto;
            padding: 40px 20px;
            text-align: center;
        }

        /* Title Section */
        .pricing-title {
            font-size: 2em;
            margin-bottom: 20px;
        }

        .pricing-description {
            font-size: 1em;
            margin-bottom: 40px;
            color: #555;
        }
        /* Plan Switcher */
        .switch-button-container {
            margin-bottom: 20px;
        }

        .switch {
            position: relative;
            display: inline-block;
            width: 120px;
            height: 54px;
        }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #e4e4e4;
            -webkit-transition:.4s;
            transition:.4s;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 46px;
            width: 60px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition:.4s;
            transition:.4s;
        }

        input:checked +.slider {
            background-color: #e4e4e4;
        }

        input:focus +.slider {
            box-shadow: 0 0 1px #e4e4e4;
        }

        input:checked +.slider:before {
            -webkit-transform: translateX(50px);
            -ms-transform: translateX(50px);
            transform: translateX(50px);
        }

        .slider.round {
            border-radius: 34px;
        }

        .slider.round:before {
            border-radius: 50px;
            background: linear-gradient(90.9deg, #D2B8FF 2.74%, #8240FF 102.92%);
        }

        .label {
            position: absolute;
            top: 15px;
            font-size: 16px;
            color: #666;
            font-weight: 600;
        }

        .label.monthly {
            left: 16px;
        }

        .label.yearly {
            right: 16px;
        }

        input:checked ~.label.yearly {
            color: #fff;
        }

        input:checked ~.label.monthly  {
            color: #666;
        }

        input:not(:checked) ~.label.yearly {
            color: #666;
        }

        input:not(:checked) ~.label.monthly  {
            color: #fff;
        }
        /* Plan Cards */
        .card-header.plan-header {
            border: 1px solid #8437f9;
            margin: 10px;
            border-radius: 5px;
            padding: 5px 10px;
            color: #8437f9;
        }
        .card-header.plan-header h2 {
            font-size: 21px;
            line-height: initial;
            font-weight: bold;
            margin: 0;
        }
        .plan-cards {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            gap: 20px;
        }
        .plan-card.best{
            border: 2px solid #9d68ff;
        }
        .plan-card {
            border: 1px solid #e0e0e0;
            border-radius: 8px;
            background-color: #fff;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            transition: box-shadow 0.3s ease;
        }

        .plan-card:hover {
            box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
        }

        .plan-header {
            background-color: #f7f7f7;
            padding: 20px;
            font-size: 1.5em;
            font-weight: bold;
        }

        .plan-price h3 {
            font-weight: 700;
            font-size: 1.8em;
            margin: 20px 0;
        }

        .plan-details {
            padding: 20px;
            text-align: left;
            font-size: 1.2em;
            line-height: 1.1;
            font-weight: 500;
        }
        .plan-details ul {
            list-style: none;
            padding: 0;
        }

        .plan-details li {
            margin-bottom: 10px;
        }
        .plan-button.btn.btn-lamix {
            background: linear-gradient(90.9deg, #D2B8FF 2.74%, #8240FF 102.92%);
        }
        .plan-button {
            display: block;
            margin: 20px auto;
            padding: 10px 30px;
            color: #fff;
            text-decoration: none;
            border-radius: 4px;
            transition: background-color 0.3s ease;
        }

        .plan-button:hover {
            background-color: #0056b3;
        }

        /* Contact & SNS Section */
        .contact-sns {
            padding: 20px;
            background-color: #f8f9fa;
            border-top: 1px solid #e0e0e0;
        }

        .contact-title {
            font-size: 1.5em;
            margin-bottom: 20px;
        }

        .contact-description {
            font-size: 1em;
            margin-bottom: 20px;
            color: #555;
        }

        .social-media {
            display: flex;
            justify-content: center;
            gap: 20px;
        }

        .social-media img {
            width: 100px;
            height: 100px;
            border-radius: 8px;
            transition: transform 0.3s ease;
        }

        .social-media img:hover {
            transform: scale(1.05);
        }
        
        @media (max-width: 600px) {
            .plan-details{
                font-size: 0.9em;
            }
        }
    </style>
    <style>
    .style-option {
        width: 75px;
        cursor:pointer;
    }
    .style-option.selected {
        border: 2px solid #000;
    }
    .animated.fadeInDown .swal2-image{
        margin:0;
    }
    .animated.fadeInDown .swal2-close{
        border:0;
    }
    /* Custom animation for sliding in from the bottom */
    .swal2-bottom-slide-in {
        animation: bottom-slide-in 0.5s;
    }

    .swal2-bottom-slide-out {
        animation: bottom-slide-out 0.5s;
    }

    @keyframes bottom-slide-in {
        0% {
            transform: translateY(100%);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }

    @keyframes bottom-slide-out {
        0% {
            transform: translateY(0);
            opacity: 1;
        }
        100% {
            transform: translateY(100%);
            opacity: 0;
        }
    }
    .custom-gradient-bg {
        background: linear-gradient(90.9deg, #D2B8FF 2.74%, #8240FF 102.92%);
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        transition: color 0.3s ease-in-out;
    }

    .custom-gradient-bg::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 300%;
        height: 300%;
        background: radial-gradient(circle, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 80%);
        transform: translate(-50%, -50%) scale(0);
        transition: transform 0.5s ease-in-out;
        z-index: 0;
    }

    .custom-gradient-bg:hover::before {
        transform: translate(-50%, -50%) scale(1);
    }

    .custom-gradient-bg:hover {
        color: #fff;
    }
    #chatImage{
        width: 100px;
        height: 100px; 
        object-fit:cover;
        object-position:top;
    }
    #chatImage.on{
        width: auto !important;
        height: 270px !important;
    }
    .btn-gradient-radius {
        display: inline-block;
        padding: 7px 20px;
        border-radius: 25px;
        text-decoration: none;
        color: #FFF;
        background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
        transition: .4s;
        font-size: 21px;
    }
    label{
        font-size: 14px;
        color: #aaaaaa;
    }
    #sendMessage,
    #chatInput .load {
        border-left: 0 !important;
        border-radius: 0px 30px 30px 0px !important;
        box-shadow: none;
    }
    #userMessage {
        border-radius: 30px 0px 0px 30px !important;
        background-color: #f8f9fa;
    }
    #userMessage:focus {
        outline: none;
        box-shadow: none; /* If there is a box shadow applied on focus */
    }
    .button-group{
        top:0;
        right: 15px;
    }
    .scroll-container {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
    }
    .scroll-container > * {
      flex: 0 0 auto;
      width: auto;
    }
    .card-text.template{
        font-size: 12px;
    }
    /*Custom css*/
    label{
        font-size: 12px;
        color: #8d8b8b;
    }
    .avatar-xl img {
        width: 110px;
    }
    .rounded-circle {
        border-radius: 50%;
    }
    .rounded-circle.on {
        border-radius: 15px !important;
    }
    img {
        vertical-align: middle;
        border-style: none;
    }
    .text-muted {
        color: #aeb0b4 !important;
    }
    .text-muted {
        font-weight: 300;
    }
    .form-control {
        display: block;
        width: 100%;
        height: calc(1.5em + 0.75rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.5;
        color: #4d5154;
        background-color: #ffffff;
        background-clip: padding-box;
        border: 1px solid #eef0f3;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    #markdownContainer {
        margin-bottom: 20px;
        padding: 20px;
        border: 1px solid #eef0f3;
        border-radius: 4px;
    }
    .auto-gen{
        font-size: 10px;
        border-radius: 50px;
    }
            .before-after--section-step-container {
                position: relative;
            }.before-after--section-symbol {
            position: absolute;
            left: 29px;
            top: 65px;
            width: 100px;
            height: 2px;
            -webkit-transform: rotate(-50deg);
            transform: rotate(-50deg);
            background-color: #212529;
            }.before-after--section-step {
            font-weight: 700;
            font-size: 22px;
            line-height: 26px;
            }
            .before-after--section-symbol {
            left: 8px;
            top: 25px;
            width: 42px;
            height: 1px;
            }.before-after--section-total-step {
                display: none;
            font-size: 14px;
            line-height: 16px;
            margin-left: 35px;
            }
            .main-logo{
                display: none !important;
            }
    </style>

    <style>
        .swiper {
            width: 100%;
            height: 400px; /* Adjust as needed */
        }
        .swiper-slide img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        }
    </style>

<section>
    <div class="hero d-flex justify-content-center align-items-center" style="background-image: url(/img/TOP.png); height: 500px; background-size: cover; background-position: center;">
        <div class="container text-center text-dark py-4 animate__animated animate__fadeIn" style="background-color:rgba(255, 255, 255, 0.89)">
            <div class="d-flex justify-content-center align-items-center">
                <img src="/img/logo.webp" alt="" class="me-2" width="40px" height="40px" data-animate="animate__rotateIn" data-delay="animate__delay-1s">
                <span class="u-color-grad" style="font-size: 54px;font-weight:bold;" data-animate="animate__fadeIn" data-delay="animate__delay-1s">
                    Lamix
                </span>
            </div>

            <p class="fs-3 fw-bold mt-3 animate__animated " data-animate="animate__fadeInUp" data-delay="animate__delay-2s">
                {{translations.chat_with_unique_ai_girlfriend}}<br> {{translations.generate_cute_images_easily}}
            </p>
            <div class="mt-4 animate__animated" data-animate="animate__fadeInUp" data-delay="animate__delay-2s">
                <a href="/authenticate" class="btn custom-gradient-bg btn-lg fw-bold">{{translations.try_now}}</a>
            </div>
        </div>
    </div>

    <div class="container text-center my-5 py-5 animate__animated animate__fadeIn">
        <p class="fw-bold text-center fs-1 custom-gradient-bg text-white p-3 rounded animate__animated animate__fadeInLeft">
            {{translations.like_a_real_girlfriend}}
        </p>
        <p class="text-center fs-5 mt-3 animate__animated animate__fadeIn animate__delay-1s">
            {{translations.with_lamix_you_can_create_your_ideal_character_in_any_style_and_generate_images_via_chat}} 
        </p>
        <div class="mt-4 animate__animated animate__fadeInUp animate__delay-2s">
            <a href="/authenticate" class="btn custom-gradient-bg btn-lg fw-bold text-white rounded-pill shadow-lg">
                {{translations.try_now}}
            </a>
        </div>
    </div>

    <div class="container mt-4">
        <h3 class="my-4 text-start">#{{translations.cute}} #{{translations.beautiful_girl}} #{{translations.sexy}}</h3>
        <div style="overflow-x: auto;">
            <img src="/img/topgallery1-{{translations.lang}}.jpg">
        </div>
    </div>

    <div id="intro" class="bg-image shadow-0" data-animate="animate__fadeIn">
        <div style="background-image:url(/img/pc_lg02_rotate.jpg);" data-animate="animate__zoomIn">
            <div class="container row align-items-center h-100 m-auto">
                <div class="col-12 col-md-6 py-5 text-dark">
                    <h1 class="mb-3 fw-bold text-dark text-start" id="headline-container">
                        <div class="container d-flex align-items-center text-center px-0">
                            <img src="/img/logo.webp" alt="" class="me-2" width="40px" height="40px" data-animate="animate__rotateIn" data-delay="animate__delay-1s">
                            <span class="u-color-grad" style="font-size: 54px;" data-animate="animate__fadeIn" data-delay="animate__delay-1s">
                                Lamix
                            </span>
                        </div>

                        <p data-animate="animate__fadeInUp" data-delay="animate__delay-2s">{{translations.image_generation_create_your_ideal_ai_beauty_from_text}}</p>
                    </h1>
                    <div class="text-start" data-animate="animate__fadeInUp" data-delay="animate__delay-2s">
                        {{translations.create_ai_beauties_from_text_or_images_in_few_simple_steps}}
                    </div>
                    <div class="text-center d-flex flex-column justify-content-start align-items-start mt-3" data-animate="animate__fadeIn" data-delay="animate__delay-3s">
                        <a href="/authenticate" class="btn custom-gradient-bg text-white btn-lg m-2 px-5 py-3 mb-3 cta-button" role="button" style="border-radius: 50px;" data-animate="animate__pulse animate__infinite">
                            {{translations.generate_ai_beauty}}
                        </a>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="container p-3 text-center">
                        <img src="/img/lp-b-1.png" class="rounded" style="width:100%;" data-animate="animate__fadeIn" data-delay="animate__delay-4s">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container text-center my-5 py-5 animate__animated animate__fadeIn">
        <p class="fw-bold fs-1 custom-gradient-bg text-white p-3 rounded animate__animated animate__fadeInDown">
            {{translations.imagine_and_the_ideal_image_is_right_in_front_of_you}}
        </p>
        <p class="text-center fs-5 mt-3 animate__animated animate__fadeIn animate__delay-1s">
            {{translations.with_lamix_select_your_favorite_pose_from_menu_or_describe_image_you_want_in_chat}}
        </p>
        <div class="mt-4 animate__animated animate__fadeInUp animate__delay-2s">
            <a href="/authenticate" class="btn custom-gradient-bg btn-lg fw-bold text-white rounded-pill shadow-lg">
                {{translations.try_now}}
            </a>
        </div>
    </div>

    <div class="container mt-4">
        <h3 class="my-4 text-start">#{{translations.open_legs}} #{{translations.big_breasts}} #{{translations.on_all_fours}}</h3>
        <div style="overflow-x: auto;">
            <img src="/img/topgallery2-{{translations.lang}}.jpg">
        </div>
    </div>
</section>

<section class="container">
    <div class="container row mt-3">
        <div class="col-auto my-3" data-animate="animate__fadeInRight">
            <div class="before-after--section-step-container">
                <div style="display: flex;">
                    <div class="before-after--section-step u-color-grad">01</div>
                </div>
                <div class="before-after--section-symbol" data-animate="animate__zoomIn"></div>
            </div>
        </div>
        <div class="col-auto">
            <h2 class="display-4 fw-bold" data-animate="animate__fadeInRight" data-delay="animate__delay-1s">{{translations.create_ai_beauty_from_text}}</h2>
            <p data-animate="animate__fadeInRight" data-delay="animate__delay-2s">{{translations.just_enter_text_to_create_ideal_ai_beauty_or_pretty_girl}}</p>
        </div>
    </div>
</section>

<section class="container">
    <div class="container row align-items-center h-100 m-auto">
        <div class="col-12 col-md-6 py-5 text-dark" data-animate="animate__fadeInRight">
            <div class="row mt-3">
                <div class="col-auto my-3">
                    <div class="before-after--section-step-container">
                        <div style="display: flex;">
                            <div class="before-after--section-step u-color-grad">02</div>
                        </div>
                        <div class="before-after--section-symbol" data-animate="animate__zoomIn"></div>
                    </div>
                </div>
                <div class="col-auto">
                    <h2 class="display-4 fw-bold" data-animate="animate__fadeInRight" data-delay="animate__delay-1s">{{translations.chat_with_an_ai_beauty}}</h2>
                    <p data-animate="animate__fadeInRight" data-delay="animate__delay-2s">{{translations.enjoy_image_generation_in_different_scenarios_while_chatting_with_beautiful_ai_woman}}</p>
                    <div class="text-center d-flex flex-column justify-content-start align-items-start mt-3" data-animate="animate__fadeIn" data-delay="animate__delay-3s">
                        <a href="/authenticate" class="btn custom-gradient-bg text-white btn-lg m-2 px-5 py-3 mb-3 cta-button" role="button" style="border-radius: 50px;" data-animate="animate__pulse animate__infinite">
                            {{translations.try_now}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6" data-animate="animate__slideInRight">
            <div class="p-3 text-center">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="/img/gall1.jpeg" alt="Image 1"></div>
                        <div class="swiper-slide"><img src="/img/gall2.jpeg" alt="Image 2"></div>
                        <div class="swiper-slide"><img src="/img/gall3.jpeg" alt="Image 3"></div>
                        <div class="swiper-slide"><img src="/img/gall4.jpeg" alt="Image 4"></div>
                        <div class="swiper-slide"><img src="/img/gall5.jpeg" alt="Image 5"></div>
                        <div class="swiper-slide"><img src="/img/gall6.jpeg" alt="Image 6"></div>
                    </div>
                </div>

                <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
                <script>
                    const swiper = new Swiper('.swiper', {
                        slidesPerView: 1.9, // Display 1 full slide and part of the next slide
                        centeredSlides: true, // Center the visible slide
                        loop: true,
                        spaceBetween: 0, // Space between slides (adjust as needed)
                        autoplay: {
                            delay: 3000,
                            disableOnInteraction: false,
                        },
                    });
                </script>
                <style>
                    .swiper {
                        width: 100%;
                        height: 400px; /* Adjust as needed */
                    }
                    .swiper-slide img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    }
                </style>
            </div>
        </div>
    </div>
</section>

<div id="pricing-container" class="container pricing-container">
    <div class="d-flex justify-content-center align-items-center">
        <img src="/img/logo.webp" alt="" class="me-2" width="40px" height="40px">
        <span class="u-color-grad" style="font-size: 54px;font-weight:bold;">
            Lamix
        </span>
    </div>
    <p class="pricing-description fs-5">
        {{translations.all_features_including_chat_image_generation_and_message_suggestions_are_available_without_limit}}.
    </p>
    <div class="switch-button-container">
        <label class="switch">
            <input type="checkbox" id="plan-switch">
            <span class="slider round"></span>
            <span class="label monthly">{{translations.monthly}}</span>
            <span class="label yearly" select>{{translations.yearly}}</span>
        </label>
    </div>
    <p>{{translations.enjoy_even_better_offers_with_annual_plan}}</p>
    <div class="plan-cards-none d-flex m-0 px-1 container m-auto justify-content-center" style="overflow-x:scroll" id="planCards">
        <!-- Les cartes de plan seront insérées dynamiquement ici -->
    </div>
    <span style="font-size: 12px;">{{translations.secure_payment_methods}} <a href="https://stripe.com/jp/resources/more/secure-payment-systems-explained" target="_blank"><img src="/img/stripe-logo.png" style="height: 30px;width: auto;"></a> {{translations.are_used}}</span>
</div>

<section class="bg-light">
    <div class="container py-5">
        <h2 class="display-4 fw-bold text-center mb-3">{{translations.frequently_asked_questions_on_lamix}}</h2>
        <div class="accordion" id="faqAccordion">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        {{translations.how_to_create_ai_beauty}}
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        <p>{{translations.step_1}}</p>
                        <p>{{translations.step_2}}</p>
                        <p>{{translations.step_3}}</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        {{translations.can_i_create_ai_beauties_for_free}}
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        <p>{{translations.yes_free_signup_for_credits}}</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        {{translations.what_is_ai_beauty}}
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        <p>{{translations.ai_beauty_description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

    <style>
        footer{display: inline !important;}
        .sticky-bottom{display: inline-block !important;width: 100%;}
    </style>
 {{> dashboard-footer}}
<script src="https://js.stripe.com/v3/"></script>
<script src="/js/plan.js"></script>    
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script>
        const swiper = new Swiper('.swiper', {
            slidesPerView: 1.9, // Display 1 full slide and part of the next slide
            centeredSlides: true, // Center the visible slide
            loop: true,
            spaceBetween: 0, // Space between slides (adjust as needed)
            autoplay: {
                delay: 3000,
                disableOnInteraction: false,
            },
        });
    </script>