<!DOCTYPE html>
<html lang="en">
   {{> dashboard-header}}
<body>
    {{> dashboard-nav}}

<section>
    <style>
    #intro {
        background-image: url('/img/lpbanner/{{bannerNumber}}.png');
        background-size: contain;
        background-position: right;
        min-height: 760px;
        display: flex;
        align-items: center;
    }

    @media (max-width: 768px) {
        #intro {
            background-image: none;
        }
    }
    </style>

    <div id="intro" class="bg-image shadow-0" >
        <div class="row container align-items-center h-100 m-auto">
            <div class="col-12 col-md-6 py-5">
                <h1 class="mb-3 fw-bold u-color-grad text-start" id="headline-container">
                </h1>
                <div class="text-start animate__animated"  data-animate="animate__fadeIn" id="subheadline-container">
                    {{translations.landing_page.banner.[bannerNumber].subtitle}}
                </div>
                <div class="text-center d-flex flex-column justify-content-start align-items-start mt-3 animate__animated"  data-animate="animate__fadeIn">
                    <a href="#" onclick="openLoginForm()" class="btn custom-gradient-bg text-white btn-lg m-2 px-5 py-3 mb-3 cta-button fw-bold" role="button" style="border-radius: 50px;">
                        {{translations.landing_page.cta_button}}
                    </a>
                </div>
                <div class="col-12 py-3 d-block d-sm-none">
                    <img src="img/lpbanner/{{bannerNumber}}.png" alt="" width="100%" class="me-2 d-block d-sm-none animate__animated" data-animate="animate__zoomIn">
                </div>
            </div>
        </div>
    </div>

    <div class="container text-center mt-5 pt-5 animate__animated"  data-animate="animate__fadeIn">
        <p class="fw-bold text-center fs-1 text-dark p-3 mb-0 rounded animate__animated animate__fadeInLeft"  data-animate="animate__fadeInLeft">
            {{translations.landing_page.main_heading2}}
        </p>
        <p class="text-center fs-5 animate__animated"  data-animate="animate__fadeIn">
            {{translations.landing_page.sub_heading2}} 
        </p>
    </div>
        <div class="row mx-0" data-animate="animate__zoomIn">
            <div class="p-3 text-center">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="/img/topswiper/img4.jpeg" alt="Image 4"></div>
                        <div class="swiper-slide"><img src="/img/topswiper/img5.jpeg" alt="Image 5"></div>
                        <div class="swiper-slide"><img src="/img/topswiper/img1.jpeg" alt="Image 1"></div>
                        <div class="swiper-slide"><img src="/img/topswiper/img6.jpeg" alt="Image 6"></div>
                        <div class="swiper-slide"><img src="/img/topswiper/img7.jpeg" alt="Image 7"></div>
                        <div class="swiper-slide"><img src="/img/topswiper/img2.jpeg" alt="Image 2"></div>
                        <div class="swiper-slide"><img src="/img/topswiper/img8.jpeg" alt="Image 8"></div>
                        <div class="swiper-slide"><img src="/img/topswiper/img9.jpeg" alt="Image 9"></div>
                        <div class="swiper-slide"><img src="/img/topswiper/img3.jpeg" alt="Image 3"></div>
                        <div class="swiper-slide"><img src="/img/topswiper/img10.jpeg" alt="Image 10"></div>
                        <div class="swiper-slide"><img src="/img/topswiper/img11.jpeg" alt="Image 11"></div>
                    </div>
                </div>

                <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
                <script>
                    const swiper = new Swiper('.swiper', {
                        centeredSlides: true, // Center the visible slide
                        loop: true,
                        spaceBetween: 20, // Default space between slides
                        autoplay: {
                            delay: 3000,
                            disableOnInteraction: false,
                        },
                        breakpoints: {
                            // When window width is <= 768px
                            768: {
                                slidesPerView: 1.2, // Show 1 full slide and a part of the next slide
                                spaceBetween: 10, // Reduce space for better layout on smaller screens
                            },
                            // When window width is > 768px and <= 1200px
                            1200: {
                                slidesPerView: 2.9, // Display more slides on medium screens
                                spaceBetween: 20, // Space between slides
                            },
                            // When window width is > 1200px
                            1201: {
                                slidesPerView: 3.9, // Display 3.9 slides on larger screens
                                spaceBetween: 30, // Add more space for larger screens
                            }
                        }
                    });
                </script>

                <style>
                    .swiper {
                        width: 100%;
                        height: 600px; /* Adjust as needed */
                    }
                    .swiper-slide img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 10%;
                    }
                </style>
            </div>
        </div>
    <div class="container text-center mb-5 pb-5 animate__animated" data-animate="animate__fadeIn">
        <div class="mt-4 animate__animated" data-animate="animate__fadeInUp">
            <a href="#" onclick="openLoginForm()" class="btn custom-gradient-bg btn-lg fw-bold text-white rounded-pill shadow-lg">
                {{translations.landing_page.cta_button2}}
            </a>
        </div>
    </div>

    <!-- Section 3: Social Proof-->
    <div class="container text-center mt-5 animate__animated" data-animate="animate__fadeIn">
        <p class="fw-bold text-center fs-1 text-dark p-3 mb-0 rounded animate__animated" data-animate="animate__fadeInLeft">
            {{translations.landing_page.main_heading3}}
        </p>
        <p class="text-center fs-5 animate__animated" data-animate="animate__fadeIn">
            {{translations.landing_page.sub_heading3}} 
        </p>
    </div>
    <section id="social_proof" class="w-100 px-4 py-5">
        <div class="row d-flex justify-content-center row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            <div class="col">
                <div class="card" style="border-radius: 15px;">
                    <div class="card-body p-4">
                        <div class="d-flex flex-column flex-md-row">
                            <div class="flex-shrink-0 text-center text-md-start mb-3 mb-md-0">
                                <img src="/img/avatar/1.jpg" alt="Generic placeholder image" class="img-fluid" style="width: 180px; border-radius: 10px;">
                            </div>
                            <div class="flex-grow-1 ms-md-3 text-center text-md-start">
                                <h5 class="mb-1">{{translations.landing_page.social_proof.name1}}</h5>
                                <p class="mb-2 pb-1">{{translations.landing_page.social_proof.title1}}</p>
                                <div class="d-flex justify-content-center justify-content-md-start rounded-3 p-2 mb-2 bg-body-tertiary">
                                    <div>
                                        <p class="small text-muted mb-1">{{translations.landing_page.social_proof.articles}}</p>
                                        <p class="mb-0">{{translations.landing_page.social_proof.articles_count1}}</p>
                                    </div>
                                    <div class="px-3">
                                        <p class="small text-muted mb-1">{{translations.landing_page.social_proof.followers}}</p>
                                        <p class="mb-0">{{translations.landing_page.social_proof.followers_count1}}</p>
                                    </div>
                                    <div>
                                        <p class="small text-muted mb-1">{{translations.landing_page.social_proof.rating}}</p>
                                        <p class="mb-0">{{translations.landing_page.social_proof.rating_value1}}</p>
                                    </div>
                                </div>
                                <div class="d-flex flex-column flex-md-row pt-1">
                                    <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn custom-gradient-bg-outline me-1 flex-grow-1 mb-2 mb-md-0">{{translations.landing_page.social_proof.chat}}</button>
                                    <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn custom-gradient-bg flex-grow-1">{{translations.landing_page.social_proof.follow}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="border-radius: 15px;">
                    <div class="card-body p-4">
                        <div class="d-flex flex-column flex-md-row">
                            <div class="flex-shrink-0 text-center text-md-start mb-3 mb-md-0">
                                <img src="/img/avatar/2.jpg" alt="Generic placeholder image" class="img-fluid" style="width: 180px; border-radius: 10px;">
                            </div>
                            <div class="flex-grow-1 ms-md-3 text-center text-md-start">
                                <h5 class="mb-1">{{translations.landing_page.social_proof.name2}}</h5>
                                <p class="mb-2 pb-1">{{translations.landing_page.social_proof.title2}}</p>
                                <div class="d-flex justify-content-center justify-content-md-start rounded-3 p-2 mb-2 bg-body-tertiary">
                                    <div>
                                        <p class="small text-muted mb-1">{{translations.landing_page.social_proof.articles}}</p>
                                        <p class="mb-0">{{translations.landing_page.social_proof.articles_count2}}</p>
                                    </div>
                                    <div class="px-3">
                                        <p class="small text-muted mb-1">{{translations.landing_page.social_proof.followers}}</p>
                                        <p class="mb-0">{{translations.landing_page.social_proof.followers_count2}}</p>
                                    </div>
                                    <div>
                                        <p class="small text-muted mb-1">{{translations.landing_page.social_proof.rating}}</p>
                                        <p class="mb-0">{{translations.landing_page.social_proof.rating_value2}}</p>
                                    </div>
                                </div>
                                <div class="d-flex flex-column flex-md-row pt-1">
                                    <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn custom-gradient-bg-outline me-1 flex-grow-1 mb-2 mb-md-0">{{translations.landing_page.social_proof.chat}}</button>
                                    <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn custom-gradient-bg flex-grow-1">{{translations.landing_page.social_proof.follow}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="border-radius: 15px;">
                    <div class="card-body p-4">
                        <div class="d-flex flex-column flex-md-row">
                            <div class="flex-shrink-0 text-center text-md-start mb-3 mb-md-0">
                                <img src="/img/avatar/3.jpg" alt="Generic placeholder image" class="img-fluid" style="width: 180px; border-radius: 10px;">
                            </div>
                            <div class="flex-grow-1 ms-md-3 text-center text-md-start">
                                <h5 class="mb-1">{{translations.landing_page.social_proof.name3}}</h5>
                                <p class="mb-2 pb-1">{{translations.landing_page.social_proof.title3}}</p>
                                <div class="d-flex justify-content-center justify-content-md-start rounded-3 p-2 mb-2 bg-body-tertiary">
                                    <div>
                                        <p class="small text-muted mb-1">{{translations.landing_page.social_proof.articles}}</p>
                                        <p class="mb-0">{{translations.landing_page.social_proof.articles_count3}}</p>
                                    </div>
                                    <div class="px-3">
                                        <p class="small text-muted mb-1">{{translations.landing_page.social_proof.followers}}</p>
                                        <p class="mb-0">{{translations.landing_page.social_proof.followers_count3}}</p>
                                    </div>
                                    <div>
                                        <p class="small text-muted mb-1">{{translations.landing_page.social_proof.rating}}</p>
                                        <p class="mb-0">{{translations.landing_page.social_proof.rating_value3}}</p>
                                    </div>
                                </div>
                                <div class="d-flex flex-column flex-md-row pt-1">
                                    <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn custom-gradient-bg-outline me-1 flex-grow-1 mb-2 mb-md-0">{{translations.landing_page.social_proof.chat}}</button>
                                    <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn custom-gradient-bg flex-grow-1">{{translations.landing_page.social_proof.follow}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="border-radius: 15px;">
                    <div class="card-body p-4">
                        <div class="d-flex flex-column flex-md-row">
                            <div class="flex-shrink-0 text-center text-md-start mb-3 mb-md-0">
                                <img src="/img/avatar/4.jpg" alt="Generic placeholder image" class="img-fluid" style="width: 180px; border-radius: 10px;">
                            </div>
                            <div class="flex-grow-1 ms-md-3 text-center text-md-start">
                                <h5 class="mb-1">{{translations.landing_page.social_proof.name4}}</h5>
                                <p class="mb-2 pb-1">{{translations.landing_page.social_proof.title4}}</p>
                                <div class="d-flex justify-content-center justify-content-md-start rounded-3 p-2 mb-2 bg-body-tertiary">
                                    <div>
                                        <p class="small text-muted mb-1">{{translations.landing_page.social_proof.articles}}</p>
                                        <p class="mb-0">{{translations.landing_page.social_proof.articles_count4}}</p>
                                    </div>
                                    <div class="px-3">
                                        <p class="small text-muted mb-1">{{translations.landing_page.social_proof.followers}}</p>
                                        <p class="mb-0">{{translations.landing_page.social_proof.followers_count4}}</p>
                                    </div>
                                    <div>
                                        <p class="small text-muted mb-1">{{translations.landing_page.social_proof.rating}}</p>
                                        <p class="mb-0">{{translations.landing_page.social_proof.rating_value4}}</p>
                                    </div>
                                </div>
                                <div class="d-flex flex-column flex-md-row pt-1">
                                    <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn custom-gradient-bg-outline me-1 flex-grow-1 mb-2 mb-md-0">{{translations.landing_page.social_proof.chat}}</button>
                                    <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn custom-gradient-bg flex-grow-1">{{translations.landing_page.social_proof.follow}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section 4 -->
    <div class="container text-center mt-5 animate__animated" data-animate="animate__fadeIn">
        <p class="fw-bold text-center fs-1 text-dark p-3 mb-0 rounded animate__animated" data-animate="animate__fadeInLeft">
            {{translations.landing_page.main_heading4}}
        </p>
        <p class="text-center fs-5 animate__animated" data-animate="animate__fadeIn">
            {{translations.landing_page.sub_heading4}} 
        </p>
    </div>

    <div class="container mt-4">
        <h3 class="my-4 text-center col-8 m-auto">#{{translations.cute}} #{{translations.beautiful_girl}} #{{translations.sexy}}#{{translations.open_legs}} #{{translations.big_breasts}} #{{translations.on_all_fours}}</h3>
    </div>


    <div class="container text-center pb-3 animate__animated" data-animate="animate__fadeIn">
        <div class="row mx-0">
            <div class="col-md-6 text-end">
                <img class="rounded" height="400px" src="/img/topimg9.jpeg" alt="Image 9" class="img-fluid">
            </div>
            <div class="col-md-6 text-start">
                <img class="rounded" height="400px"  src="/img/topimg10.jpeg" alt="Image 10" class="img-fluid">
            </div>
        </div>
    </div>

    <!-- Carousel Advices -->
    <div id="adviceCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
        <div class="carousel-inner">
            <!-- Carousel Item 1 -->
            <div class="carousel-item active">
                <div class="container text-center" >
                    <h4 class="fw-bold u-color-grad" >{{translations.advice.advice_title_1}}</h4>
                    <p class="text-muted">{{translations.advice.advice_text_1}}</p>
                </div>
            </div>
            <!-- Carousel Item 2 -->
            <div class="carousel-item">
                <div class="container text-center">
                    <h4 class="fw-bold u-color-grad">{{translations.advice.advice_title_2}}</h4>
                    <p class="text-muted">{{translations.advice.advice_text_2}}</p>
                </div>
            </div>
            <!-- Carousel Item 3 -->
            <div class="carousel-item">
                <div class="container text-center">
                    <h4 class="fw-bold u-color-grad">{{translations.advice.advice_title_3}}</h4>
                    <p class="text-muted">{{translations.advice.advice_text_3}}</p>
                </div>
            </div>
            <!-- Carousel Item 4 -->
            <div class="carousel-item">
                <div class="container text-center">
                    <h4 class="fw-bold u-color-grad">{{translations.advice.advice_title_4}}</h4>
                    <p class="text-muted">{{translations.advice.advice_text_4}}</p>
                </div>
            </div>
            <!-- Carousel Item 5 -->
            <div class="carousel-item">
                <div class="container text-center">
                    <h4 class="fw-bold u-color-grad">{{translations.advice.advice_title_5}}</h4>
                    <p class="text-muted">{{translations.advice.advice_text_5}}</p>
                </div>
            </div>
            <!-- Carousel Item 6 -->
            <div class="carousel-item">
                <div class="container text-center">
                    <h4 class="fw-bold u-color-grad">{{translations.advice.advice_title_6}}</h4>
                    <p class="text-muted">{{translations.advice.advice_text_6}}</p>
                </div>
            </div>
        </div>
        <!-- Controls -->
        <button class="carousel-control-prev" type="button" data-bs-target="#adviceCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon text-transparent" aria-hidden="true"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#adviceCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon text-transparent" aria-hidden="true"></span>
        </button>
    </div>
    
    <div class="container text-center mb-5 pb-5 animate__animated" data-animate="animate__fadeIn">
        <div class="mt-4 animate__animated" data-animate="animate__fadeIn">
            <a href="#" onclick="openLoginForm()" class="btn custom-gradient-bg btn-lg fw-bold text-white rounded-pill shadow-lg">
                {{translations.landing_page.cta_button4}}
            </a>
        </div>
    </div>

</section>

<style>
    footer{display: inline !important;}
</style>
 {{> dashboard-footer}}
<script src="https://js.stripe.com/v3/"></script>
<script src="/js/plan.js"></script>    
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <script>
        // Redirect to the authentication page when a button is clicked
        $(document).find('#social_proof button').click(function() {
            openLoginForm();
        });
    </script>

    <script>
        const headline = document.getElementById('headline-container');
        const subheadline = document.getElementById('subheadline-container');
        const bannerNumber = `{{bannerNumber}}`;
        const title = translations.landing_page.banner[bannerNumber].title;
        const subtitle = translations.landing_page.banner[bannerNumber].subtitle;
        console.log(title,subtitle);

        headline.innerHTML = '<p>' + title + '</p>';
        subheadline.innerHTML = subtitle;
    </script>
</body>
</html>