<div 
class="d-flex justify-content-center align-items-center text-center text-white w-100 shadow px-3"
style="min-height: 100px; border-bottom: 4px solid var(--bs-indigo); z-index: 1000; border-radius: 0; background: linear-gradient(to right, color(display-p3 0.094 0 0.2), color(srgb 0.3974 0 0.6667));">
    <h1 class="me-3 mb-0 text-uppercase fw-bold">{{translations.new_user_discount}}</h1>
    <div id="countdown-timer" class="countdown-timer fs-4"></div>
</div>
<script>startCountdown();</script>
<div id="pricing-container" class="container pricing-container">
    <h2>{{translations.plan_page.choose_your_plan}}</h2>
    <span class="fs-5 fw-bold">{{translations.plan_page.choose_your_plan_description}}</span>
    <p class="pricing-description fs-6">
        {{translations.premium_advantage.all_features_including_chat_image_generation_and_message_suggestions_are_available_without_limit}} 
        <br>
        {{translations.premium_advantage.early_access_and_multiple_chat_options_included}}
    </p>
    <div class="plan-cards-none m-0 container m-auto justify-content-center row" id="planCards">
        <!-- The plan cards will be dynamically inserted here -->
    </div>
    <span style="font-size: 12px;">{{translations.secure_payment_methods}} <a href="https://stripe.com/jp/resources/more/secure-payment-systems-explained" target="_blank"><img src="/img/stripe-logo.png" style="height: 30px;width: auto;"></a> {{translations.are_used}}</span>
    <!-- Gird of payment methods -->
    <div class="payment-methods">
        <img src="/img/payment-methods/visa.png" alt="Visa" title="Visa">
        <img src="/img/payment-methods/mastercard.png" alt="Mastercard" title="Mastercard">
        <img src="/img/payment-methods/amex.png" alt="American Express" title="American Express">
        <img src="/img/payment-methods/applepay.png" alt="Apple Pay" title="Apple Pay">
        <img src="/img/payment-methods/jcb.png" alt="JCB" title="JCB">
        <img src="/img/payment-methods/id.png" alt="ID" title="ID">
    </div>
    <div class="feature-list-container mt-3">
        <h4 class="fw-blod text-muted">{{translations.plan_page.features}}</h4>
        <div id="featureList" class="feature-list">
            <!-- The features will be dynamically inserted here -->
    </div>
</div>