<div id="pricing-container" class="container pricing-container">
    <p class="pricing-description fs-6">
        {{translations.premium_advantage.all_features_including_chat_image_generation_and_message_suggestions_are_available_without_limit}} 
        <br>
        {{translations.premium_advantage.early_access_and_multiple_chat_options_included}}
    </p>
    <div class="switch-button-container">
        <label class="switch">
            <input type="checkbox" id="plan-switch">
            <span class="slider round"></span>
            <span class="label monthly">{{translations.monthly}}</span>
            <span class="label yearly" select>{{translations.yearly}}</span>
        </label>
    </div>
    <p>{{translations.enjoy_even_better_offers_with_annual_plan}}</p>
    <div class="plan-cards-none d-flex m-0 container m-auto justify-content-center" style="overflow-x:scroll" id="planCards">
        <!-- The plan cards will be dynamically inserted here -->
    </div>
    <span style="font-size: 12px;">{{translations.secure_payment_methods}} <a href="https://stripe.com/jp/resources/more/secure-payment-systems-explained" target="_blank"><img src="/img/stripe-logo.png" style="height: 30px;width: auto;"></a> {{translations.are_used}}</span>
   <section class="container">
    <div class="card cancel-policy my-3">
            <div class="card-body">
                <h5 class="card-title">{{translations.cancel_policy}}</h5>
                <span class="card-text">{{translations.cancel_policy_description}}</span>
                <br>
                <span class="card-text" style="font-size: 14px;">{{translations.cancel_policy_description2}}</span>
            </div>
        </div>
    </section>
</div>
<section class="bg-light">
    <div class="container py-5">
        <h2 class="display-4 fw-bold text-center mb-3">{{translations.frequently_asked_questions_on_lamix}}</h2>
        <div class="accordion" id="faqAccordion">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        {{translations.how_to_create_ai_beauty}}
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        <p>{{translations.step_1}}</p>
                        <p>{{translations.step_2}}</p>
                        <p>{{translations.step_3}}</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        {{translations.what_is_ai_beauty}}
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        <p>{{translations.ai_beauty_description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
