<!DOCTYPE html>
<html lang="{{user.lang}}">
  {{> dashboard-header}}
<body>
    {{> dashboard-nav}}
  <style>
    .style-option {
        width: 75px;
        cursor:pointer;
    }
    .style-option.selected {
        border: 2px solid #000;
    }
  </style>
  <section class="container my-5">                            
    <p class="u-color-grad" style="font-size: 54px;"><img src="/img/logo.webp" alt="" class="me-2" width="40px">Lamix</p>
    <span class="text-muted">{{translations.ai_character_conversation}}</span>
    <h3>{{translations.free_ai_chat_and_image_generation}}</h3>
    <p>{{translations.seo.description}}</p>
    <hr>
    <h1 class="mb-4">{{title}}</h1>
    <form id="search-form" action="/search" method="get" class="row g-3">
        <div class="col-md-4">
            <div class="input-group">
                <input type="text" name="q" value="{{query}}" class="form-control" placeholder="{{translations.search_placeholder}}">
                <button type="submit" class="btn btn-primary">{{translations.search_button}}</button>
            </div>
        </div>
        <div class="col-md-12">
            <h3>{{translations.image_style}}</h3>
            <p class="text-muted">{{translations.newCharacter.imageStyleSelectionDescription}}</p>
            <div id="imageStyleSelection" class="d-flex" style="overflow-x: auto;">
            </div>
            <input type="hidden" id="imageStyle" name="imageStyle" value="anime">
            <input type="hidden" id="imageModel" name="imageModel" value="novaAnimeXL_ponyV20_461138">
        </div>
    </form>
    <hr>
    <h3>{{translations.chat_gallery}}</h3>
    <p class="text-muted">{{translations.chat_gallery_description}}</p>
    <div id="chat-gallery" class="row mx-0 mt-4"></div>
    <div id="chat-pagination-controls" class="d-flex justify-content-center my-3"></div>
    <div class="d-flex justify-content-center mt-4">
        <a href="/chat" class="btn custom-gradient-bg w-100">{{translations.startChatting}}</a>
    </div>
    <hr>

    <h3>{{translations.result_image_query}} | {{query}}</h3>
    <div class="all-chats-images-gallery row" data-query="{{query}}"></div>
    <div class="d-flex justify-content-center mt-4">
        <a href="/character" class="btn custom-gradient-bg w-100">{{translations.view_all_character}}</a>
    </div>
    <hr>

    <h3>{{translations.search_ai_character_by_tag}}</h3>
    <div id="tags-container"></div>
    <div class="d-flex justify-content-center mt-4">
        <a href="/tags" class="btn custom-gradient-bg w-100">{{translations.view_all_tags}}</a>
    </div>
</section>
    <style>
  footer{display: inline !important;}
  .sticky-bottom{display: inline-block !important;width: 100%;}
  </style>
  {{> dashboard-footer}}
  <script>
    const user = {{{json user}}}
    const query = '{{query}}';
    const imageStyle = '{{imageStyle}}';
    const imageModel = '{{imageModel}}'
    const data = {{{json data}}} || [];
    $(document).ready(function() {
        let visibleChatId = data.recent.map(chat => chat._id);

        $(document).on('click','.style-option',function(event){
            if($(this).hasClass('is-premium') && user.isTemporary){
                openLoginForm()
                return
            }
            if($(this).hasClass('is-premium') && !user.isTemporary && user.subscriptionStatus !== 'active'){
                loadPlanPage()
                return
            }
            $('.style-option').removeClass('selected');
            $(this).addClass('selected');
            $('#imageStyle').val($(this).data('value'));
            $('#imageModel').val($(this).data('model'));
            
            // Update the history state
            const newUrl = `/search?query=${encodeURIComponent(query)}&imageStyle=${$(this).data('value')}&imageModel=${$(this).data('model')}`;
            history.pushState(null, '', newUrl);
            displayTags($(this).data('value'))         

            $('#chat-gallery').empty();
            $('.all-chats-images-gallery').empty();
            visibleChatId = []
            displayPeopleChat(1, { imageStyle:$(this).data('value'), imageModel:$(this).data('model'), query },function(displayedChatId){
                visibleChatId = displayedChatId
                resultImageSearch(1, query, imageStyle, function(images) {
                    const uniqueChatIds = [...new Set(images.map(image => image.chatId).filter(id => !visibleChatId.includes(id)))];
                    const chatData = uniqueChatIds.map(id => images.find(image => image.chatId === id));
                    displayChats(chatData)
                });
            });
        });

        if(query && query.trim() != ''){
            $(`.style-option[data-value="${imageStyle}"]`).click()
        }
        
        displayTags(imageStyle)
    });
    
    // jQuery function to display tags
    function displayTags(imageStyle) {
        let tags;
        if (!tags || !tags.length) {
            $.get(`/api/tags`, function(response) {
            const totalPages = response.totalPages;
            const randomPage = Math.floor(Math.random() * totalPages) + 1; // Random page number between 1 and totalPages
            $.get(`/api/tags?page=${randomPage}`, function(response) {
                tags = response.tags;
                renderTags(tags,imageStyle);
            });
            });
        } else {
            renderTags(tags,imageStyle);
        }
    }


  </script>
</body>
</html>
