<!DOCTYPE html>
<html lang="{{user.lang}}">
  {{> dashboard-header}}
<body>
    {{> dashboard-nav}}
  <style>
    .style-option {
        width: 75px;
        cursor:pointer;
    }
    .style-option.selected {
        border: 2px solid #000;
    }
  </style>
  <section class="container my-5">                            
    <p class="u-color-grad" style="font-size: 54px;"><img src="/img/logo.webp" alt="" class="me-2" width="40px">Lamix</p>
    <span class="text-muted">AIキャラクターと会話しよう！</span>
    <h3>無料のAIチャットと画像生成サイト</h3>
    <hr>
    <h1 class="mb-4">{{title}}</h1>
    <form id="search-form" action="/search" method="get" class="row g-3">
        <div class="col-md-4">
            <div class="input-group">
                <input type="text" name="q" value="{{query}}" class="form-control" placeholder="検索ワードを入力してください">
                <button type="submit" class="btn btn-primary">検索</button>
            </div>
        </div>
        <div class="col-md-12">
            <label class="form-label">画像スタイル</label>
            <div id="imageStyleSelection" class="d-flex">
                <img src="/img/anime.jpeg" alt="アニメ" class="style-option rounded me-2 selected" data-value="anime">
                <img src="/img/real.jpeg" alt="リアリスティック" class="style-option rounded" data-value="realistic">
            </div>
            <input type="hidden" id="imageStyle" name="imageStyle" value="anime">
        </div>
    </form>
    <div id="chat-gallery" class="row mx-0 mt-4"></div>
    <div id="chat-pagination-controls" class="d-flex justify-content-center my-3"></div>
    <h3>タグでAIキャラを検索する</h3>
    <div id="tags-container"></div>
  </section>
  {{> dashboard-footer}}
  <script>
    $(document).ready(function() {
      const query = '{{query}}';
      const imageStyle = '{{imageStyle}}'
        $('.style-option').click(function(){
            $('.style-option').removeClass('selected');
            $(this).addClass('selected');
            $('#imageStyle').val($(this).data('value'));

            // Update the history state
            const newUrl = `/search?q=${encodeURIComponent(query)}&imageStyle=${$(this).data('value')}`;
            history.pushState(null, '', newUrl);

            $('#chat-gallery').empty()
            displayPeopleChat(1, $(this).data('value'), query);
        });
        console.log({query})
        if(query && query.trim() != ''){
            $(`.style-option[data-value="${imageStyle}"]`).click()
            displayPeopleChat(1, imageStyle, query);
        }
            displayTags()
    });
    // jQuery function to display tags
    function displayTags() {
        let tags = JSON.parse(localStorage.getItem('tags'));
        if (!tags || !tags.length) {
            $.get('/api/tags', function(response) {
            tags = response.tags;
            localStorage.setItem('tags', JSON.stringify(tags));
            renderTags(tags);
            });
        } else {
            renderTags(tags);
        }
    }

    function renderTags(tags) {
        const html = tags.length ? `<div style="color: rgb(165 164 164);opacity:0.8; bottom:10px;left:10px;right:10px;">
            <div class="tags d-flex justify-content-between align-items-center flex-wrap">
            ${tags.map(tag => `<a href="/search?q=${encodeURIComponent(tag)}" class="badge bg-dark m-2">${tag}</a>`).join('')}
            </div>
        </div>` : '';
        $('#tags-container').html(html);
    }
  </script>
</body>
</html>
