<!DOCTYPE html>
<html lang="{{user.lang}}">
  {{> dashboard-header}}
<body>
    {{> dashboard-nav}}
  <section class="container my-5">                            
    <p class="u-color-grad" style="font-size: 54px;"><img src="/img/logo.webp" alt="" class="me-2" width="40px">Lamix</p>
    <span class="text-muted">{{translations.ai_character_conversation}}</span>
    <h3>{{translations.free_ai_chat_and_image_generation}}</h3>
    <p>{{translations.seo.description}}</p>
    <hr>
    <h1 class="mb-4">{{title}}</h1>
    <form id="search-form" action="/search" method="get" class="row g-3">
        <div class="col-md-4">
            <div class="input-group">
                <input type="text" name="q" value="{{query}}" class="form-control" placeholder="{{translations.search_placeholder}}">
                <button type="submit" class="btn btn-primary">{{translations.search_button}}</button>
            </div>
        </div>
    </form>

    <hr>
    
    <h3>{{translations.chat_gallery}}</h3>
    <p class="text-muted">{{translations.chat_gallery_description}}</p>
    <div id="chat-gallery" class="row mx-0 mt-4"></div>
    <div id="chat-pagination-controls" class="d-flex justify-content-center my-3"></div>
    <div class="d-flex justify-content-center mt-4">
        <a href="/chat" class="btn custom-gradient-bg w-100">{{translations.startChatting}}</a>
    </div>
    <hr>

    <h3>{{translations.result_image_query}} | {{query}}</h3>
    <div class="all-chats-images-gallery row" data-query="{{query}}"></div>
    <div class="d-flex justify-content-center mt-4">
        <a href="/character" class="btn custom-gradient-bg w-100">{{translations.view_all_character}}</a>
    </div>
    <hr>

    <h3>{{translations.search_ai_character_by_tag}}</h3>
    <div id="tags-container"></div>
    <div class="d-flex justify-content-center mt-4">
        <a href="/tags" class="btn custom-gradient-bg w-100">{{translations.view_all_tags}}</a>
    </div>
</section>
    <style>
  footer{display: inline !important;}
  .sticky-bottom{display: inline-block !important;width: 100%;}
  .flagged-true { display: inline-block !important; }
  </style>
  {{> dashboard-footer}}
  <script>
    const user = {{{json user}}}
    const query = '{{query}}';
    const data = {{{json data}}} || [];
    $(document).ready(function() {
        let visibleChatId = (data.recent || []).map(chat => String(chat._id));
        displayPeopleChat(1, { query }, function(displayedChatId){
            // Ensure all IDs are strings for comparison
            visibleChatId = (displayedChatId || []).map(id => String(id));
            resultImageSearch(1, query, null, function(images) {
                // Only display chats for images whose chatId is not in visibleChatId
                const chatIdsFromImages = images.map(image => String(image.chatId));
                const uniqueChatIds = [...new Set(chatIdsFromImages.filter(id => !visibleChatId.includes(id)))];
                const chatData = uniqueChatIds.map(id => images.find(image => String(image.chatId) === id));
                displayChats(chatData);
            });
        });
        displayTags(null);
    });
    
    // jQuery function to display tags
    function displayTags(imageStyle) {
        let tags;
        if (!tags || !tags.length) {
            $.get(`/api/tags`, function(response) {
            const totalPages = response.totalPages;
            const randomPage = Math.floor(Math.random() * totalPages) + 1; // Random page number between 1 and totalPages
            $.get(`/api/tags?page=${randomPage}`, function(response) {
                tags = response.tags;
                renderTags(tags,imageStyle);
            });
            });
        } else {
            renderTags(tags,imageStyle);
        }
    }


  </script>
</body>
</html>
