<!DOCTYPE html>
<html lang="ja">
       {{> dashboard-header}}
<body>
    {{> dashboard-nav}}
    <style>
        footer{display:none}
        .isLoading .fa-image{
            display: none;
        }
        .isLoading .fa-spin{
            display: inherit !important;
        }
        
        .custom-gradient-bg {
            background: linear-gradient(90.9deg, #D2B8FF 2.74%, #8240FF 102.92%);
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            position: relative;
            overflow: hidden;
            transition: color 0.3s ease-in-out;
        }

        .custom-gradient-bg::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 300%;
            height: 300%;
            background: radial-gradient(circle, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 80%);
            transform: translate(-50%, -50%) scale(0);
            transition: transform 0.5s ease-in-out;
            z-index: 0;
        }

        .custom-gradient-bg:hover::before {
            transform: translate(-50%, -50%) scale(1);
        }

        .custom-gradient-bg:hover {
            color: #fff;
        }

        .text-muted {
            color: #aeb0b4 !important;
            font-weight: 300;
        }
        .u-color-grad {
          background: linear-gradient(90.9deg, rgba(110, 32, 244, 0.5) 2.74%, #6E20F4 102.92%);
            background-clip: border-box;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          margin-right: 6px;
          letter-spacing: 0;
          font-size: 26px;
          line-height: 1;
        }
        .avatar{
            object-fit: cover;
            object-position: top;
            width: 32px;
        }
        .card-img-top.girls_avatar {
            object-fit: cover;
            object-position: top;
            width: 100%;  
            margin: auto;
            border-radius: 15px;
            height: 350px;
            padding: 0 5px;  
            background-position: top;
            background-size: cover;
        }
        .swal-image.analyze{
            object-fit: cover;
            object-position: top;
            width: auto !important;
            height: 200px !important;
            border-radius: 6px !important;
        }
        .card-header, .card-footer {
            flex-shrink: 0;
        }
        .card-body {
            flex-grow: 1;
            overflow-y: auto;
            position: relative;
        }
        .chat-contain .card-body{
                width: 100%;
        }
        .character-title{
            font-weight: 600;
            font-size: 16px;
            color: black;
        }
        .character-short-description {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            font-size: 13px;
        }
        .scroll-horizontal {
            flex-wrap: nowrap;
            width: 100%;
            flex-direction: row;
            overflow-x: scroll;
        }
        @media (max-width: 600px) {
            .chat-contain .card-body{
                width: 100%;
            }
        }
    </style>
<section class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="user-profile mt-4"></div>
        <form id="user-info-form">
          <div class="row mb-3">
            <div id="profileSection" class="text-center">
              <div class="mx-auto p-auto text-center d-flex align-items-center justify-content-center position-relative mb-2">
                <img id="profileImage" src="{{default userData.profileUrl '/img/avatar.png'}}" alt="{{translations.profile.thumbnailAlt}}" class="rounded-circle" 
                style="width: 100px; height: 100px; object-fit: cover; object-position: top;cursor:pointer;">
                <i type="button" class="fas fa-edit position-absolute {{#if isAdmin}}{{else}}d-none{{/if}}" style="bottom: 5px; font-size: 1em; color: white; background-color: rgba(0, 0, 0, 0.5); border-radius: 50%; padding: 5px;cursor:pointer;"></i>
              </div>
              <h2>{{userData.nickname}}</h2>
              </a>
              <div class="d-flex flex-wrap justify-content-center text-center">
                <div class="mx-2 posts-tab d-none" type="button">
                  <h6 class="fw-bold">{{default userData.postCount 0}}</h6>
                  <p class="text-muted small"><i class="bi bi-grid-fill"></i> {{translations.profile.posts}}</p>
                </div>
                <div class="mx-2 likes-tab" type="button">
                  <h6 class="fw-bold">{{default userData.imageLikeCount 0}}</h6>
                  <p class="text-muted small"><i class="bi bi-heart-fill"></i> {{translations.profile.likes}}</p>
                </div>
                <div class="mx-2 characters-tab" type="button">
                  <h6 class="fw-bold">{{default userData.chatCount 0}}</h6>
                  <p class="text-muted small">
                    <i class="bi bi-chat-dots-fill"></i> {{translations.profile.characters}}
                  </p>
                </div>
                <div class="mx-2">
                  <h6 class="fw-bold">{{default userData.followCount 0}}</h6>
                  <p class="text-muted small">
                    <a href="/follower/{{userData._id}}?type=following" class="text-decoration-none text-muted ">
                      <i class="bi bi-person-check-fill"></i> {{translations.profile.following}}
                    </a>
                  </p>
                </div>
                <div class="mx-2">
                  <h6 class="fw-bold">{{default userData.followerCount 0}}</h6>
                  <p class="text-muted small">
                    <a href="/follower/{{userData._id}}?type=followers" class="text-decoration-none text-muted ">
                      <i class="bi bi-people-fill"></i> {{translations.profile.followers}}
                    </a>
                  </p>
                </div>
              </div>
              <span class="btn btn-light me-2 d-none"  onclick="showCoinShop(this)">
                <span>🪙</span>
                <span class="user-coins fw-bold">{{userData.coins}}</span>
              </span>
              {{#if isAdmin}}
              {{else}}
              <span class="btn custom-gradient-bg me-2 follow-button {{#if userData.follow}}following{{/if}}" data-user-id="{{userData._id}}">
                <span class="user-follow fw-bold">
                  {{#if userData.follow}}
                    {{translations.profile.following}}
                  {{else}}
                    {{translations.profile.follow}}
                  {{/if}}
                </span>
              </span>
              {{/if}}
              <p class="m-1 p-3" style="font-size: 14px;color: #555;">
                {{userData.bio}}
              </p>
            </div>
          </div>

          <div class="mb-3 mx-3" id="thumbnailInputContainer" style="display: none;">
            <input type="file" class="form-control" id="profileImageInput" name="profileImageInput" accept="image/*">
          </div>
        </form>
      </div>
    </div>
</section>
<section>
    <div class="col-12 mt-4">
        <ul class="nav nav-tabs mb-2" id="characterTabs" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link d-none" id="post-tab" data-bs-toggle="tab" data-bs-target="#post" type="button" role="tab" aria-controls="post" aria-selected="true">{{translations.tabs.posts}}</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link d-none" id="post-like-tab" data-bs-toggle="tab" data-bs-target="#post-like" type="button" role="tab" aria-controls="post-like" aria-selected="true">{{translations.tabs.likedPosts}}</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="image-tab" data-bs-toggle="tab" data-bs-target="#image" type="button" role="tab" aria-controls="image" aria-selected="false">{{translations.tabs.liked}}</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="user-chat-tab" data-bs-toggle="tab" data-bs-target="#user-chat" type="button" role="tab" aria-controls="user-chat" aria-selected="false">{{translations.tabs.characters}}</button>
            </li>
        </ul>
        <div class="tab-content mx-3">
            <div class="tab-pane fade d-none" id="post" role="tabpanel" aria-labelledby="post-tab">
              <div id="user-posts-gallery" class="row g-3"></div>
              <div id="pagination-controls" class="d-flex justify-content-center my-3"></div>
            </div>
            <div class="tab-pane fade d-none" id="post-like" role="tabpanel" aria-labelledby="post-like-tab">
              <div id="user-posts-like" class="row g-3"></div>
              <div id="posts-like-pagination-controls" class="d-flex justify-content-center my-3"></div>
            </div>
            <div class="tab-pane fade show active" id="image" role="tabpanel" aria-labelledby="image-tab">
              <div id="user-images-gallery" class="row g-3"></div>
              <div id="images-pagination-controls" class="d-flex justify-content-center my-3"></div>
            </div>
            <div class="tab-pane fade" id="user-chat" role="tabpanel" aria-labelledby="user-chat-tab">
              <div id="user-chat-gallery" class="row g-3"></div>
              <div id="user-chat-pagination-controls" class="d-flex justify-content-center my-3"></div>
            </div>

        </div>
    </div>

</section>

<section class="py-3">
  <div class="container-0">

  </div>
</section>
<style>
  footer{display: inline !important;}
  .sticky-bottom{display: inline-block !important;width: 100%;}
</style>
{{> dashboard-footer}}
<script>
  $(document).ready(function(){
    const isAdmin = `{{isAdmin}}` == 'true'
    if(!isAdmin){return}
    $('#profileImage').parent().click(function() {
        $('#profileImageInput').click();
    });

    $('#profileImageInput').change(function(event) {
        const reader = new FileReader();
        reader.onload = function(e) {
            $('#profileImage').attr('src', e.target.result).show();
        }
        reader.readAsDataURL(event.target.files[0]);

        const formData = new FormData();
        const profileImage = $('#profileImageInput')[0].files[0];
        if (profileImage) {
          formData.append('profile', profileImage);
          $.ajax({
            url: '/user/update-info',
            method: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function(response) {
              Swal.fire({
                icon: 'success',
                title: '成功',
                text: response.status,
              });
            },
            error: function(jqXHR) {
              Swal.fire({
                icon: 'error',
                title: 'エラー',
                text: jqXHR.responseJSON.error,
              });
            }
          });
        }

    });
  })
</script>
<script>
    const userId = `{{{userData._id}}}`;
  $(document).ready(function(){
        $(document).on('click', '.open-chat', function(){
          const chatId = $(this).data('id');
          if (window.self !== window.top) {
            window.parent.postMessage({ event: 'openChat', chatId: chatId }, '*');
          } else {
            window.location = `/chat/${chatId}`
          }
        });
  });
</script>
<script>

  $(document).ready(function () {

    $('#post-tab').on('shown.bs.tab', function (e) {
      $('#user-posts-gallery').empty()
        loadUserPosts(userId, 1);
    });
    $('.posts-tab').on('click',function(){
      $('#post-tab').click()
    })

    $('#post-like-tab').on('shown.bs.tab', function (e) {
      $('#user-posts-like').empty()
        loadUserPosts(userId, 1, true);
    });

        loadUserImages(userId, 1);
    $('#image-tab').on('shown.bs.tab', function (e) {
      $('#user-images-gallery').empty()
        loadUserImages(userId, 1);
    });
    $('.likes-tab').on('click',function(){
       $('#image-tab').click()
    })

    $('#user-chat-tab').on('shown.bs.tab', function (e) {
      $('#user-chat-gallery').empty()
        displayUserChats(userId,1)
    });
    $('.characters-tab').on('click',function(){
      $('#user-chat-tab').click()
    })
  });
</script>
